{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
#PopCommunicationUpdate {display:none;}
</style>
<div class="PopCover" id="PopCommunicationUpdate">
	<div class="Popup">
		<div class="TitleSet">
			<div class="Close" OnClick="document.getElementById('PopCommunicationUpdate').style.display='none';">X</div>
			<div class="Title">Add New Log</div>
		</div>
		<div class="Contents">

		<form method="POST">
			{% csrf_token %}
			<input type="text" name="log_id" value="" hidden>
			<div class="InfoTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col width="110">
						<col>
					</colgroup>
					<tr>
						<th>Write : </th>
						<td class="InnerInputTD">
							<select name="writer" readonly>
								<option value="{{request.user.id}}" selected>{{request.user.first_name}} {{request.user.last_name}}</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Date : </th>
						<td class="InnerInputTD">
							<input type="text" class="TableInnerInput" size="10" value="{% now 'Y-m-d'%}" name="date"/>
						</td>
					</tr>
					<tr>
						<th>Category : </th>
						<td class="InnerInputTD">
							<select class="TableInnerInput" name="category">
								<option value="behavior">Behavior</option>
								<option value="academic">Academic</option>
								<option value="activities">Activities</option>
								<option value="host_family">Host family</option>
								<option value="complaints" style="background-color:red;color:#FFF;">Complaints</option>
								<option value="other">Other</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Priority : </th>
						<td class="InnerInputTD">
							<select class="TableInnerInput" name="priority">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Comment : </th>
						<td class="InnerInputTD">
							<textarea name="comment" class="TableInnerTextarea"></textarea>
						</td>
					</tr>
				</table>
			</div><!-- InfoTable -->


			<div class="PopButtonLine">
				<button class="Submit" type="submit">SAVE</button>
			</div>
		</form>
		</div>
	</div>
</div>


<div class="ContentsFrame">
	<div class="LeftFrame" id="LeftF">
		<div class="SectionTitle">Host Families</div>
		<div class="LeftTab">
			<div class="TabConternts">
				<div class="InnerTabContents">
					{% for host in all_hosts %}
					<li><a href="/branch/host/update/{{host.id}}">{{host.name}}</a></li>
          {% endfor %}
				</div><!-- InnerTabContents -->
			</div>
		</div><!-- LeftTab -->
		<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/branch/host/create" class="IsolationButton">+ &nbsp; Add New Family</a>
	</div><!-- LeftFrame -->



	<div class="MainFrame">


		<div class="MTitle">{{found_host.name}} <span>Communication Log</span></div>
		<div class="ListSearch Aright">
			<div><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';" class="IsolationButton">+ &nbsp; Add New Log</a></div>
		</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>No</th>
					<th>Date</th>
					<th>Category</th>
					<th>Prioity</th>
					<th>Comment</th>
					<th>Writer</th>
				</tr>
				{% for log in all_branch_logs %}
				<tr>
					<td>{{log.id}}</td>
					<td>{{log.date|date:"Y-m-d"}}</td>
					<td>{{log.category|capfirst}}</td>
					<td>{{log.priority}}</td>
					<td class="Aleft"><p class="CommunicationLogClass" id="CommunicationLog{{log.id}}" style="margin-bottom:0;color:blue;cursor:pointer;">{{log.comment}}</p></td>
					<td>{{log.writer.first_name}} {{log.writer.last_name}}</td>
				</tr>
				{% endfor %}
			</table>
		</div><!-- ListTable -->

	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->
{% endblock %}
