{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
#PopCommunicationUpdate {display:none;}
</style>
<div class="PopCover" id="PopCommunicationUpdate">
	<div class="Popup">
		<div class="TitleSet">
			<div class="Close" OnClick="document.getElementById('PopCommunicationUpdate').style.display='none';">X</div>
			<div class="Title">Add New Log</div>
		</div>
		<div class="Contents">


			<div class="InfoTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col width="110">
						<col>
					</colgroup>
					<tr>
						<th>Write : </th>
						<td class="InnerInputTD">
							<input type="text" class="TableInnerInput" size="24" value="" />
						</td>
					</tr>
					<tr>
						<th>Date : </th>
						<td class="InnerInputTD">
							<input type="text" class="TableInnerInput" size="10" value="" />
						</td>
					</tr>
					<tr>
						<th>Category : </th>
						<td class="InnerInputTD">
							<select class="TableInnerInput">
								<option>Behavior</option>
								<option>Academic</option>
								<option>Activities</option>
								<option>Host family</option>
								<option style="background-color:red;color:#FFF;">Complaints</option>
								<option>Other</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Priority : </th>
						<td class="InnerInputTD">
							<select class="TableInnerInput">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>-</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Comment : </th>
						<td class="InnerInputTD">
							<textarea class="TableInnerTextarea"></textarea>
						</td>
					</tr>
					<tr>
						<th>File Attechment : </th>
						<td class="InnerInputTD"><a class="Button" href="">Attechment</a></td>
					</tr>
				</table>
			</div><!-- InfoTable -->


			<div class="PopButtonLine">
				<div class="Close" OnClick="document.getElementById('PopCommunicationUpdate').style.display='none';">CLOSE</div>
				<div class="Submit" OnClick="document.getElementById('PopCommunicationUpdate').style.display='none';">SAVE</div>
			</div>

		</div>
	</div>
</div>




<?php include('../inc/_top.php'); ?>
<div class="ContentsFrame">
	<div class="LeftFrame" id="LeftF">
		<div class="SectionTitle">Host Families</div>
		<div class="LeftTab">
			<div class="TabConternts">
				<div class="InnerTabContents">
					<li><a href="../family/info.php">Host Family A</a></li>
					<li><a href="../family/info.php">Host Family B</a></li>
					<li><a href="../family/info.php">Host Family C</a></li>
					<li><a href="../family/info.php">Host Family D</a></li>
				</div><!-- InnerTabContents -->
			</div>
		</div><!-- LeftTab -->
		<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../family/info.php" class="IsolationButton">+ &nbsp; Add New Family</a>
	</div><!-- LeftFrame -->



	<div class="MainFrame">


		<div class="MTitle">Host Family A <span>Communication Log</span></div>
		<div class="ListSearch Aright">
			<div><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';" class="IsolationButton">+ &nbsp; Add New Log</a></div>
		</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>No</th>
					<th>Date</th>
					<th>Category</th>
					<th>Prioity</th>
					<th>Comment</th>
					<th>Writer</th>
				</tr>
				<tr>
					<td>6</td>
					<td>2017.10.14</td>
					<td>Behavior</td>
					<td>3</td>
					<td class="Aleft"><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';">2017-18 Spring Semester Opening</a></td>
					<td>Mariah Chang</td>
				</tr>
				<tr>
					<td>5</td>
					<td>2017.10.14</td>
					<td>Academic</td>
					<td>1</td>
					<td class="Aleft"><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';">2017-18 Spring Semester Opening</a></td>
					<td>Mariah Chang</td>
				</tr>
				<tr>
					<td>4</td>
					<td>2017.10.14</td>
					<td>Activites</td>
					<td>2</td>
					<td class="Aleft"><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';">2017-18 Spring Semester Opening</a></td>
					<td>Mariah Chang</td>
				</tr>
				<tr>
					<td>3</td>
					<td>2017.10.14</td>
					<td>Host Family</td>
					<td>4</td>
					<td class="Aleft"><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';">2017-18 Spring Semester Opening</a></td>
					<td>Mariah Chang</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2017.10.14</td>
					<td style="background-color:red;color:#FFF;">Complaints</td>
					<td>5</td>
					<td class="Aleft"><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';">2017-18 Spring Semester Opening</a></td>
					<td>Mariah Chang</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2017.10.14</td>
					<td>Other</td>
					<td>5</td>
					<td class="Aleft"><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';">2017-18 Spring Semester Opening</a></td>
					<td>Mariah Chang</td>
				</tr>
			</table>
		</div><!-- ListTable -->

	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->
{% endblock %}
