{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="ContentsFrame">
	<div class="MainAFrame">

		<div class="MTitle">Data Upload</div>
		<div class="ListSearch Aright">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div>
				Date : {% now "Y-m-d" %} &nbsp;&nbsp;
				Category :
				<select class="SearchSelect" name="category">
					<option value="">Category select..</option>
					<option value="For Agent">For Agent</option>
					<option value="For BGE">For BGE</option>
				</select>
				<select class="SearchSelect" name="sub_category">
					<option value="">Category select..</option>
					<option value="Agent">Agent</option>
					<option value="Forms">Forms</option>
					<option value="Schools">Schools</option>
					<option value="Sales">Sales</option>
					<option value="Others">Others</option>
				</select>
				&nbsp;&nbsp;
				Title :
	            <input type="text" class="SearchInput" style="width:250px;" name="title"/>
				&nbsp;&nbsp;
				Resource :
	            <input type="file" class="SearchInput" name="file"/>
	            <button type="submit" class="ListSearchButton" >Upload<button>
				</div>
			</form>
		</div>

		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>Title</th>
					<th>Date</th>
					<th>Category</th>
					<th>Sub Category</th>
					<th>Branch</th>
					<th>File</th>
					<th>Writer</th>
					<th>Management</th>
				</tr>
				{% for resource in all_resources %}
				<tr>
					<td>{{resource.title}}</td>
					<td>{{resource.created_at|date:"Y-m-d"}}</td>
					<td>{{resource.category}}</td>
					<td>{{resource.sub_category}}</td>
					<td>{{resource.branch.name}}</td>
					<td><a href="{{MEDIA_URL}}{{resource.file}}" download>{{resource.file}}</a></td>
					<td>{{resource.writer.first_name}} {{resource.writer.last_name}}</td>
					<td class="InnerInputTD">
						<form method="POST">
							{% csrf_token %}
							<input type="text" name="delete_file" value="{{resource.id}}" hidden>
							<button class="Button" type="submit">DEL</button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div><!-- ListTable -->

		<div class="EndPart"></div>
		<div class="EndPart"></div>




		<!-- <div class="MTitle">Directory Map</div>
		<div class="cdiv"></div>

		<div class="Layout_2-1">
			<div class="DirectoryTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<th colspan="6">Agent</th>
					</tr>
					<tr>
						<td colspan="3">Agent Forms</td>
						<td>Schools</td>
						<td>Sales</td>
						<td>Others</td>
					</tr>
					<tr>
						<td>Students Profile</td>
						<td>Students Contract</td>
						<td>Medical form</td>
						<td>School Information</td>
						<td>Agent Training materials</td>
						<td></td>
				</table>
			</div>
		</div>

		<div class="Layout_2-1">
			<div class="DirectoryTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<th colspan="4">BGE</th>
					</tr>
					<tr>
						<td>BGE Forms</td>
						<td>Study</td>
						<td>Host Family</td>
						<td>Others</td>
					</tr>
				</table>
			</div>
		</div> -->





	</div><!-- MainAFrame -->
</div><!--  ContentsFrame-->

{% endblock %}
