{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block script %}
    <script src="{% static 'js/resource.js' %}"></script>
{% endblock script %}

<div class="ContentsFrame">
	<div class="MainAFrame">

    {%  if "bge_admin" in user_type or "bge_team" in user_type %}
		<div class="MTitle">Data Upload</div>
		<div class="ListSearch Aright">
			<form enctype="multipart/form-data" method="post">
				{% csrf_token %}
				<div>
				Date : {% now "Y-m-d" %} &nbsp;&nbsp;
				Category :
				<select class="SearchSelect" id="category" name="category">
					<option value="">Category select..</option>
					<option value="Official Common Templates">Official Common Templates</option>
                {%  if "bge_" in user_type %}
                    <option value="HR & Administration Management">HR & Administration Managements</option>
                {% endif %}
                    <option value="Promotional&Design Materials">Promotional&Design Materials</option>
                {%  if "bge_" in user_type %}
                    <option value="Program & Student Information">Program & Student Information</option>
                {% endif %}
                    <option value="Miscellaneous">Miscellaneous</option>
				</select>
				<select class="SearchSelect" id="md_category" name="middle_category">
					<option value="">Category select..</option>
				</select>
                <select class="SearchSelect" id="sm_category" name="small_category">
					<option value="">Category select..</option>
				</select>
				&nbsp;&nbsp;
				Title :
	            <input type="text" class="SearchInput" style="width:250px;" id="title" name="title"/>

				Resource :
	            <input type="file" class="SearchInput" name="file"/>
	            <button type="submit" class="ListSearchButton">Upload</button>
				</div>
			</form>
		</div>
    {% endif %}

        <div class="MTitle">Data Search</div>
		<div class="ListSearch Aright">
			<form method="get">
				<div>
				Date : {% now "Y-m-d" %} &nbsp;&nbsp;
				Category :
				<select class="SearchSelect" id="category" name="category">
					<option value="">Category select..</option>
					<option value="Official Common Templates">Official Common Templates</option>
                {%  if "bge_" in user_type %}
                    <option value="HR & Administration Management">HR & Administration Managements</option>
                {% endif %}
                    <option value="Promotional&Design Materials">Promotional&Design Materials</option>
                {%  if "bge_" in user_type %}
                    <option value="Program & Student Information">Program & Student Information</option>
                {% endif %}
                    <option value="Miscellaneous">Miscellaneous</option>
				</select>
				<select class="SearchSelect" id="md_category" name="middle_category">
					<option value="">Category select..</option>
				</select>
                <select class="SearchSelect" id="sm_category" name="small_category">
					<option value="">Category select..</option>
				</select>
				&nbsp;&nbsp;
				Title :
	            <input type="text" class="SearchInput" style="width:250px;" id="title" name="title"/>

                <button type="submit" class="ListSearchButton" id="search">Search</button>
				</div>
			</form>
		</div>

		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>Title</th>
					<th>Date</th>
					<th>Category</th>
					<th>Sub Category</th>
                    <th>Sub-sub Category</th>
					<th>Branch</th>
					<th>File</th>
					<th>Writer</th>
                {%  if "bge_admin" in user_type or "bge_team" in user_type %}
					<th>Management</th>
                {% endif %}
				</tr>
				{% for resource in all_resources %}
				<tr>
					<td>{{resource.title}}</td>
					<td>{{resource.created_at|date:"Y-m-d"}}</td>
					<td>{{resource.category}}</td>
					<td>{{resource.middle_category}}</td>
                    <td>{{resource.small_category}}</td>
					<td>{{resource.branch.name}}</td>
					<td><a href="{{MEDIA_URL}}{{resource.file}}" download>{{resource.file}}</a></td>
					<td>{{resource.writer.first_name}} {{resource.writer.last_name}}</td>
                {%  if "bge_admin" in user_type or "bge_team" in user_type %}
					<td class="InnerInputTD">
						<form method="POST">
							{% csrf_token %}
							<input type="text" name="delete_file" value="{{resource.id}}" hidden>
							<button class="Button" type="submit">DEL</button>
						</form>
					</td>
                {% endif %}
				</tr>
				{% endfor %}
			</table>
		</div><!-- ListTable -->

		<div class="EndPart"></div>
		<div class="EndPart"></div>




		<!-- <div class="MTitle">Directory Map</div>
		<div class="cdiv"></div>

		<div class="Layout_2-1">
			<div class="DirectoryTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<th colspan="6">Agent</th>
					</tr>
					<tr>
						<td colspan="3">Agent Forms</td>
						<td>Schools</td>
						<td>Sales</td>
						<td>Others</td>
					</tr>
					<tr>
						<td>Students Profile</td>
						<td>Students Contract</td>
						<td>Medical form</td>
						<td>School Information</td>
						<td>Agent Training materials</td>
						<td></td>
				</table>
			</div>
		</div>

		<div class="Layout_2-1">
			<div class="DirectoryTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<th colspan="4">BGE</th>
					</tr>
					<tr>
						<td>BGE Forms</td>
						<td>Study</td>
						<td>Host Family</td>
						<td>Others</td>
					</tr>
				</table>
			</div>
		</div> -->





	</div><!-- MainAFrame -->
</div><!--  ContentsFrame-->

{% endblock %}
