{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="ContentsFrame">
	<div class="MainAFrame">

		<div class="Layout_2-1">
			<div class="InfoTable" ><span class="AddComment">Default : {{default_start_date|date:"Y-m-d"}} ~ </span></div>
			<div class="MTitle">Applied Students</div>
			<div class="ListSearch Aright">
				<form method="GET">
					<input type="text" name="form_type" value="applied_form" hidden>
					<div>
					From :
					<select class="SearchSelect" name="start_month">
						<option value="">Select Month..</option>
						<option >Jan</option>
						<option >Feb</option>
						<option >Mar</option>
						<option >Apr</option>
						<option >May</option>
						<option >Jun</option>
						<option >Jul</option>
						<option >Aug</option>
						<option >Sep</option>
						<option >Oct</option>
						<option >Nov</option>
						<option >Dec</option>
					</select>
					&nbsp;&nbsp;
					To :
					<select class="SearchSelect" name="end_month">
						<option value="">Select Month..</option>
						<option >Jan</option>
						<option >Feb</option>
						<option >Mar</option>
						<option >Apr</option>
						<option >May</option>
						<option >Jun</option>
						<option >Jul</option>
						<option >Aug</option>
						<option >Sep</option>
						<option >Oct</option>
						<option >Nov</option>
						<option >Dec</option>
					</select>
					&nbsp;&nbsp;
					<select class="SearchSelect" name="year" required>
						<option value="">Select year..</option>
						{% for year in year_list %}
						<option value="{{year}}">{{year}} ~ {{year|add:1}} year</option>
						{% endfor %}
					</select>
					<button type="submit" class="ListSearchButton">Search<button>
					</div>
				</form>
			</div>

			<div class="ListTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<tr>
						<th>Name</th>
						<th colspan="5">Schools</th>
					</tr>
					{% for counsel in applied_students %}
					<tr>
						<td>{{counsel.student.name}}</td>
						<td>
						{% for school_formality in counsel.formality.school_formality.all %}
							{{school_formality.school.name}} (Priority : {{school_formality.school_priority}}) /
						{% endfor %}
						</td>
					</tr>
					{% endfor %}
				</table>
			</div><!-- ListTable -->
		</div><!-- Layout_2-1 -->


		<div class="Layout_2-1">
			<div class="InfoTable" ><span class="AddComment">Default : {{default_start_date|date:"Y-m-d"}} ~ </span></div>
			<div class="MTitle">Confirmed Students</div>
			<div class="ListSearch Aright">
				<form method="GET">
					<input type="text" name="form_type" value="confirmed_form" hidden>
					<div>
					From :
					<select class="SearchSelect" name="start_month">
						<option value="">Select Month..</option>
						<option >Jan</option>
						<option >Feb</option>
						<option >Mar</option>
						<option >Apr</option>
						<option >May</option>
						<option >Jun</option>
						<option >Jul</option>
						<option >Aug</option>
						<option >Sep</option>
						<option >Oct</option>
						<option >Nov</option>
						<option >Dec</option>
					</select>
					&nbsp;&nbsp;
					To :
					<select class="SearchSelect" name="end_month">
						<option value="">Select Month..</option>
						<option >Jan</option>
						<option >Feb</option>
						<option >Mar</option>
						<option >Apr</option>
						<option >May</option>
						<option >Jun</option>
						<option >Jul</option>
						<option >Aug</option>
						<option >Sep</option>
						<option >Oct</option>
						<option >Nov</option>
						<option >Dec</option>
					</select>
					&nbsp;&nbsp;
					<select class="SearchSelect" name="year" required>
						<option value="">Select year..</option>
						{% for year in year_list %}
						<option value="{{year}}">{{year}} ~ {{year|add:1}} year</option>
						{% endfor %}
					</select>
					<button type="submit" class="ListSearchButton">Search<button>
					</div>
				</form>
			</div>
			<div class="ListTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col>
					</colgroup>
					<tr>
						<th>Name</th>
						<th>School</th>
					</tr>
					{% for school_formality in confirmed_students %}
					<tr>
						<td>{{school_formality.formality.counsel.student.name}}</td>
						<td>{{school_formality.school.name}}</td>
					</tr>
					{% endfor %}
				</table>
			</div><!-- ListTable -->
		</div><!-- Layout_2-1 -->
		<div class="cdiv"></div>
		<div class="EndPart"></div>



		<div class="ListSearch Aright">

			<form method="GET">
				<input type="text" name="form_type" value="data_form" hidden>
				<div>
				<div class="InfoTable" ><span class="AddComment">Default : {{default_start_date|date:"Y-m-d"}} ~ </span></div> |
				From :
				<select class="SearchSelect" name="start_month">
					<option value="">Select Month..</option>
					<option >Jan</option>
					<option >Feb</option>
					<option >Mar</option>
					<option >Apr</option>
					<option >May</option>
					<option >Jun</option>
					<option >Jul</option>
					<option >Aug</option>
					<option >Sep</option>
					<option >Oct</option>
					<option >Nov</option>
					<option >Dec</option>
				</select>
				&nbsp;&nbsp;
				To :
				<select class="SearchSelect" name="end_month">
					<option value="">Select Month..</option>
					<option >Jan</option>
					<option >Feb</option>
					<option >Mar</option>
					<option >Apr</option>
					<option >May</option>
					<option >Jun</option>
					<option >Jul</option>
					<option >Aug</option>
					<option >Sep</option>
					<option >Oct</option>
					<option >Nov</option>
					<option >Dec</option>
				</select>
				&nbsp;&nbsp;
				<select class="SearchSelect" name="year" required>
					<option value="">Select year..</option>
					{% for year in year_list %}
					<option value="{{year}}">{{year}} ~ {{year|add:1}} year</option>
					{% endfor %}
				</select>
				<button type="submit" class="ListSearchButton">Search<button>
				</div>
			</form>
		</div>

		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>


				<tr>
					<th>Partner Schools #</th>
					<th>Active Host Families #</th>
					<th>Inactive Host Families #</th>
					<th>Prospective Host Families #</th>
					<th>Current Students #</th>
					<th>Student Complaints #</th>
				</tr>
				<tr>
					<td>{{found_branch.school_count}}</td>
					<td>{{found_branch.active_host}}</td>
					<td>{{found_branch.inactive_host}}</td>
					<td>{{found_branch.prospective_host}}</td>
					<td>{{found_branch.current_students}}</td>
					<td>{{found_branch.complaints}}</td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>




		<select class="SearchSelect" id="ChartSelectBox">
			<option value="current_student">Current Student</option>
			<option value="partner">Partner School</option>
			<option value="active_host">Active Host Families</option>
			<option value="inactive_host">Inactive Host Families</option>
			<option value="prospective_host">Prospective Host Families</option>
			<option value="student_complaints">Student Complaints</option>
		</select>
		<script>

			$.ajax({                       // initialize an AJAX request
			  url: "/branch/chart/statistics?branch_id={{found_branch.id}}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
			  success: function (data) {   // `data` is the return of the `load_cities` view function
			    var months = data.months;
			    var ctx = document.getElementById("BranchPartStatisticChart");
			    var myChart = new Chart(ctx, {
			        type: 'line',
			        data: {
			            labels: months,
			            datasets: [
			              {
			                label:data.chart_name,
			                data: data.data,
			                fill:false,
			                borderColor: [
			                  'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
			                  (Math.floor(Math.random() * 256)) + ',' +
			                  (Math.floor(Math.random() * 256)) + ',1' + ')',
			                ],
			                borderWidth: 2
			              },
			            ],
			        },
			        options: {
									title: {
										display:false,
										text: data.chart_name
									},
			            scales: {
			                yAxes: [{
			                    ticks: {
			                        beginAtZero:true
			                    }
			                }]
			            }
			        }
			    });
			  }
			});

			$("#ChartSelectBox").on('change', function(){
				$.ajax({                       // initialize an AJAX request
				  url: "/branch/chart/statistics?branch_id={{found_branch.id}}&chart_type="+this.value,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
				  success: function (data) {   // `data` is the return of the `load_cities` view function
				    var months = data.months;
				    var ctx = document.getElementById("BranchPartStatisticChart");
				    var myChart = new Chart(ctx, {
				        type: 'line',
				        data: {
				            labels: months,
				            datasets: [
				              {
				                label:data.chart_name,
				                data: data.data,
				                fill:false,
				                borderColor: [
				                  'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
				                  (Math.floor(Math.random() * 256)) + ',' +
				                  (Math.floor(Math.random() * 256)) + ',1' + ')',
				                ],
				                borderWidth: 2
				              },
				            ],
				        },
				        options: {
										title: {
											display:false,
											text: data.chart_name
										},
				            scales: {
				                yAxes: [{
				                    ticks: {
				                        beginAtZero:true
				                    }
				                }]
				            }
				        }
				    });
				  }
				});
			})

		</script>

		<div class="GraphgArea">
			<canvas id="BranchPartStatisticChart" width="636" height="300"></canvas>
		</div>
	</div><!-- MainAFrame -->
</div><!--  ContentsFrame-->

{% endblock %}
