{% extends 'base2.html' %}
{% load static %}
{% block title %}{{found_school.name}}{% endblock %}
{% block content %}

<div class="TopMenuSet">
	<div class="SchoolName"><img src="{% static 'img/m_logo.png' %}" /></div>
	<div class="SchoolMenu"></div>
	<div class="ButtonLine"></div>
</div><!-- TopMenuSet -->

<div class="ContentsFrame">
	<div class="SchoolVisual" style="background-image:url('{{MEDIA_URL}}{{found_school.image}}');">
		<div class="Cover">
			<div class="Name">
			<span>College Information</span><br />
			{{found_school.name|capfirst}}
			</div>


			<div class="WhiteTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col width="150">
						<col>
					</colgroup>
					<tr>
						<th>Location : </th>
						<td>{{found_school.college.state|upper}}</td>
					</tr>
					<tr>
						<th>Type : </th>
						<td>{{found_school.college.college_type|capfirst}}</td>
					</tr>
					<tr>
						<th>Tuition : </th>
						<td>${{found_school.college.tuition}}</td>
					</tr>
					<tr>
						<th>Room & Board : </th>
						<td>${{found_school.college.room_and_board}}</td>
					</tr>
					<tr>
						<th>SAT/ACT Requirement : </th>
						<td>{{found_school.college.sat_act_requirement}}</td>
					</tr>
					<tr>
						<th>SAT/ACT 25% : </th>
						<td>{{found_school.college.sat_25}} (New SAT 1600)</td>
					</tr>
					<tr>
						<th>SAT/ACT 75% : </th>
						<td>{{found_school.college.sat_75}}</td>
					</tr>
					<tr>
						<th>GPA Requirement : </th>
                        {% if found_school.college.gpa_requirement == '1' %}
                            <td>Yes</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
					</tr>
				</table>
			</div><!-- InfoTable -->


		</div>
	</div><!-- SchoolVisual -->
	<div class="SchoolMFrame">

		<div class="MTitle">College Information</div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="150">
					<col>
					<col width="150">
					<col>
					<col width="150">
					<col>
				</colgroup>
				<tr>
					<th>Ranking : </th>
					<td>{{found_school.college.ranking}}</td>
					<th>Setting : </th>
					<td>{{found_school.college.setting|capfirst}}</td>
					<th>Acceptance % : </th>
					<td>{{found_school.college.acceptance_percent}}%</td>
				</tr>
				<tr>
					<th>Year Founded : </th>
					<td>{{found_school.founded}}</td>
					<th># of Students : </th>
					<td>{{found_school.number_students}}</td>
					<th>Asian % : </th>
					<td>{{found_school.college.asian_percent}}%</td>
				</tr>
				<tr>
					<th>High School Top 10 % : </th>
					<td>{{found_school.college.high_school_10}}%</td>
					<th>Full Time Faculty (%) : </th>
					<td>{{found_school.college.full_time_faculty}}%</td>
					<th>Student/Faculty Ratio :</th>
					<td>{{found_school.college.student_faculty_ratio}}</td>
				</tr>
				<tr>
					<th>Classes Under 20 (%) : </th>
					<td>{{found_school.college.class_under_20}}%</td>
					<th>E/D, E/A Deadline : </th>
					<td>{{found_school.college.ed_ea_deadline|date:"Y-m-d"}}</td>
					<th>E/D, E/A Notice Date :</th>
					<td>{{found_school.college.ed_ea_noticedate|date:"Y-m-d"}}</td>
				</tr>
				<tr>
					<th>Application Deadline : </th>
					<td>{{found_school.college.application_deadline|date:"Y-m-d"}}</td>
					<th>Degrees Offered : </th>
					<td>{{found_school.college.degree_offered}}</td>
					<th>Most Popular Majors :</th>
					<td>{{found_school.college.most_popular_majors}}</td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="cdiv"></div>
		<div class="EndPart"></div>


		<div class="MTitle">Location& Contacts</div>
		<div class="Location">
			<div class="Info">
				<li>{{found_school.address}}</li>
				<li>{{found_school.phone}}</li>
				<li><a href="{{found_school.web_url}}">{{found_school.web_url}}</a></li>
			</div>
		</div><!-- Location -->
		<div class="cdiv"></div>
		<div class="EndPart"></div>


	</div><!-- SchoolMFrame -->
</div><!--  ContentsFrame-->

{% endblock %}
