{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
#PopParentsReportUpdate {display:none;}
</style>
<div class="PopCover" id="PopParentsReportUpdate">
	<div class="Popup">
		<div class="TitleSet">
			<div class="Close" OnClick="document.getElementById('PopParentsReportUpdate').style.display='none';">X</div>
			<div class="Title">Report to Parents Date</div>
		</div>
		<div class="Contents">


			<div class="InfoTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col width="110">
						<col>
					</colgroup>
					<tr>
						<th>Write : </th>
						<td class="InnerInputTD">
							<input type="text" class="TableInnerInput" size="24" value="" />
						</td>
					</tr>
					<tr>
						<th>Date : </th>
						<td class="InnerInputTD">
							<input type="text" class="TableInnerInput" size="10" value="" />
						</td>
					</tr>
					<tr>
						<th>Comment : </th>
						<td class="InnerInputTD">
							<textarea class="TableInnerTextarea"></textarea>
						</td>
					</tr>
					<tr>
						<th>File Attechment : </th>
						<td class="InnerInputTD"><a class="Button" href="">Attechment</a></td>
					</tr>
				</table>
			</div><!-- InfoTable -->


			<div class="PopButtonLine">
				<div class="Close" OnClick="document.getElementById('PopParentsReportUpdate').style.display='none';">CLOSE</div>
				<div class="Submit" OnClick="document.getElementById('PopParentsReportUpdate').style.display='none';">SAVE</div>
			</div>

		</div>
	</div>
</div>




<style>
#PopCommentHistory {display:none;}
</style>
<div class="PopCover" id="PopCommentHistory">
	<div class="WidePopup">
		<div class="TitleSet">
			<div class="Close" OnClick="document.getElementById('PopCommentHistory').style.display='none';">X</div>
			<div class="Title">Comments</div>
		</div>
		<div class="Contents">
			<form id="CommentFormId" method="POST" class="TextAreaForm">
				{csrf_token}
				<textarea type="text" name="comment" class="StudentCommentTextarea"></textarea>
			</form>
			<div class="ListTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col width="40">
						<col width="80">
						<col width="80">
						<col>
					</colgroup>
					<tr>
						<th>No.</th>
						<th>Agent</th>
						<th>Date</th>
						<th>Comment</th>
					</tr>
					<tr>
						<td>49</td>
						<td>WeChat</td>
						<td>12-03 2017</td>
						<td>...</td>
					</tr>
				</table>
			</div><!-- InfoTable -->

			<div class="PopButtonLine">
				<button type="submit" form="CommentFormId">SUBMIT</button>
				<button class="Close" OnClick="document.getElementById('PopCommentHistory').style.display='none';">CLOSE</button>
			</div>

		</div>
	</div>
</div>



<div class="ContentsFrame">
	<div class="MainAFrame">

		<div class="MTitle">Student List</div>
		<div class="cdiv"></div>

		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col width="150px;">
				</colgroup>
				<tr>
					<th>Name</th>
					<th>Parent Contact</th>
					<th>US Branch</th>
					<th>School</th>
					<th>Monthly Report</th>
					<th>Sent Date</th>
					<th>Report to Parents Date</th>
					<th>Comments</th>
				</tr>
        {% for student in current_students %}
				<tr>
					<td><a href="/student/current/{{student.id}}" target="_blank">{{student.name}}</a></td>
					<td>{{student.parent_info.wechat}}</td>
					<td>{{student.school.provider_branch.name}}</td>
					<td>{{student.school}}</td>
					{% if student.found_report.report_to_parent %}
					<td>Complete</td>
					{% else %}
					<td>Incomplete</td>
					{% endif %}
					{% if student.found_report.send_to_agent_date %}
					<td>{{student.found_report.send_to_agent_date|date:"Y-m-d"}}</td>
					{% else%}
					<td></td>
					{% endif %}
					{% if student.found_report.report_to_parent %}
					<td class="InnerInputTD">{{student.found_report.report_to_parent|date:"Y-m-d"}}</td>
					{% else %}
					<td class="InnerInputTD"></td>
					{% endif %}
					<td>
						<button class="Button" href="#" OnClick="document.getElementById('PopCommentHistory').style.display='block';">View</button>
					</td>
				</tr>
        {% endfor %}
			</table>
		</div><!-- ListTable -->

	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->

{% endblock %}
