{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="ContentsFrame">
	<div class="LeftFrame" id="LeftF">
		<div class="SectionTitle">Current Students Report</div>
		<div class="LeftTab">
			<div class="TabConternts">
				<div class="InnerTabContents">
					{% for student in all_students %}
					<li><a href="/student/monthly/report/{{student.id}}">{{student.name}}</a></li>
					{% endfor %}
				</div><!-- InnerTabContents -->
			</div>
		</div><!-- LeftTab -->
	</div><!-- LeftFrame -->



	<div class="MainFrame" id="MainF">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="text" name="post_type" value="student_monthly_report" hidden>
			<input type="text" name="report_id" value="" hidden>
		<div class="PTitle">Student Academic Report ({% now "F Y"%})</div>
		<div class="MTitle" style="width:100%;">
			<div class="MTitleForm">
				<select class="MTitleInput" onchange="location=this.value;">
					<option value="">Select Reports..</option>
					{% for report in all_reports %}
					<option value="/student/monthly/report/update/{{report.id}}">Last Updated : {{report.updated_at|date:"Y-m-d"}}</option>
          {% endfor %}
				</select>
			</div>
			Student Information
		</div>

		<div class="cdiv"></div>
		<div class="InformationSet">
			{% if found_student.image %}
			<div class="Picture" style="background-image:url('{{MEDIA_URL}}{{found_student.image}}');">&nbsp;</div>
			{% else %}
			<div class="Picture" style="background-image:url('{% static 'img/no_user.png' %}');">&nbsp;</div>
			{% endif %}
			<div class="Information">
				<div class="InfoTable">
					<table cellpadding="0" cellspacing="0" border="0">
						<colgroup>
							<col width="90">
							<col width="100">
							<col width="60">
							<col width="">
							<col width="150">
							<col width="100">
						</colgroup>
						<tr>
							<th>Name : </th>
							<td colspan="3" class="InnerInputTD">{{found_student.name}}</td>
							<th>Counseling Date : </th>
							<td class="InnerInputTD"><input name="counseling_date" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						</tr>
						<tr>
							<th>School : </th>
							<td colspan="3" class="InnerInputTD">{{found_student.school.name}}</td>
						</tr>
						<tr>
							<th>School Year : </th>
							<td class="InnerInputTD"><input name="school_year" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
							<th>Grade : </th>
							<td class="InnerInputTD" colspan="3"><input name="grade" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						</tr>
					</table>
				</div><!-- InfoTable -->
			</div><!-- Information -->

			<label id="ImageChangeLabelId" for="image_change" class="HButton">Image Change</label>
			<input id="image_change" type="file" name="image" hidden>
			<div class="Information">
				<div class="InfoTable">
					<table cellpadding="0" cellspacing="0" border="0">
						<colgroup>
							<col width="90">
							<col>
						</colgroup>
						<tr>
							<th>College Plan : </th>
							<td class="InnerInputTD"><input name="college_plan" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
						</tr>
					</table>
				</div><!-- InfoTable -->
			</div><!-- Information -->
		</div><!-- InformationSet -->
		<div class="EndPart"></div>

		<div class="MTitle">Academic Record and Review</div>
		<div class="cdiv"></div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>Subject</th>
					{% for record in academic_records %}
						{% if record.subject %}
							<td class="InnerInputTD"><input name="subject{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.subject }}" /></td>
						{% else %}
						<td class="InnerInputTD"><input name="subject{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="subject{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					{% endfor %}
					<td>Quater GPA</td>
				</tr>
				<tr>
					<th>Level</th>
					{% for record in academic_records %}
						{% if record.level %}
						<td class="InnerInputTD"><input name="level{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.level }}" /></td>
						{% else %}
						<td class="InnerInputTD"><input name="level{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="level{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					{% endfor %}
					<td class="InnerInputTD"></td>
				</tr>
				<tr>
					<th>Target</th>
					{% for record in academic_records %}
						{% if record.target %}
						<td class="InnerInputTD"><input name="target{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.target }}" /></td>
						{% else %}
						<td class="InnerInputTD"><input name="target{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="target{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					{% endfor %}
					<td class="InnerInputTD"></td>
				</tr>
				<tr>
					<th>Current</th>
					{% for record in academic_records %}
						{% if record.current %}
						<td class="InnerInputTD"><input name="current{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.current }}" /></td>
						{% else %}
						<td class="InnerInputTD"><input name="current{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="current{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					{% endfor %}
					<td class="InnerInputTD"></td>
				</tr>
				<tr>
					<th>Current Grade</th>
					{% for record in academic_records %}
						{% if record.current_grade %}
						<td class="InnerInputTD"><input name="current_grade{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.current_grade }}" /></td>
						{% else %}
						<td class="InnerInputTD"><input name="current_grade{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="current_grade{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					{% endfor %}
					{% if found_report.quater_gpa %}
					<td class="InnerInputTD"><input name="quater_gpa" type="text" class="TableInnerInput" style="width:100px;" value="{{found_report.quater_gpa}}" /></td>
					{% else %}
					<td class="InnerInputTD"><input name="quater_gpa" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					{% endif %}
				</tr>
				<tr>
					<th>Comment</th>
					<td colspan="9" class="InnerInputTD">
					<textarea class="TableInnerTextarea" style="height:100px;width:calc(100% - 10px);" name="comment"></textarea>
					</td>
				</tr>
				<tr>
					<th>Target GPA</th>
					<td colspan="9" class="InnerInputTD">
					<textarea class="TableInnerTextarea" style="height:100px;width:calc(100% - 10px);" name="target_gpa"></textarea>
					</td>
				</tr>
				<tr>
					<th>To see current Transcript</th>
					<td colspan="9" class="InnerInputTD">
					<textarea class="TableInnerTextarea" style="height:100px;width:calc(100% - 10px);" name="transcript" placeholder="Input Only Full Url ex) https://example.com"></textarea>
					</td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>



		<div class="MTitle">English Skills / TOEFL</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<textarea class="TableInnerTextarea" style="height:100px;" name="eng_skill"></textarea>
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col width="100">
				</colgroup>
				<tr>
					<th>TOEFL</th>
					<th>Reading</th>
					<th>Listening</th>
					<th>Speaking</th>
					<th>Writing</th>
					<th>Total</th>
					<th>Target</th>
					<th>Next Test Date</th>
				</tr>
				<tr>
						<input
							name="toefl"
							type="text"
							class="TableInnerInput"
							style="width:100px;"
							pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
							placeholder="YYYY-MM-DD"
							value="" />
					</td>
					<td class="InnerInputTD"><input name="toefl_reading" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_listening" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_speaking" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_writing" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_total" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_target" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_next_test_date" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>



		<div class="MTitle">SAT / ACT Test Scores</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col width="100">
				</colgroup>
				<tr>
					<th>SAT(PSAT)</th>
					<th>Evidence-based Reading & Writing</th>
					<th>Math</th>
					<th>Total</th>
					<th>Target</th>
					<th>Next Test Date</th>
				</tr>
				<tr>
					<td class="InnerInputTD">
						<input
							name="sat"
							type="text"
							class="TableInnerInput"
							style="width:100px;"
							pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
							placeholder="YYYY-MM-DD"
							value="" />
					</td>
					<td class="InnerInputTD"><input name="sat_evb_reading_writing" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="sat_math" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="sat_total" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="sat_target" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="sat_next_test_date" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
				</tr>
			</table>
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col width="100">
				</colgroup>
				<tr>
					<th>ACT</th>
					<th>English</th>
					<th>Math</th>
					<th>Reading</th>
					<th>Science</th>
					<th>Composite Score</th>
					<th>Target</th>
					<th>Next Test Date</th>
				</tr>
				<tr>
					<td class="InnerInputTD">
						<input
							name="act"
							type="text"
							class="TableInnerInput"
							style="width:100px;"
							pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
							placeholder="YYYY-MM-DD"
							value="" />
					</td>
					<td class="InnerInputTD"><input name="act_eng" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="act_math" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="act_reading" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="act_sci" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="act_composition_score" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="act_target" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="act_next_test_date" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="100">
					<col>
				</colgroup>
				<tr>
					<th>AP Tests</th>
					<td class="InnerInputTD"><textarea name="ap_tests" class="TableInnerTextarea" style="height:100px;" placeholder=""></textarea></td>
				</tr>
				<tr>
					<th>SAT Subject Tests</th>
					<td class="InnerInputTD"><textarea name="sat_subjects_tests" class="TableInnerTextarea" style="height:100px;" placeholder=""></textarea></td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>

		<div class="MTitle">Consulting for Test Preparation</div>
		<div class="cdiv"></div>
		<div class="ListTable">
		<textarea name="test_prep" class="TableInnerTextarea" style="height:100px;" ></textarea>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>

		<script>
		$(document).ready(function(){

			$.ajax({                       // initialize an AJAX request
				url: "/student/transcript/statistics/{{found_student.id}}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
				success: function (data) {   // `data` is the return of the `load_cities` view function
					var months = data.months;
					var ctx = document.getElementById("SatStatisticChart");
					var ctx2 = document.getElementById("ToeflStatisticChart");
					var myChart = new Chart(ctx, {
							type: 'line',
							data: {
									labels: months,
									datasets: [
										{
											label:"SAT",
											data: data.sat,
											fill:false,
											borderColor: [
												'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',1' + ')',
											],
											borderWidth: 2
										},
									],
							},
							options: {
									title: {
										display:true,
										text: "SAT"
									},
									scales: {
											yAxes: [{
													ticks: {
															beginAtZero:true
													}
											}]
									}
							}
					});

					var myChart2 = new Chart(ctx2, {
							type: 'line',
							data: {
									labels: months,
									datasets: [
										{
											label:"Toefl",
											data: data.toefl,
											fill:false,
											borderColor: [
												'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',1' + ')',
											],
											borderWidth: 2
										},
									],
							},
							options: {
									title: {
										display:true,
										text: "TOEFL"
									},
									scales: {
											yAxes: [{
													ticks: {
															beginAtZero:true
													}
											}]
									}
							}
					});
				}
			});
		})
		</script>

		<div class="MTitle">Graph for GPA, TOEFL, SAT, ACT</div>
		<div class="cdiv"></div>
		<div class="Layout_2-1">
		<div class="GraphgArea">
			<canvas id="SatStatisticChart" width="636" height="300"></canvas>
		</div>
		</div><!-- Layout_2-1 -->
		<div class="Layout_2-1">
		<div class="GraphgArea">
			<canvas id="ToeflStatisticChart" width="636" height="300"></canvas>
		</div>
		</div><!-- Layout_2-1 -->
		<div class="EndPart"></div>
		<div class="cdiv"></div>

		<div class="EndPart"></div>

		<div class="MTitle">Activities</div>
		<div class="cdiv"></div>
		<div class="ListTable">
		<textarea name="activities" class="TableInnerTextarea" style="height:100px;"></textarea>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>

		<div class="MTitle">Community Services</div>
		<div class="cdiv"></div>
		<div class="ListTable">
		<textarea name="community_services" class="TableInnerTextarea" style="height:100px;"></textarea>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>

		<div class="MTitle">Objective / Assignment for Next Report</div>
		<div class="cdiv"></div>
		<div class="ListTable">
		<textarea name="objective_assignment" class="TableInnerTextarea" style="height:100px;"></textarea>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<div class="MTitle">Payment & Invoice</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>Description</th>
					<th>Expense</th>
					<th>Due Date</th>
					<th>Payment</th>
					<th>Paid Date</th>
					<th>Balance</th>
					<th>Invoice Attachment</th>
				</tr>
				<tr>
					<td class="InnerInputTD"><input name="payment_desc" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="payment_expense" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="payment_due_date" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="payment_payment" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="payment_paid_date" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="payment_balance" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="payment_invoice" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>

		<div class="MTitle">Status</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<th>Report Status : </th>
					<td>
						<label><input name="status" type="radio" value="incomplete" checked required/><span></span>Incomplete</label>
						<label><input name="status" type="radio" value="submitted"/><span></span>Complete</label>
					</td>
				</tr>
			</table>
		</div><!-- ListTable -->

		<div class="SubmitButtonLine">
			<button class="Submit" type="submit">SAVE</button>
		</div>
		</form>
		<div class="EndPart"></div>




	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->

<script>
function MenuOpen() {
	obj = document.getElementById('LeftF');

	if (obj.style.margin == "0px 0px 0px -229px") {
		document.getElementById('LeftF').style.margin='0px 0px 0px 0px';
		document.getElementById('MToggle').style.transform='rotate(90deg)';
		document.getElementById('MainF').style.width='calc(100% - 355px)';
	} else {
		document.getElementById('LeftF').style.margin='0px 0px 0px -229px';
		document.getElementById('MToggle').style.transform='rotate(0deg)';
		document.getElementById('MainF').style.width='calc(100% - 126px)';
	}
}
</script>
{% endblock %}
