{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
#PopCommunicationUpdate {display:none;}
</style>
<div class="PopCover" id="PopCommunicationUpdate">
	<div class="Popup">
		<div class="TitleSet">
			<div class="Close" OnClick="document.getElementById('PopCommunicationUpdate').style.display='none';">X</div>
			<div class="Title">Add New Log</div>
		</div>
		<div class="Contents">


			<div class="InfoTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col width="110">
						<col>
					</colgroup>
					<tr>
						<th>Write : </th>
						<td class="InnerInputTD">
							<input type="text" class="TableInnerInput" size="24" value="" />
						</td>
					</tr>
					<tr>
						<th>Date : </th>
						<td class="InnerInputTD">
							<input type="text" class="TableInnerInput" size="10" value="" />
						</td>
					</tr>
					<tr>
						<th>Category : </th>
						<td class="InnerInputTD">
							<select class="TableInnerInput">
								<option>Behavior</option>
								<option>Academic</option>
								<option>Activities</option>
								<option>Host family</option>
								<option style="background-color:red;color:#FFF;">Complaints</option>
								<option>Other</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Priority : </th>
						<td class="InnerInputTD">
							<select class="TableInnerInput">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>-</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Comment : </th>
						<td class="InnerInputTD">
							<textarea class="TableInnerTextarea"></textarea>
						</td>
					</tr>
					<tr>
						<th>File Attechment : </th>
						<td class="InnerInputTD"><a class="Button" href="">Attechment</a></td>
					</tr>
				</table>
			</div><!-- InfoTable -->


			<div class="PopButtonLine">
				<div class="Close" OnClick="document.getElementById('PopCommunicationUpdate').style.display='none';">CLOSE</div>
				<div class="Submit" OnClick="document.getElementById('PopCommunicationUpdate').style.display='none';">SAVE</div>
			</div>

		</div>
	</div>
</div>



<div class="ContentsFrame">
	<div class="LeftFrame" id="LeftF">
		<div class="SectionTitle">Current Students Report</div>
		<div class="LeftTab">
			<div class="TabConternts">
				<div class="InnerTabContents">
					{% for student in all_students %}
					<li><a href="/student/monthly/report/{{student.id}}">{{student.name}}</a></li>
					{% endfor %}
				</div><!-- InnerTabContents -->
			</div>
		</div><!-- LeftTab -->
	</div><!-- LeftFrame -->



	<div class="MainFrame" id="MainF">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="text" name="post_type" value="student_monthly_report" hidden>
			<input type="text" name="report_id" value="" hidden>
		<div class="PTitle">Student Academic Report {% if found_report.submit_date %}(Submitted  :  {{found_report.submit_date}}) {% endif %}</div>
		<div class="MTitle" style="width:100%;">
			<div class="MTitleForm">
				<select class="MTitleInput" onchange="location=this.value;">
          <option value="">Select Reports..</option>
					{% for report in all_reports %}
					<option value="/student/monthly/report/update/{{report.id}}">Last Updated : {{report.updated_at|date:"Y-m-d"}}</option>
          {% endfor %}
				</select>
			</div>
			Student Information
		</div>

		<div class="cdiv"></div>
		<div class="InformationSet">
			{% if found_report.student.image %}
			<div class="Picture" style="background-image:url('{{MEDIA_URL}}{{found_report.student.image}}');">&nbsp;</div>
			{% else %}
			<div class="Picture" style="background-image:url('{% static 'img/no_user.png' %}');">&nbsp;</div>
			{% endif %}
			<div class="Information">
				<div class="InfoTable">
					<table cellpadding="0" cellspacing="0" border="0">
						<colgroup>
							<col width="90">
							<col width="100">
							<col width="60">
							<col width="">
							<col width="150">
							<col width="100">
						</colgroup>
						<tr>
							<th>Name : </th>
							<td colspan="3" class="InnerInputTD">{{found_report.student.name}}</td>
							<th>Counseling Date : </th>
							<td class="InnerInputTD"><input name="counseling_date" type="text" class="TableInnerInput" style="width:120px;" value="{{found_report.counseling_date}}" /></td>
						</tr>
						<tr>
							<th>School : </th>
							<td colspan="3" class="InnerInputTD">{{found_report.student.school.name}}</td>
							<th style="color:red;">* Manager Confirm Date (Fill and Save to Confirm): </th>
							<td class="InnerInputTD">
                {% if found_report.manager_confirm_date %}
                <input
                  name="manager_confirm_date"
                  type="text"
                  class="TableInnerInput"
                  style="width:120px;"
                  pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                  placeholder="YYYY-MM-DD"
                  value="{{found_report.manager_confirm_date|date:'Y-m-d'}}" />
                {% else %}
                <input
                  name="manager_confirm_date"
                  type="text"
                  class="TableInnerInput"
                  style="width:120px;"
                  pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                  placeholder="YYYY-MM-DD"/>
                {% endif %}
              </td>
						</tr>
						<tr>
							<th>School Year : </th>
							<td class="InnerInputTD"><input name="school_year" type="text" class="TableInnerInput" style="width:100px;" value="{{found_report.school_year}}" /></td>
							<th>Grade : </th>
							<td class="InnerInputTD"><input name="grade" type="text" class="TableInnerInput" style="width:100px;" value="{{found_report.grade}}" /></td>
							<th style="color:red;">* Send to Agent Date : </th>
							<td class="InnerInputTD">
                {% if found_report.send_to_agent_date %}
									{{found_report.send_to_agent_date|date:"Y-m-d"}}
                {% endif %}
              </td>
						</tr>
					</table>
				</div><!-- InfoTable -->
			</div><!-- Information -->

			<label id="ImageChangeLabelId" for="image_change" class="HButton">Image Change</label>
			<input id="image_change" type="file" name="image" hidden>
			<div class="Information">
				<div class="InfoTable">
					<table cellpadding="0" cellspacing="0" border="0">
						<colgroup>
							<col width="90">
							<col>
						</colgroup>
						<tr>
							<th>College Plan : </th>
							<td class="InnerInputTD"><input name="college_plan" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.college_plan}}" /></td>
						</tr>
					</table>
				</div><!-- InfoTable -->
			</div><!-- Information -->
		</div><!-- InformationSet -->
		<div class="EndPart"></div>

		<div class="MTitle">Academic Record and Review</div>
		<div class="cdiv"></div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>Subject</th>
					{% for record in academic_records %}
						{% if record.subject %}
							<td class="InnerInputTD"><input name="subject{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.subject }}" /></td>
						{% else %}
						<td class="InnerInputTD"><input name="subject{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="subject{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					{% endfor %}
					<td>Quater GPA</td>
				</tr>
				<tr>
					<th>Level</th>
					{% for record in academic_records %}
						{% if record.level %}
						<td class="InnerInputTD"><input name="level{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.level }}" /></td>
						{% else %}
						<td class="InnerInputTD"><input name="level{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="level{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					{% endfor %}
					<td class="InnerInputTD"></td>
				</tr>
				<tr>
					<th>Target</th>
					{% for record in academic_records %}
						{% if record.target %}
						<td class="InnerInputTD"><input name="target{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.target }}" /></td>
						{% else %}
						<td class="InnerInputTD"><input name="target{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="target{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					{% endfor %}
					<td class="InnerInputTD"></td>
				</tr>
				<tr>
					<th>Current</th>
					{% for record in academic_records %}
						{% if record.current %}
						<td class="InnerInputTD"><input name="current{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.current }}" /></td>
						{% else %}
						<td class="InnerInputTD"><input name="current{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="current{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					{% endfor %}
					<td class="InnerInputTD"></td>
				</tr>
				<tr>
					<th>Current Grade</th>
					{% for record in academic_records %}
						{% if record.current_grade %}
						<td class="InnerInputTD"><input name="current_grade{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.current_grade }}" /></td>
						{% else %}
						<td class="InnerInputTD"><input name="current_grade{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="current_grade{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					{% endfor %}
					{% if found_report.quater_gpa %}
					<td class="InnerInputTD"><input name="quater_gpa" type="text" class="TableInnerInput" style="width:100px;" value="{{found_report.quater_gpa}}" /></td>
					{% else %}
					<td class="InnerInputTD"><input name="quater_gpa" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					{% endif %}
				</tr>
				<tr>
					<th>Comment</th>
					<td colspan="9" class="InnerInputTD">
					<textarea class="TableInnerTextarea" style="height:100px;width:calc(100% - 10px);" name="comment">{{found_report.comment}}</textarea>
					</td>
				</tr>
				<tr>
					<th>Target GPA</th>
					<td colspan="9" class="InnerInputTD">
					<textarea class="TableInnerTextarea" style="height:100px;width:calc(100% - 10px);" name="target_gpa">{{found_report.target_gpa}}</textarea>
					</td>
				</tr>
				<tr>
					<th>To see current Transcript</th>
					<td colspan="9" class="InnerInputTD">
					<textarea class="TableInnerTextarea" style="height:100px;width:calc(100% - 10px);" name="transcript" placeholder="Input Only Full Url ex) https://example.com">{{found_report.transcript}}</textarea>
					<a href="{{found_report.transcript}}">{{found_report.transcript}}</a>
					</td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>



		<div class="MTitle">English Skills / TOEFL</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<textarea class="TableInnerTextarea" style="height:100px;" name="eng_skill">{{found_report.eng_skill}}</textarea>
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col width="100">
				</colgroup>
				<tr>
					<th><span style="color:orange;">* TOEFL (Required)</span></th>
					<th>Reading</th>
					<th>Listening</th>
					<th>Speaking</th>
					<th>Writing</th>
					<th>Total</th>
					<th>Target</th>
					<th>Next Test Date</th>
				</tr>
				{% for toefl in all_toefl %}
					<tr>
						<input type="text" name="toefl_id" value="{{toefl.id}}" hidden>
						<td class="InnerInputTD">
							<input
								name="toefl_date{{toefl.id}}"
								type="text"
								class="TableInnerInput"
								style="width:100px;"
								pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
								placeholder="YYYY-MM-DD"
								value="{{toefl.toefl_date|date:'Y-m-d'}}" />
						</td>
						<td class="InnerInputTD"><input name="toefl_reading{{toefl.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{toefl.reading}}" /></td>
						<td class="InnerInputTD"><input name="toefl_listening{{toefl.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{toefl.listening}}" /></td>
						<td class="InnerInputTD"><input name="toefl_speaking{{toefl.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{toefl.speaking}}" /></td>
						<td class="InnerInputTD"><input name="toefl_writing{{toefl.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{toefl.writing}}" /></td>
						<td class="InnerInputTD"><input name="toefl_total{{toefl.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{toefl.total}}" /></td>
						<td class="InnerInputTD"><input name="toefl_target{{toefl.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{toefl.target}}" /></td>
						<td class="InnerInputTD"><input name="toefl_next_test_date{{toefl.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{toefl.next_test_date}}" /></td>
					</tr>
				{% endfor %}
				<tr>
					<td class="InnerInputTD">
						<input
							name="toefl_date"
							type="text"
							class="TableInnerInput"
							style="width:100px;"
							pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
							placeholder="YYYY-MM-DD"
							value="" />
					</td>
					<td class="InnerInputTD"><input name="toefl_reading" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_listening" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_speaking" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_writing" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_total" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_target" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_next_test_date" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>



		<div class="MTitle">SAT / ACT Test Scores</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col width="100">
				</colgroup>
				<tr>
					<th><span style="color:orange;">* SAT(PSAT) Required</span></th>
					<th>Evidence-based Reading & Writing</th>
					<th>Math</th>
					<th>Total</th>
					<th>Target</th>
					<th>Next Test Date</th>
				</tr>
				<tr>
					{% for sat in all_sat %}
						<tr>
							<input type="text" name="sat_id" value="{{sat.id}}" hidden>
							<td class="InnerInputTD">
								<input
									name="sat_date{{sat.id}}"
									type="text"
									class="TableInnerInput"
									style="width:100px;"
									pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
									placeholder="YYYY-MM-DD"
									value="{{sat.sat_date|date:'Y-m-d'}}" />
							</td>
							<td class="InnerInputTD"><input name="sat_eb_reading_writing{{sat.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{sat.eb_reading_writing}}" /></td>
							<td class="InnerInputTD"><input name="sat_math{{sat.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{sat.math}}" /></td>
							<td class="InnerInputTD"><input name="sat_total{{sat.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{sat.total}}" /></td>
							<td class="InnerInputTD"><input name="sat_target{{sat.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{sat.target}}" /></td>
							<td class="InnerInputTD"><input name="sat_next_test_date{{sat.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{sat.next_test_date}}" /></td>
						</tr>
					{% endfor %}
					<tr>
						<td class="InnerInputTD">
							<input
								name="sat_date"
								type="text"
								class="TableInnerInput"
								style="width:100px;"
								pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
								placeholder="YYYY-MM-DD"
								value="" />
						</td>
						<td class="InnerInputTD"><input name="sat_eb_reading_writing" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						<td class="InnerInputTD"><input name="sat_math" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						<td class="InnerInputTD"><input name="sat_total" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						<td class="InnerInputTD"><input name="sat_target" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						<td class="InnerInputTD"><input name="sat_next_test_date" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					</tr>
			</table>
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col width="100">
				</colgroup>
				<tr>
					<th><span style="color:orange;">* ACT (Required)</span></th>
					<th>English</th>
					<th>Math</th>
					<th>Reading</th>
					<th>Science</th>
					<th>Composite Score</th>
					<th>Target</th>
					<th>Next Test Date</th>
				</tr>
				<tr>
					{% for act in all_act %}
						<tr>
							<input type="text" name="act_id" value="{{act.id}}" hidden>
							<td class="InnerInputTD">
								<input
									name="act_date{{act.id}}"
									type="text"
									class="TableInnerInput"
									style="width:100px;"
									pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
									placeholder="YYYY-MM-DD"
									value="{{act.act_date|date:'Y-m-d'}}" />
							</td>
							<td class="InnerInputTD"><input name="act_eng{{act.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{act.eng}}" /></td>
							<td class="InnerInputTD"><input name="act_math{{act.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{act.math}}" /></td>
							<td class="InnerInputTD"><input name="act_reading{{act.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{act.reading}}" /></td>
							<td class="InnerInputTD"><input name="act_science{{act.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{act.science}}" /></td>
							<td class="InnerInputTD"><input name="act_cp_score{{act.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{act.cp_score}}" /></td>
							<td class="InnerInputTD"><input name="act_target{{act.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{act.target}}" /></td>
							<td class="InnerInputTD"><input name="act_next_test_date{{act.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{act.next_test_date}}" /></td>
						</tr>
					{% endfor %}
					<tr>
						<td class="InnerInputTD">
							<input
								name="act_date"
								type="text"
								class="TableInnerInput"
								style="width:100px;"
								pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
								placeholder="YYYY-MM-DD"
								value="" />
						</td>
						<td class="InnerInputTD"><input name="act_eng" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						<td class="InnerInputTD"><input name="act_math" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						<td class="InnerInputTD"><input name="act_reading" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						<td class="InnerInputTD"><input name="act_science" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						<td class="InnerInputTD"><input name="act_cp_score" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						<td class="InnerInputTD"><input name="act_target" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
						<td class="InnerInputTD"><input name="act_next_test_date" type="text" class="TableInnerInput" style="width:100px;" value="" /></td>
					</tr>
			</table>
		</div><!-- ListTable -->
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="100">
					<col>
				</colgroup>
				<tr>
					<th>AP Tests</th>
					<td class="InnerInputTD"><textarea name="ap_tests" class="TableInnerTextarea" style="height:100px;" >{{found_report.ap_tests}}</textarea></td>
				</tr>
				<tr>
					<th>SAT Subject Tests</th>
					<td class="InnerInputTD"><textarea name="sat_subjects_tests" class="TableInnerTextarea" style="height:100px;" >{{found_report.sat_subjects_tests}}</textarea></td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>

		<div class="MTitle">Consulting for Test Preparation</div>
		<div class="cdiv"></div>
		<div class="ListTable">
		<textarea name="test_prep" class="TableInnerTextarea" style="height:100px;" >{{found_report.test_prep}}</textarea>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<script>
		$(document).ready(function(){

			$.ajax({                       // initialize an AJAX request
				url: "/student/transcript/statistics/{{found_report.student.id}}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
				success: function (data) {   // `data` is the return of the `load_cities` view function
					var sat_date = data.sat_date;
					var act_date = data.act_date;
					var toefl_date = data.toefl_date;
					var months = data.months
					var gpa = data.gpa;

					var ctx = document.getElementById("SatStatisticChart");
					var ctx2 = document.getElementById("ActStatisticChart");
					var ctx3 = document.getElementById("ToeflStatisticChart");
					var ctx4 = document.getElementById("GpaStatisticChart");
					var myChart = new Chart(ctx, {
							type: 'line',
							data: {
									labels: sat_date,
									datasets: [
										{
											label:"SAT",
											data: data.sat_score,
											fill:false,
											borderColor: [
												'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',1' + ')',
											],
											borderWidth: 2
										},
										{
											label:"SAT_TARGET",
											data: data.sat_target,
											fill:false,
											borderColor: [
												'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',1' + ')',
											],
											borderWidth: 2
										},
									],
							},
							options: {
									title: {
										display:false,
										text: "SAT"
									},
									scales: {
											yAxes: [{
													ticks: {
															beginAtZero:true
													}
											}]
									}
							}
					});

					var myChart2 = new Chart(ctx2, {
							type: 'line',
							data: {
									labels: act_date,
									datasets: [
										{
											label:"ACT",
											data: data.act_score,
											fill:false,
											borderColor: [
												'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',1' + ')',
											],
											borderWidth: 2
										},
										{
											label:"ACT_TARGET",
											data: data.act_target,
											fill:false,
											borderColor: [
												'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',1' + ')',
											],
											borderWidth: 2
										},
									],
							},
							options: {
									title: {
										display:false,
										text: "ACT"
									},
									scales: {
											yAxes: [{
													ticks: {
															beginAtZero:true
													}
											}]
									}
							}
					});

					var myChart3 = new Chart(ctx3, {
							type: 'line',
							data: {
									labels: toefl_date,
									datasets: [
										{
											label:"TOEFL",
											data: data.toefl_score,
											fill:false,
											borderColor: [
												'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',1' + ')',
											],
											borderWidth: 2
										},
										{
											label:"TOEFL_TARGET",
											data: data.toefl_target,
											fill:false,
											borderColor: [
												'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',1' + ')',
											],
											borderWidth: 2
										},
									],
							},
							options: {
									title: {
										display:false,
										text: "TOEFL"
									},
									scales: {
											yAxes: [{
													ticks: {
															beginAtZero:true
													}
											}]
									}
							}
					});

					var myChart4 = new Chart(ctx4, {
							type: 'line',
							data: {
									labels: months,
									datasets: [
										{
											label:"GPA",
											data: data.gpa,
											fill:false,
											borderColor: [
												'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',1' + ')',
											],
											borderWidth: 2
										},
									],
							},
							options: {
									title: {
										display:false,
										text: "GPA"
									},
									scales: {
											yAxes: [{
													ticks: {
															beginAtZero:true
													}
											}]
									}
							}
					});

				}
			});
		})
		</script>



		<div class="MTitle">Graph for GPA, TOEFL, SAT, ACT</div>
		<div class="cdiv"></div>
		<div class="Layout_2-1">
			<div class="GraphgArea">
				<canvas id="SatStatisticChart" width="inherit" height="inherit"></canvas>
			</div><!-- Layout_2-1 -->
		</div>
		<div class="Layout_2-1">
			<div class="GraphgArea">
				<canvas id="ActStatisticChart" width="inherit" height="inherit"></canvas>
			</div>
		</div><!-- Layout_2-1 -->
		<div class="EndPart"></div>
		<div class="cdiv"></div>
		<br>
		<br>
		<div class="cdiv"></div>
		<div class="Layout_2-1">
		<div class="GraphgArea">
			<canvas id="ToeflStatisticChart" width="inherit" height="inherit"></canvas>
		</div>
		</div><!-- Layout_2-1 -->
		<div class="Layout_2-1">
		<div class="GraphgArea">
			<canvas id="GpaStatisticChart" width="inherit" height="inherit"></canvas>
		</div>
		</div><!-- Layout_2-1 -->
		<div class="EndPart"></div>
		<div class="cdiv"></div>


		<div class="EndPart"></div>
		<br>
		<br>
		<div class="MTitle">Activities</div>
		<div class="cdiv"></div>
		<div class="ListTable">
		<textarea name="activities" class="TableInnerTextarea" style="height:100px;">{{found_report.activities}}</textarea>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>

		<div class="MTitle">Community Services</div>
		<div class="cdiv"></div>
		<div class="ListTable">
		<textarea name="community_services" class="TableInnerTextarea" style="height:100px;">{{found_report.community_services}}</textarea>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>

		<div class="MTitle">Objective / Assignment for Next Report</div>
		<div class="cdiv"></div>
		<div class="ListTable">
		<textarea name="objective_assignment" class="TableInnerTextarea" style="height:100px;">{{found_report.objective_assignment}}</textarea>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<div class="MTitle">Payment & Invoice</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>Description</th>
					<th>Expense</th>
					<th>Due Date</th>
					<th>Payment</th>
					<th>Paid Date</th>
					<th>Balance</th>
					<th>Invoice Attachment</th>
				</tr>
				<tr>
					<td class="InnerInputTD"><input name="payment_desc" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.payment_desc}}" /></td>
					<td class="InnerInputTD"><input name="payment_expense" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.payment_expense}}" /></td>
					<td class="InnerInputTD"><input name="payment_due_date" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.payment_due_date}}" /></td>
					<td class="InnerInputTD"><input name="payment_payment" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.payment_payment}}" /></td>
					<td class="InnerInputTD"><input name="payment_paid_date" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.payment_paid_date}}" /></td>
					<td class="InnerInputTD"><input name="payment_balance" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.payment_balance}}" /></td>
					<td class="InnerInputTD"><input name="payment_invoice" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.payment_invoice}}" /></td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>


		<div class="MTitle">Status</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<th>Report Status : </th>
					<td>
            {% if found_report.status == 'incomplete' %}
						<label><input name="status" type="radio" value="incomplete" checked required/><span></span>Incomplete</label>
						<label><input name="status" type="radio" value="complete"/><span></span>Complete</label>
						{% elif found_report.status == 'complete'%}
						<label><input name="status" type="radio" value="incomplete" required/><span></span>Incomplete</label>
						<label><input name="status" type="radio" value="complete" checked/><span></span>Complete</label>
            {% elif found_report.status == 'manager_confirmed' %}
            Manager Confirmed Date  :  {{found_report.manager_confirm_date|date:"Y-m-d"}}
            {% elif found_report.status == 'send_to_agent' %}
            Manager Confirmed  :  {{found_report.manager_confirm_date|date:"Y-m-d"}} / Send to Agent  :  {{found_report.send_to_agent_date|date:"Y-m-d"}}
            {% elif found_report.status == 'agent_confirmed' %}
            Manager Confirmed  :  {{found_report.manager_confirm_date|date:"Y-m-d"}} / Send to Agent  :  {{found_report.send_to_agent_date|date:"Y-m-d"}} / Agent Confirmed  :  {{found_report.agent_confirmed|date:"Y-m-d"}}
            {% else %}
            <label><input name="status" type="radio" value="incomplete" required/><span></span>Incomplete</label>
						<label><input name="status" type="radio" value="complete"/><span></span>Complete</label>
            {% endif %}
					</td>
				</tr>
			</table>
		</div><!-- ListTable -->

		<div class="SubmitButtonLine">
			<button class="Submit" type="submit">SAVE</button>
		</div>
		</form>
		<div class="EndPart"></div>


        <div class="MTitle">Communication Log</div>
        <div class="cdiv"></div>
        <div class="ListTable2">
            <table cellpadding="0" cellspacing="0" border="0">
                <colgroup>
                    <col>
                </colgroup>
                <tr>
                    <th>Updated</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>Comment</th>
                    <th>Writer</th>
                </tr>
                <tr>
					{% for log in all_logs %}
						<tr>
							<td class="InnerInputTD"><input name="log_updated_at" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{log.updated_at}}" readonly /></td>
							<td class="InnerInputTD"><input name="log_category" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{log.category}}" readonly /></td>
							<td class="InnerInputTD"><input name="log_priority}" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{log.priority}}" readonly /></td>
							<td class="InnerInputTD"><input name="log_comment" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{log.comment}}" readonly /></td>
							<td class="InnerInputTD"><input name="log_writer" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{log.writer}}" readonly /></td>
						</tr>
					{% endfor %}
                </tr>
            </table>
        </div><!-- ListTable -->
        <div class="EndPart"></div>


    <div class="MTitle" style="width:100%;">
			<div class="MTitleForm">
				<select id="GetHostReportId" class="MTitleInput">
					<option value="">Select Reports..</option>
					{% for report in all_host_reports %}
					<option value="{{report.id}}">Last Updated : {{report.updated_at|date:"Y-m-d"}} ({{report.host_coordi.user.first_name}})</option>
					{% endfor %}
				</select>
			</div>
			Host Family Monthly Report
		</div>
		<div class="cdiv"></div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="150">
					<col>
					<col>
				</colgroup>
				<tr>
					<th>Host Family Name : </th>
					{% if found_host_report %}
					<td id="HostReportHostName" colspan="2" class="InnerInputTD">{{found_host_report.host.name}}</td>
					{% else %}
					<td id="HostReportHostName" colspan="2" class="InnerInputTD"></td>
					{% endif %}
				</tr>
				<tr>
					<th>Host Family Address : </th>
					{% if found_host_report %}
					<td id="HostReportHostAddress" colspan="2" class="InnerInputTD">{{found_host_report.host.address}}</td>
					{% else %}
					<td id="HostReportHostAddress" colspan="2" class="InnerInputTD"></td>
					{% endif %}
				</tr>
				<tr>
					<th>Host Family Contact Info : </th>
					{% if found_host_report %}
					<td id="HostReportHostContact" colspan="2" class="InnerInputTD">{{found_host_report.host.phone}} / {{found_host_report.host.email}}</td>
					{% else %}
					<td id="HostReportHostContact" colspan="2" class="InnerInputTD"></td>
					{% endif %}
				</tr>
				<tr>
					<th>Rate </th>
					{% if found_host_report %}
					<td id="HostReportHostRate" class="InnerInputTD">{{found_host_report.rate|capfirst}}</td>
					{% else %}
					<td id="HostReportHostRate" class="InnerInputTD"></td>
					{% endif %}

					{% if found_host_report %}
					<td class="InnerInputTD">Improvement : <span id="HostReportHostImprovement">{{found_host_report.improvement|capfirst}}</span></td>
					{% else %}
					<td class="InnerInputTD">Improvement : <span id="HostReportHostImprovement"></span></td>
					{% endif %}
				</tr>
        <tr>
					<th>Cultural Fluency : </th>
					{% if found_host_report %}
					<td id="HostReportHostFluency" colspan="2" class="InnerInputTD">{{found_host_report.cultural_fluency}}</td>
					{% else %}
					<td id="HostReportHostFluency" colspan="2" class="InnerInputTD"></td>
					{% endif %}
				</tr>
				<tr>
					<th>House Rules & Attitude</th>
					{% if found_host_report %}
					<td id="HostReportHostRules" colspan="2" class="InnerInputTD">{{found_host_report.house_rule_attitude}}</td>
					{% else %}
					<td id="HostReportHostRules" colspan="2" class="InnerInputTD"></td>
					{% endif %}
				</tr>
				<tr>
					<th>Responsibility</th>
					{% if found_host_report %}
					<td id="HostReportHostResponsibility" colspan="2" class="InnerInputTD">{{found_host_report.responsibility}}</td>
					{% else %}
					<td id="HostReportHostResponsibility" colspan="2" class="InnerInputTD"></td>
					{% endif %}
				</tr>
				<tr>
					<th>Communication</th>
					{% if found_host_report %}
					<td id="HostReportHostCommunication" colspan="2" class="InnerInputTD">{{found_host_report.communication}}</td>
					{% else %}
					<td id="HostReportHostCommunication" colspan="2" class="InnerInputTD"></td>
					{% endif %}
				</tr>
				<tr>
					<th>Sleeping Habits</th>
					{% if found_host_report %}
					<td id="HostReportHostHabit" colspan="2" class="InnerInputTD">{{found_host_report.sleeping_habits}}</td>
					{% else %}
					<td id="HostReportHostHabit" colspan="2" class="InnerInputTD"></td>
					{% endif %}
				</tr>
				<tr>
					<th>School Attendance</th>
					{% if found_host_report %}
					<td id="HostReportHostAttendance" colspan="2" class="InnerInputTD">{{found_host_report.school_attendance}}</td>
					{% else %}
					<td id="HostReportHostAttendance" colspan="2" class="InnerInputTD"></td>
					{% endif %}
				</tr>
				<tr>
					<td colspan="3" class="InnerInputTD">
						{% if found_host_report %}
						<textarea id="HostReportHostComment" class="TableInnerTextarea" style="height:100px;" readonly>{{found_host_report.comment}}</textarea>
						{% else %}
						<textarea id="HostReportHostComment" class="TableInnerTextarea" style="height:100px;" readonly></textarea>
						{% endif %}
					</td>
				</tr>
				{% if found_host_report.photos.all %}
				<tr>
					<th>Photos</th>
					<td colspan="3" class="InnerInputTD">
						{% for photo in found_host_report.photos.all %}
						<img src="{{MEDIA_URL}}{{photo.photo}}" width="400px" alt="">
						<span style="margin-right:10px;"></span>
						{% endfor %}
						<span id="HostReportHostPhoto" style="margin-right:10px;"></span>
					</td>
				</tr>
				{% endif %}
				{% if found_host_report.files.all %}
				<tr>
					<th>Files</th>
					<td colspan="3" class="InnerInputTD">
						{% for file in found_host_report.files.all %}
						<a href="{{MEDIA_URL}}{{file.file}}">{{file.file}}</a><br>
						{% endfor %}
						<span id="HostReportHostFile"></span>
					</td>
				</tr>
				{% endif %}
			</table>
		</div><!-- ListTable -->

    <div class="EndPart"></div>

		<form method="post">
			{% csrf_token %}
			{% if found_host_report %}
			<input id="HostReportId" type="text" name="host_form_id" value="{{found_host_report.id}}" hidden>
			{% else %}
			<input id="HostReportId" type="text" name="host_form_id" value="" hidden>
			{% endif %}
			<div class="SubmitButtonLine">
				<button class="Submit" style="background-color:orange;" type="submit">Combine Reports and Send to Agent</button>
			</div>
		</form>

		<!-- <div class="MTitle">Communicetion Log</div>
		<div class="ListSearch Aright">
			<div><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';" class="IsolationButton">+ &nbsp; Add New Log</a></div>
		</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>No</th>
					<th>Date</th>
					<th>Category</th>
					<th>Prioity</th>
					<th>Comment</th>
					<th>Subject</th>
					<th>Writer</th>
				</tr>
				<tr>
					<td>6</td>
					<td>2017.10.14</td>
					<td>Behavior</td>
					<td>3</td>
					<td class="Aleft"><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';">2017-18 Spring Semester Opening</a></td>
					<td>Student</td>
					<td>Mariah Chang</td>
				</tr>
				<tr>
					<td>5</td>
					<td>2017.10.14</td>
					<td>Academic</td>
					<td>1</td>
					<td class="Aleft"><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';">2017-18 Spring Semester Opening</a></td>
					<td>Parent</td>
					<td>Mariah Chang</td>
				</tr>
				<tr>
					<td>4</td>
					<td>2017.10.14</td>
					<td>Activites</td>
					<td>2</td>
					<td class="Aleft"><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';">2017-18 Spring Semester Opening</a></td>
					<td>Student</td>
					<td>Mariah Chang</td>
				</tr>
				<tr>
					<td>3</td>
					<td>2017.10.14</td>
					<td>Host Family</td>
					<td>4</td>
					<td class="Aleft"><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';">2017-18 Spring Semester Opening</a></td>
					<td>Parents</td>
					<td>Mariah Chang</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2017.10.14</td>
					<td style="background-color:red;color:#FFF;">Complaints</td>
					<td>5</td>
					<td class="Aleft"><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';">2017-18 Spring Semester Opening</a></td>
					<td>Student</td>
					<td>Mariah Chang</td>
				</tr>
				<tr>
					<td>1</td>
					<td>2017.10.14</td>
					<td>Other</td>
					<td>5</td>
					<td class="Aleft"><a href="Javascript:void(0);" OnClick="document.getElementById('PopCommunicationUpdate').style.display='block';">2017-18 Spring Semester Opening</a></td>
					<td>Parents</td>
					<td>Mariah Chang</td>
				</tr>
			</table>
		</div> -->
    <!-- ListTable -->



		<div class="EndPart"></div>




	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->

<script>
function MenuOpen() {
	obj = document.getElementById('LeftF');

	if (obj.style.margin == "0px 0px 0px -229px") {
		document.getElementById('LeftF').style.margin='0px 0px 0px 0px';
		document.getElementById('MToggle').style.transform='rotate(90deg)';
		document.getElementById('MainF').style.width='calc(100% - 355px)';
	} else {
		document.getElementById('LeftF').style.margin='0px 0px 0px -229px';
		document.getElementById('MToggle').style.transform='rotate(0deg)';
		document.getElementById('MainF').style.width='calc(100% - 126px)';
	}
}
</script>
{% endblock %}
