{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="ContentsFrame">
	<div class="LeftFrame" id="LeftF">
		<div class="SectionTitle">Current Students Report</div>
		<div class="LeftTab">
			<div class="TabConternts">
				<div class="InnerTabContents">
					{% for student in all_students %}
					<li><a href="/student/monthly/report/{{student.id}}">{{student.name}}</a></li>
					{% endfor %}
				</div><!-- InnerTabContents -->
			</div>
		</div><!-- LeftTab -->
	</div><!-- LeftFrame -->



	<div class="MainFrame" id="MainF">
		<form method="POST">
			{% csrf_token %}
			<input type="text" name="post_type" value="student_monthly_report" hidden>
			<input type="text" name="report_id" value="" hidden>
		<div class="PTitle">New Student Monthly Report ({% now "F Y"%})</div>
		<div class="MTitle" style="width:100%;">
			<div class="MTitleForm">
				<select class="MTitleInput" onchange="location=this.value;">
					<option value="">Select Reports..</option>
					{% for report in all_reports %}
					<option value="/student/monthly/report/update/{{report.id}}">Last Updated : {{report.updated_at|date:"Y-m-d"}}</option>
          {% endfor %}
				</select>
			</div>
			Student Information
		</div>

		<div class="cdiv"></div>
		<div class="InformationSet">
			<div class="Picture" style="background-image:url('../imgsrc/person01.jpg');">&nbsp;</div>
			<div class="Information">
				<div class="InfoTable">
					<table cellpadding="0" cellspacing="0" border="0">
						<colgroup>
							<col width="90">
							<col width="100">
							<col width="60">
							<col width="">
							<col width="150">
							<col width="100">
						</colgroup>
						<tr>
							<th>Name : </th>
							<td colspan="3" class="InnerInputTD">{{found_student.name}}</td>
							<th>Counseling Date : </th>
							<td class="InnerInputTD"><input name="counseling_date" type="text" class="TableInnerInput" style="width:80px;" value="" /></td>
						</tr>
						<tr>
							<th>School : </th>
							<td colspan="3" class="InnerInputTD">{{found_student.school.name}}</td>
						</tr>
						<tr>
							<th>School year : </th>
							<td class="InnerInputTD"><input name="school_year" type="text" class="TableInnerInput" style="width:80px;" value="" /></td>
							<th>Grade : </th>
							<td class="InnerInputTD" colspan="3"><input name="grade" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
						</tr>
					</table>
				</div><!-- InfoTable -->
			</div><!-- Information -->
			<div class="HButton">Image Change</div>
			<div class="Information">
				<div class="InfoTable">
					<table cellpadding="0" cellspacing="0" border="0">
						<colgroup>
							<col width="90">
							<col>
						</colgroup>
						<tr>
							<th>College Plan : </th>
							<td class="InnerInputTD"><input name="college_plan" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
						</tr>
					</table>
				</div><!-- InfoTable -->
			</div><!-- Information -->
		</div><!-- InformationSet -->
		<div class="EndPart"></div>

		<div class="MTitle">Current Selection</div>
		<div class="cdiv"></div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>Subject</th>
					<td>Eng-9H</td>
					<td>PreCal</td>
					<td>Bio-H</td>
					<td>Chem-H</td>
					<td>AP-Human Geo</td>
					<td>Computer Sci</td>
					<td>Spanish 3</td>
					<td>Orchestra</td>
				</tr>
				<tr>
					<th>Level</th>
					<td class="InnerInputTD"><input name="eng9h_lv" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="precal_lv" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="bioh_lv" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="chemh_lv" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="geo_lv" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="cs_lv" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="sp_lv" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="orch_lv" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>

				</tr>
				<tr>
					<th>Target</th>
					<td class="InnerInputTD"><input name="eng9h_tg" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="precal_tg" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="bioh_tg" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="chemh_tg" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="geo_tg" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="cs_tg" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="sp_tg" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="orch_tg" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
				</tr>
				<tr>
					<th>Current</th>
					<td class="InnerInputTD"><input name="eng9h_current" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="precal_current" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="bioh_current" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="chemh_current" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="geo_current" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="cs_current" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="sp_current" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="orch_current" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
				</tr>
				<tr>
					<th>Comment</th>
					<td colspan="9" class="InnerInputTD">
					<textarea class="TableInnerTextarea" style="height:60px;width:calc(100% - 10px);" name="comment"></textarea>
					</td>
				</tr>
				<tr>
					<th>Target GPA</th>
					<td colspan="9" class="InnerInputTD">
					<textarea class="TableInnerTextarea" style="height:60px;width:calc(100% - 10px);" name="target_gpa"></textarea>
					</td>
				</tr>
				<tr>
					<th>To see current Transcript</th>
					<td colspan="9" class="InnerInputTD">
					<textarea class="TableInnerTextarea" style="height:60px;width:calc(100% - 10px);" name="transcript"></textarea>
					</td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>



		<div class="MTitle">English skills / TOEFLE</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<textarea class="TableInnerTextarea" style="height:60px;" name="eng_skill"></textarea>
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col width="100">
				</colgroup>
				<tr>
					<th>TOEFL</th>
					<th>Reading</th>
					<th>Listening</th>
					<th>Speaking</th>
					<th>Writing</th>
					<th>Total</th>
					<th>Target</th>
					<th>Next Test Date</th>
				</tr>
				<tr>
					<td class="InnerInputTD"><input name="toefl" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_reading" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_listening" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_speaking" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_writing" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_total" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_target" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="toefl_next_test_date" type="text" class="TableInnerInput" style="width:70px;" value="" /></td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>



		<div class="MTitle">Test Scores</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col width="100">
				</colgroup>
				<tr>
					<th>SAT(PSAT)</th>
					<th>Evidence-based Reading & Writing</th>
					<th>Math</th>
					<th>Total</th>
					<th>Target</th>
					<th>Next Test Date</th>
				</tr>
				<tr>
					<td class="InnerInputTD"><input name="sat" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="sat_evb_reading_writing" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="sat_math" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="sat_total" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="sat_target" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="sat_next_test_date" type="text" class="TableInnerInput" style="width:70px;" value="" /></td>
				</tr>
			</table>
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col width="100">
				</colgroup>
				<tr>
					<th>ACT</th>
					<th>English</th>
					<th>Math</th>
					<th>Reading</th>
					<th>Science</th>
					<th>Composite Score</th>
					<th>Target</th>
					<th>Next Test Date</th>
				</tr>
				<tr>
					<td class="InnerInputTD"><input name="act" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="act_eng" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="act_math" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="act_reading" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="act_sci" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="act_composition_score" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="act_target" type="text" class="TableInnerInput" style="width:40px;" value="" /></td>
					<td class="InnerInputTD"><input name="act_next_test_date" type="text" class="TableInnerInput" style="width:70px;" value="" /></td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="100">
					<col>
				</colgroup>
				<tr>
					<th>AP Tests</th>
					<td class="InnerInputTD"><textarea name="ap_tests" class="TableInnerTextarea" style="height:60px;" placeholder=""></textarea></td>
				</tr>
				<tr>
					<th>SAT Subject Tests</th>
					<td class="InnerInputTD"><textarea name="sat_subjects_tests" class="TableInnerTextarea" style="height:60px;" placeholder=""></textarea></td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>

		<div class="MTitle">Test Prep</div>
		<div class="cdiv"></div>
		<div class="ListTable">
		<textarea name="test_prep" class="TableInnerTextarea" style="height:60px;" ></textarea>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<div class="MTitle">Graph for GPA, TOEFL. SAT, ACT</div>
		<div class="cdiv"></div>
		<div class="Layout_2-1">
		<div class="GraphgArea">GPA Graph</div>
		</div><!-- Layout_2-1 -->
		<div class="Layout_2-1">
		<div class="GraphgArea">TOEFL Graph</div>
		</div><!-- Layout_2-1 -->
		<div class="EndPart"></div>
		<div class="cdiv"></div>

		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="90">
					<col>
				</colgroup>
				<tr>
					<th>Activities : </th>
					<td class="InnerInputTD"><textarea name="activities" class="TableInnerTextarea" style="height:60px;" placeholder=""></textarea></td>
				</tr>
				<tr>
					<th>Community Services : </th>
					<td class="InnerInputTD"><textarea name="community_services" class="TableInnerTextarea" style="height:60px;" placeholder=""></textarea></td>
				</tr>
				<tr>
					<th>Agenda : </th>
					<td class="InnerInputTD"><textarea name="agenda" class="TableInnerTextarea" style="height:60px;" placeholder=""></textarea></td>
				</tr>
				<tr>
					<th>Comment : </th>
					<td class="InnerInputTD"><textarea name="comment2" class="TableInnerTextarea" style="height:60px;" placeholder=""></textarea></td>
				</tr>
				<tr>
					<th>Objective / Assignment : </th>
					<td class="InnerInputTD"><textarea name="objective_assignment" class="TableInnerTextarea" style="height:60px;" placeholder=""></textarea></td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<div class="MTitle">Payment & Invoice</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>Description</th>
					<th>Expense</th>
					<th>Due date</th>
					<th>Payment</th>
					<th>Paid date</th>
					<th>Balance</th>
					<th>Invoice attachment</th>
				</tr>
				<tr>
					<td class="InnerInputTD"><input name="payment_desc" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="payment_expense" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="payment_due_date" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="payment_payment" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="payment_paid_date" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="payment_balance" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
					<td class="InnerInputTD"><input name="payment_invoice" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="" /></td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>

		<div class="MTitle">Status</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<th>Report Status : </th>
					<td>
						<label><input name="status" type="radio" value="incomplete" checked required/><span></span>Incomplete</label>
						<label><input name="status" type="radio" value="submitted"/><span></span>Complete</label>
					</td>
				</tr>
			</table>
		</div><!-- ListTable -->

		<div class="SubmitButtonLine">
			<button class="Submit" type="submit">SAVE</button>
		</div>
		</form>
		<div class="EndPart"></div>




	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->

<script>
function MenuOpen() {
	obj = document.getElementById('LeftF');

	if (obj.style.margin == "0px 0px 0px -229px") {
		document.getElementById('LeftF').style.margin='0px 0px 0px 0px';
		document.getElementById('MToggle').style.transform='rotate(90deg)';
		document.getElementById('MainF').style.width='calc(100% - 355px)';
	} else {
		document.getElementById('LeftF').style.margin='0px 0px 0px -229px';
		document.getElementById('MToggle').style.transform='rotate(0deg)';
		document.getElementById('MainF').style.width='calc(100% - 126px)';
	}
}
</script>
{% endblock %}
