{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="ContentsFrame">
	<div class="LeftFrame" id="LeftF">
		<div class="SectionTitle">Current Students Report</div>
		<div class="LeftTab">
			<div class="TabConternts">
				<div class="InnerTabContents">
					<li><a href="/student/test/report">Yuren</a></li>
					<li><a href="/student/test/report">Tianyi</a></li>
					<li><a href="/student/test/report">Jessica</a></li>
					<li><a href="/student/test/report">Hyeongcheol</a></li>
					<li><a href="/student/test/report">Jun</a></li>
					<li><a href="/student/test/report">Jae</a></li>
					<li><a href="/student/test/report">Soomin</a></li>
					<li><a href="/student/test/report">Christine</a></li>
					<li><a href="/student/test/report">Huashuo</a></li>
					<li><a href="/student/test/report">Xinxiang</a></li>
					<li><a href="/student/test/report">Eric</a></li>
					<li><a href="/student/test/report">Jason</a></li>
				</div><!-- InnerTabContents -->
			</div>
		</div><!-- LeftTab -->
	</div><!-- LeftFrame -->



	<div class="MainFrame" id="MainF">
		<div class="MTitle" style="width:100%;">
			<div class="MTitleForm">
				<select class="MTitleInput">
					<option>December 2017</option>
					<option>November 2017</option>
					<option>October 2017</option>
					<option>September 2017</option>
					<option>August 2017</option>
					<option>July 2017</option>
					<option>June 2017</option>
					<option>May 2017</option>
					<option>April 2017</option>
					<option>March 2017</option>
					<option>February 2017</option>
					<option>January 2017</option>
				</select>
			</div>
			Student Monthly Report
		</div>

		<div class="cdiv"></div>
		<div class="InformationSet">
			<div class="Picture" style="background-image:url('../imgsrc/person01.jpg');">&nbsp;</div>
			<div class="Information">
				<div class="InfoTable">
					<table cellpadding="0" cellspacing="0" border="0">
						<colgroup>
							<col width="15%">
							<col width="35%">
							<col width="15%">
							<col width="35%">
						</colgroup>
						<tr>
							<th>Name : </th>
							<td>Bao, Tianyi</td>
							<th>School : </th>
							<td>HN</td>
						</tr>
						<tr>
							<th>Agent : </th>
							<td>BGE Beijing</td>
							<th>Starting Year : </th>
							<td>08/2015</td>
						</tr>
						<tr>
							<th>Finishing year : </th>
							<td>05/2017</td>
							<th>Enrollment Grade : </th>
							<td>11th</td>
						</tr>
						<tr>
							<th>Attending College : </th>
							<td>University of British Columbia</td>
							<th>Cumulative GPA : </th>
							<td>3.3</td>
						</tr>
						<tr>
							<td colspan="4"class="InnerInputTD">Comment : <input type="text" class="TableInnerInput" style="width:calc(100% - 80px);" /></td>
						</tr>
					</table>
				</div><!-- InfoTable -->
			</div><!-- Information -->
		</div><!-- InformationSet -->
		<div class="EndPart"></div>




		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="20%">
					<col width="20%">
					<col width="20%">
					<col width="20%">
					<col width="20%">
				</colgroup>
				<tr>
					<th></th>
					<th>9th</th>
					<th>10th</th>
					<th>11th</th>
					<th>12th</th>
				</tr>
				<tr>
					<td class="TitleColor">GRADES/GPA</td>
					<td>x</td>
					<td>x</td>
					<td>3.2</td>
					<td>3.3</td>
				</tr>
				<tr>
					<td class="TitleColor">SAT I</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class="TitleColor">SAT II</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class="TitleColor">AP COURSES</td>
					<td></td>
					<td></td>
					<td></td>
					<td>AP Psych</td>
				</tr>
				<tr>
					<td class="TitleColor">TOEFL</td>
					<td></td>
					<td></td>
					<td></td>
					<td>88</td>
				</tr>
				<tr>
					<td class="TitleColor">EXTRACURRICULAR ACTIVITIES</td>
					<td></td>
					<td></td>
					<td>Clark University women's group.</td>
					<td></td>
				</tr>
				<tr>
					<td class="TitleColor">COMMUNITY SERVICE</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td class="TitleColor">Award</td>
					<td></td>
					<td></td>
					<td></td>
					<td>National Honor Society</td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>





		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="120">
					<col>
				</colgroup>
				<tr>
					<th>Applied College : </th>
					<td></td>
				</tr>
				<tr>
					<th>Accepted College : </th>
					<td></td>
				</tr>
				<tr>
					<th>Remark : </th>
					<td>
					We helped Tianyi work communicate with the school when she wanted to change to classes of a higher level. She was hesitant to communicate with the school so we helped her because she was more comfortable. We also worked with her to push her to be involved in extracurricular activities. Our staff found volunteer opportunities with women's rights groups and helped her to meet local officials and to become involved with the woman’s group at a local high ranked university. She also get admitted in NYU
					</td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>

	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->

{% endblock %}
