{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
#PopAccountUpdate {display:none;}
</style>
<div class="PopCover" id="PopAccountUpdate">
	<div class="Popup">
		<div class="TitleSet">
			<div class="Close" OnClick="document.getElementById('PopAccountUpdate').style.display='none';">X</div>
			<div class="Title">Add New</div>
		</div>
		<div class="Contents">


			<div class="InfoTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col width="110">
						<col>
					</colgroup>
					<tr>
						<th>Discription : </th>
						<td class="InnerInputTD">
							<textarea class="TableInnerTextarea" style="height:60px;"></textarea>
						</td>
					</tr>
					<tr>
						<th>Expense : </th>
						<td class="InnerInputTD">
							<input type="text" class="TableInnerInput" size="20" value="" />
						</td>
					</tr>
					<tr>
						<th>Due Date : </th>
						<td class="InnerInputTD">
							<input type="text" class="TableInnerInput" size="10" value="" />
						</td>
					</tr>
					<tr>
						<th>Payment : </th>
						<td class="InnerInputTD">
							<input type="text" class="TableInnerInput" size="20" value="" />
						</td>
					</tr>
					<tr>
						<th>Payed Date : </th>
						<td class="InnerInputTD">
							<input type="text" class="TableInnerInput" size="10" value="" />
						</td>
					</tr>
				</table>
			</div><!-- InfoTable -->


			<div class="PopButtonLine">
				<div class="Close" OnClick="document.getElementById('PopAccountUpdate').style.display='none';">CLOSE</div>
				<div class="Submit" OnClick="document.getElementById('PopAccountUpdate').style.display='none';">SAVE</div>
			</div>

		</div>
	</div>
</div>
<?php include('../inc/_top.php'); ?>
<div class="ContentsFrame">
	<div class="LeftFrame" id="LeftF">
		<div class="SectionTitle">BGE All Current Students</div>
		<div class="LeftTab">
			<div class="TabConternts">
				<div class="InnerTabContents">
					<div id="LeftTab01">
						<div class="InnerTabTitle" OnClick="document.getElementById('LeftTab01').style.display='none';document.getElementById('LeftTab01C').style.display='block';">Branch A</div>
						<li><a href="../account/">Yuren</a></li>
						<li><a href="../account/">Tianyi</a></li>
						<li><a href="../account/">Jessica</a></li>
						<li><a href="../account/">Hyeongcheol</a></li>
						<li><a href="../account/">Huashuo</a></li>
						<li><a href="../account/">Xinxiang</a></li>
						<li><a href="../account/">Eric</a></li>
						<li><a href="../account/">Jason</a></li>
						<li><a href="../account/">Jun</a></li>
						<li><a href="../account/">Jae</a></li>
						<li><a href="../account/">Soomin</a></li>
						<li><a href="../account/">Christine</a></li>
						<li></li>
					</div>
					<div id="LeftTab01C" class="LeftTabHidden">
						<div class="InnerTabTitle" OnClick="document.getElementById('LeftTab01').style.display='block';document.getElementById('LeftTab01C').style.display='none';">Branch A</div>
					</div>
					<div id="LeftTab02" class="LeftTabHidden">
						<div class="InnerTabTitle" OnClick="document.getElementById('LeftTab02').style.display='none';document.getElementById('LeftTab02C').style.display='block';">Branch B</div>
						<li><a href="../account/">Xinxiang</a></li>
						<li><a href="../account/">Eric</a></li>
						<li><a href="../account/">Jason</a></li>
						<li><a href="../account/">Jun</a></li>
						<li><a href="../account/">Jae</a></li>
						<li><a href="../account/">Soomin</a></li>
						<li><a href="../account/">Christine</a></li>
						<li></li>
					</div>
					<div id="LeftTab02C">
						<div class="InnerTabTitle" OnClick="document.getElementById('LeftTab02').style.display='block';document.getElementById('LeftTab02C').style.display='none';">Branch B</div>
					</div>
					<div id="LeftTab03" class="LeftTabHidden">
						<div class="InnerTabTitle" OnClick="document.getElementById('LeftTab03').style.display='none';document.getElementById('LeftTab03C').style.display='block';">Branch C</div>
						<li><a href="../account/">Yuren</a></li>
						<li><a href="../account/">Tianyi</a></li>
						<li><a href="../account/">Jessica</a></li>
						<li><a href="../account/">Jun</a></li>
						<li><a href="../account/">Jae</a></li>
						<li><a href="../account/">Soomin</a></li>
						<li><a href="../account/">Christine</a></li>
						<li></li>
					</div>
					<div id="LeftTab03C">
						<div class="InnerTabTitle" OnClick="document.getElementById('LeftTab03').style.display='block';document.getElementById('LeftTab03C').style.display='none';">Branch C</div>
					</div>
				</div><!-- InnerTabContents -->
			</div>
		</div><!-- LeftTab ID:LeftTab03 -->
	</div><!-- LeftFrame -->




	<div class="MainFrame" id="MainF">


		<div class="AccountFrameL">
			<div class="MTitle">Jessica <span>Account Information</span></div>
			<div class="ListSearch Aright">
				<div><a href="Javascript:void(0);" OnClick="document.getElementById('PopAccountUpdate').style.display='block';" class="IsolationButton">+ &nbsp; Add New</a></div>
			</div>
			<div class="cdiv"></div>
			<div class="ListTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col>
					</colgroup>

					<tr>
						<th>Description</th>
						<th>Expense</th>
						<th>Due date</th>
						<th>Payement</th>
						<th>Paid date</th>
						<th>Balance</th>
						<th>Invoice attachment</th>
					</tr>
					<tr>
						<td>-</td>
						<td>30000</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>-</td>
					</tr>
					<tr>
						<td>-</td>
						<td>-</td>
						<td>-</td>
						<td>40000</td>
						<td>-</td>
						<td>10000</td>
						<td>-</td>
					</tr>
				</table>
			</div><!-- ListTable -->
		</div><!-- AccountFrameL -->
		<div class="AccountFrameR">
			<div class="ListTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col>
					</colgroup>

					<tr>
						<th>Overdue Accounts</th>
					</tr>
					<tr>
						<td><a href="../account/">Xinxiang</a></td>
					</tr>
					<tr>
						<td><a href="../account/">Eric</a></td>
					</tr>
					<tr>
						<td><a href="../account/">Jason</a></td>
					</tr>
					<tr>
						<td><a href="../account/">Jun</a></td>
					</tr>
					<tr>
						<td><a href="../account/">Jae</a></td>
					</tr>
					<tr>
						<td><a href="../account/">Soomin</a></td>
					</tr>
				</table>
			</div><!-- ListTable -->
		</div><!-- AccountFrameR -->

	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->

{% endblock %}
