{% extends 'base.html' %}
{% load static templatehelpers%}
{% block content %}
<div class="ContentsFrame">


	<div class="LeftFrame" id="LeftF">
		<div class="SectionTitle">Agent Profile Update</div>
		<div class="LeftTab" id="LeftTab01">
			<div class="TabConternts" id="InnerTab0101">
				<div class="InnerTabContents">
					{% for agent in all_agents %}
					<li><a href="/agents/info/{{agent.id}}">{{agent.name}}</a></li>
					{% endfor %}
					<br>
					/////////Branch/////////
					{% for agent in all_agent_branches %}
					<li><a href="/agents/branch/info/{{agent.id}}">{{agent.name}}</a></li>
					{% endfor %}
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/agents/info/create" class="IsolationButton">+ &nbsp; Add Agent List</a>
				</div><!-- InnerTabContents -->

			</div><!-- TabConternts ID:InnerTab0101 -->
		</div><!-- LeftTab ID:LeftTab01 -->
	</div><!-- LeftFrame -->


	<div class="MainFrame" id="MainF">
		<div id="CollegeTab">


		<div class="MTitle">Agent Overview</div>
		<div class="cdiv"></div>
		<div class="AgentFrameL">
			<div class="ListTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col>
					</colgroup>
					<tr>
						<th rowspan="2">Agent</th>
						<th colspan="2" class="row2">New Students</th>
					</tr>
					<tr>
						<th class="row2">Inquired</th>
						<th class="row2">Enrolled</th>
					</tr>
					{% for agent in all_agents %}
					<tr>
						<td><a href="/agents/info/{{agent.id}}">{{agent.name}}</a></td>
						<td>{{agent.inquired}}</td>
						<td>{{agent.enrolled}}</td>
					</tr>
					{% endfor %}
					<tr>
						<td class="TitleColor">Total</td>
						<td class="TitleColor">{{total_inquired}}</td>
						<td class="TitleColor">{{total_enrolled}}</td>
					</tr>
				</table>
			</div><!-- ListTable -->
		</div><!-- AgentFrameL -->

		<script>
			$.ajax({                       // initialize an AJAX request
				url: "/charts/agents/statistics",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
				success: function (data) {   // `data` is the return of the `load_cities` view function
					var years = data.years;
					var result = data.data;
					var array = []
					result.forEach(function(element){
						array.push(
							{
								label: element.agent,
								data: element.data,
								fill:false,
								borderColor: [
									'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
									(Math.floor(Math.random() * 256)) + ',' +
									(Math.floor(Math.random() * 256)) + ',1' + ')',
								],
								borderWidth: 2
							}
						)
					})
					var ctx = document.getElementById("AgentStatisticChart");
					var myChart = new Chart(ctx, {
							type: 'line',
							data: {
									labels: years,
									datasets: array
							},
							options: {
									scales: {
											yAxes: [{
													ticks: {
															beginAtZero:true
													}
											}]
									}
							}
					});
				}
			});

		</script>

		<div class="AgentFrameR">
			<span>New students per year</span>
			<canvas id="AgentStatisticChart" width="636" height="300"></canvas>
			<div id="line_top_x"></div>
		</div><!-- AgentFrameR -->
		<div class="cdiv"></div>
		<div class="EndPart"></div>



		<div class="MTitle">Agent Communication Log</div>
		<div class="ListSearch Aright">
			<form method="GET">
				<div>
					<select class="SearchSelect" name="agent_head">
						<option value="">Select Agent</option>
						{% for agent in all_agents %}
                            {% if request.GET.agent_head  == agent.id|stringformat:"i" %}
                                <option value="{{agent.id}}" selected>{{agent.name}}</option>
                            {% else %}
                                <option value="{{agent.id}}">{{agent.name}}</option>
                            {% endif %}
						{% endfor %}
					</select>
				</div>
				<button type="submit" class="ListSearchButton">Search<button>
			</form>
		</div>

		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="180">
					<col>
				</colgroup>
				<tr>
					<th>Agent</th>
					<th>Date</th>
					<th>Contact Person</th>
					<th>Category</th>
					<th>Comment</th>
					<th>Priority (1-5)</th>
					<th>Writer</th>
				</tr>
				{% for log in logs %}
				<tr>
					<td>{{log.head.name}}</td>
					<td>{{log.date|date:"Y-m-d"}}</td>
					<td>{{log.name}}</td>
					<td>{{log.category}}</td>
					<td>{{log.comment}}</td>
					<td>{{log.priority}}</td>
					<td>{{log.writer}}</td>
				</tr>
				{% endfor %}
			</table>
			<div class="ListCounter">
				{% if logs.has_other_pages %}
					{% for i in logs.paginator.page_range %}
						{% if logs.number == i %}
							<span>{{ i }}</span>
						{% else %}
							<a href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div><!-- ListTable -->








	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->
<script>
function MenuOpen() {
	obj = document.getElementById('LeftF');

	if (obj.style.margin == "0px 0px 0px -229px") {
		document.getElementById('LeftF').style.margin='0px 0px 0px 0px';
		document.getElementById('MToggle').style.transform='rotate(90deg)';
		document.getElementById('MainF').style.width='calc(100% - 355px)';
	} else {
		document.getElementById('LeftF').style.margin='0px 0px 0px -229px';
		document.getElementById('MToggle').style.transform='rotate(0deg)';
		document.getElementById('MainF').style.width='calc(100% - 126px)';
	}
}
</script>
{% endblock %}
