{% extends 'base.html' %}
{% load static %}
{% block content %}





<div class="ContentsFrame">


	<div class="LeftFrame" id="LeftF">
		<div class="SectionTitle">Agent Profile Update</div>
		<div class="LeftTab" id="LeftTab01">
			<div class="TabConternts" id="InnerTab0101">
				<div class="InnerTabContents">
					{% for agent in all_agents %}
					<li><a href="/agents/info/{{agent.id}}">{{agent.name}}</a></li>
					{% endfor %}
					<br>
					/////////Branch/////////
					{% for agent in all_agent_branches %}
					<li><a href="/agents/branch/info/{{agent.id}}">{{agent.name}}</a></li>
					{% endfor %}
					<br />
				</div><!-- InnerTabContents -->

			</div><!-- TabConternts ID:InnerTab0101 -->
		</div><!-- LeftTab ID:LeftTab01 -->
		<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/agents/info/create" class="IsolationButton">+ &nbsp; Add Agent List</a>
	</div><!-- LeftFrame -->





	<div class="MainAFrame">
		<div class="PTitle">{{found_agent_branch.name}} <span>{{found_agent_branch.location}}</span></div>

		<form method="POST">
			{% csrf_token %}
			<div class="MTitle">Agent Information</div>
			<div class="InfoTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col width="160">
						<col>
						<col width="160">
						<col>
					</colgroup>
					<tr>
						<th>Location : </th>
						<td class="InnerInputTD">
							{% if found_agent_branch %}
							<input type="text" class="TableInnerInput" size="32" name="location" value="{{found_agent_branch.location}}" />
							{% else %}
							<input type="text" class="TableInnerInput" size="32" name="location" value="" />
							{% endif %}
						</td>
						<th>Head : </th>
						<td class="InnerInputTD">
							<select class="TableInnerInput" name="agent_head">
								<option value="">Select Head..</option>
								{% for head in all_agents %}
									{% if head.id == found_agent_branch.head.id %}
										<option value="{{head.id}}" selected>{{head.name}}</option>
									{% else %}
										<option value="{{head.id}}">{{head.name}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<th>Program : </th>
						<td colspan="3">
							<label>
								{% if 'secondary' in program_list %}
								<input type="checkbox" name="program" value="secondary" checked/><span></span>Secondary
								{% else %}
								<input type="checkbox" name="program" value="secondary" /><span></span>Secondary
								{% endif %}
							</label>
							<label>
								{% if 'college' in program_list %}
								<input type="checkbox" name="program" value="college" checked/><span></span>College
								{% else %}
								<input type="checkbox" name="program" value="college" /><span></span>College
								{% endif %}
							</label>
							<label>
								{% if 'camp' in program_list %}
								<input type="checkbox" name="program" value="camp" checked/><span></span>Camp
								{% else %}
								<input type="checkbox" name="program" value="camp" /><span></span>Camp
								{% endif %}
							</label>
						</td>
					</tr>
					<tr>
						<th>Capacity (#of Students)  : </th>
						<td class="InnerInputTD" colspan="3">
							{% if found_agent_branch %}
							<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="capacity_students" value="{{found_agent_branch.capacity_students}}" />
							{% else %}
							<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="capacity_students" value="" />
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Commission  : </th>
						<td class="InnerInputTD" colspan="3">
							{% if found_agent_branch %}
							<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="commission" value="{{found_agent_branch.commission}}" />
							{% else %}
							<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="commission" value="" />
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Promotion  : </th>
						<td class="InnerInputTD" colspan="3">
							{% if found_agent_branch.promotion %}
							<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="promotion" value="{{found_agent_branch.promotion}}" />
							{% else %}
							<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="promotion" value="" />
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Others  : </th>
						<td class="InnerInputTD" colspan="3">
							{% if found_agent_branch %}
							<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="others" value="{{found_agent_branch.others}}" />
							{% else %}
							<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="others" value="" />
							{% endif %}
						</td>

					</tr>
					<tr>
						<th>Comment  : </th>
						<td class="InnerInputTD" colspan="3">
							{% if found_agent_branch %}
							<textarea class="TableInnerTextarea" style="height:80px" name="comment">{{found_agent_branch.comment}}</textarea>
							{% else %}
							<textarea class="TableInnerTextarea" style="height:80px" name="comment"></textarea>
							{% endif %}
						</td>
					</tr>
				</table>
			</div><!-- InfoTable -->
			<div class="SubmitButtonLine">
				<button class="Submit" type="submit">SAVE</button>
			</div>
		</form>
		<div class="EndPart"></div>



	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->
<script>
function MenuOpen() {
	obj = document.getElementById('LeftF');

	if (obj.style.margin == "0px 0px 0px -229px") {
		document.getElementById('LeftF').style.margin='0px 0px 0px 0px';
		document.getElementById('MToggle').style.transform='rotate(90deg)';
		document.getElementById('MainF').style.width='calc(100% - 355px)';
	} else {
		document.getElementById('LeftF').style.margin='0px 0px 0px -229px';
		document.getElementById('MToggle').style.transform='rotate(0deg)';
		document.getElementById('MainF').style.width='calc(100% - 126px)';
	}
}
</script>
{% endblock %}
