{% extends 'base.html' %}
{% load static templatehelpers%}
{% block content %}
<div class="ContentsFrame">


	<div class="LeftFrame" id="LeftF">
		<div class="SectionTitle">Agent Profile Update</div>
		<div class="LeftTab" id="LeftTab01">
			<div class="TabConternts" id="InnerTab0101">
				<div class="InnerTabContents">
					{% for agent in all_agents %}
					<li><a href="/agents/info/{{agent.id}}">{{agent.name}}</a></li>
					{% endfor %}
					<br>
					/////////Branch/////////
					{% for agent in all_agent_branches %}
					<li><a href="/agents/branch/info/{{agent.id}}">{{agent.name}}</a></li>
					{% endfor %}
					<br />
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/agents/info/create" class="IsolationButton">+ &nbsp; Add Agent List</a>
				</div><!-- InnerTabContents -->

			</div><!-- TabConternts ID:InnerTab0101 -->
		</div><!-- LeftTab ID:LeftTab01 -->
	</div><!-- LeftFrame -->


	<div class="MainFrame" id="MainF">
		<div id="CollegeTab">


		<div class="MTitle">Agent Overview</div>
		<div class="cdiv"></div>
		<div class="AgentFrameL">
			<div class="ListTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col>
					</colgroup>
					<tr>
						<th rowspan="2">Agent</th>
						<th colspan="2" class="row2">New Students</th>
					</tr>
					<tr>
						<th class="row2">Inquired</th>
						<th class="row2">Enrolled</th>
					</tr>
					{% for agent in all_agents %}
					<tr>
						<td><a href="/agents/info/{{agent.id}}">{{agent.name}}</a></td>
						<td>{{agent.inquired}}</td>
						<td>{{agent.enrolled}}</td>
					</tr>
					{% endfor %}
					<tr>
						<td class="TitleColor">Total</td>
						<td class="TitleColor">{{total_inquired}}</td>
						<td class="TitleColor">{{total_enrolled}}</td>
					</tr>
				</table>
			</div><!-- ListTable -->
		</div><!-- AgentFrameL -->

		<div class="AgentFrameR">
			<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
			<script type="text/javascript">
			  google.charts.load('current', {'packages':['line']});
			  google.charts.setOnLoadCallback(drawChart);

			function drawChart() {

			  var data = new google.visualization.DataTable();
			  data.addColumn('number', 'year');
			  data.addColumn('number', 'Meten');
			  data.addColumn('number', 'Yangzhou');
			  data.addColumn('number', 'AsiaUS');
			  data.addColumn('number', 'Other(BGE Staff)');

			  data.addRows([
				[2018,  37.8, 80.8, 41.8, 10],
				[2019,  30.9, 69.5, 32.4, 10],
				[2020,  25.4,   57, 25.7, 10],
				[2021,  11.7, 18.8, 10.5, 10],
				[2022,  11.9, 17.6, 10.4, 10],
			  ]);

			  var options = {

//				chart: {
//				  title: 'Box Office Earnings in First Two Weeks of Opening',
//				  subtitle: 'in millions of dollars (USD)'
//				},
				width: 600,
				height: 190,
				axes: {
				  x: {
					0: {side: 'bottom'}
				  }
				}
			  };

			  var chart = new google.charts.Line(document.getElementById('line_top_x'));

			  chart.draw(data, google.charts.Line.convertOptions(options));
			}
		  </script>
			<div id="line_top_x"></div>
		</div><!-- AgentFrameR -->
		<div class="cdiv"></div>
		<div class="EndPart"></div>



		<div class="MTitle">Agent Communication Log</div>
		<div class="ListSearch Aright">
			<form method="GET">
				<div>
					<select class="SearchSelect" name="agent_head">
						<option value="">Select Agent..</option>
						{% for agent in all_agents %}
						<option value="{{agent.id}}">{{agent.name}}</option>
						{% endfor %}
					</select>
				</div>
				<button type="submit" class="ListSearchButton">Search<button>
			</form>
		</div>

		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="180">
					<col>
				</colgroup>
				<tr>
					<th>Agent</th>
					<th>Date</th>
					<th>Contact Person</th>
					<th>Category</th>
					<th>Comment</th>
					<th>Priority (1-5)</th>
					<th>Writer</th>
				</tr>
				{% for log in logs %}
				<tr>
					<td>{{log.head.name}}</td>
					<td>{{log.date|date:"Y-m-d"}}</td>
					<td>{{log.name}}</td>
					<td>{{log.category}}</td>
					<td>{{log.comment}}</td>
					<td>{{log.priority}}</td>
					<td>{{log.writer}}</td>
				</tr>
				{% endfor %}
			</table>
			<div class="ListCounter">
				{% if logs.has_other_pages %}
					{% for i in logs.paginator.page_range %}
						{% if logs.number == i %}
							<span>{{ i }}</span>
						{% else %}
							<a href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div><!-- ListTable -->








	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->
<script>
function MenuOpen() {
	obj = document.getElementById('LeftF');

	if (obj.style.margin == "0px 0px 0px -229px") {
		document.getElementById('LeftF').style.margin='0px 0px 0px 0px';
		document.getElementById('MToggle').style.transform='rotate(90deg)';
		document.getElementById('MainF').style.width='calc(100% - 355px)';
	} else {
		document.getElementById('LeftF').style.margin='0px 0px 0px -229px';
		document.getElementById('MToggle').style.transform='rotate(0deg)';
		document.getElementById('MainF').style.width='calc(100% - 126px)';
	}
}
</script>
{% endblock %}
