{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="ContentsFrame">
	<div class="MainAFrame">


		<div class="MTitle">Branches List</div>
		<div class="ListSearch Aright">
			<form method="GET">
			<div>
			From :
			<select class="SearchSelect" name="start_month">
				<option value="">Select Month..</option>
				<option>Dec</option>
				<option>Nov</option>
				<option>Oct</option>
				<option>Sep</option>
				<option>Aug</option>
				<option>Jul</option>
				<option>Jun</option>
				<option>May</option>
				<option>Apr</option>
				<option>Mar</option>
				<option>Feb</option>
				<option>Jan</option>
			</select>
			&nbsp;&nbsp;
			To :
			<select class="SearchSelect" name="end_month">
				<option value="">Select Month..</option>
				<option>Dec</option>
				<option>Nov</option>
				<option>Oct</option>
				<option>Sep</option>
				<option>Aug</option>
				<option>Jul</option>
				<option>Jun</option>
				<option>May</option>
				<option>Apr</option>
				<option>Mar</option>
				<option>Feb</option>
				<option>Jan</option>
			</select>
			&nbsp;&nbsp;
			<select class="SearchSelect" name="year">
				<option value="">Select year..</option>
				{% for year in year_list %}
				<option value="{{year}}">{{year}} ~ {{year|add:1}} year</option>
				{% endfor %}
			</select>
			</div>
			<button type="submit" class="ListSearchButton">Search<button>
		</div>

		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>Branch</th>
					<th>Partner Schools #</th>
					<th>Prospective Partner Schools #</th>
					<th>Active Host Families #</th>
					<th>Inactive Host Families #</th>
					<th>Prospective Host Families #</th>
					<th>Current students #</th>
					<th>Student Complaints #</th>
				</tr>
				{% for branch in all_branches %}
				<tr>
					<td><a href="/branch/statistics">{{branch.name}}</a></td>
					<td>{{branch.partner_school}}</td>
					<td>not yet</td>
					<td>{{branch.active_hosts}}</td>
					<td>{{branch.inactive_hosts}}</td>
					<td>{{branch.prospective_hosts}}</td>
					<td>{{branch.current_student}}</td>
					<td>{{branch.student_complaints}}</td>
				</tr>
				{% endfor %}
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>
		<div class="GraphgArea">
		Graph
		</div>
	</div><!-- MainAFrame -->
</div><!--  ContentsFrame-->
{% endblock %}
