{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="ContentsFrame">
	<div class="MainAFrame">


		<div class="MTitle">Branches List</div>
		<div class="ListSearch Aright">
			<form method="GET">
			<div>
			From :
			<select class="SearchSelect" name="start_month">
				<option value="">Select Month..</option>
				<option >Jan</option>
				<option >Feb</option>
				<option >Mar</option>
				<option >Apr</option>
				<option >May</option>
				<option >Jun</option>
				<option >Jul</option>
				<option >Aug</option>
				<option >Sep</option>
				<option >Oct</option>
				<option >Nov</option>
				<option >Dec</option>
			</select>
			&nbsp;&nbsp;
			To :
			<select class="SearchSelect" name="end_month">
				<option value="">Select Month..</option>
				<option >Jan</option>
				<option >Feb</option>
				<option >Mar</option>
				<option >Apr</option>
				<option >May</option>
				<option >Jun</option>
				<option >Jul</option>
				<option >Aug</option>
				<option >Sep</option>
				<option >Oct</option>
				<option >Nov</option>
				<option >Dec</option>
			</select>
			&nbsp;&nbsp;
			<select class="SearchSelect" name="year">
				<option value="">Select year..</option>
				{% for year in year_list %}
				<option value="{{year}}">{{year}} ~ {{year|add:1}} year</option>
				{% endfor %}
			</select>
			</div>
			<button type="submit" class="ListSearchButton">Search<button>
		</div>

		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>Branch</th>
					<th>Partner Schools #</th>
					<th>Active Host Families #</th>
					<th>Inactive Host Families #</th>
					<th>Prospective Host Families #</th>
					<th>Current Students #</th>
					<th>Student Complaints #</th>
				</tr>
				{% for branch in all_branches %}
				<tr>
					<td><a href="/branches/statistics/{{branch.id}}">{{branch.name}}</a></td>
					<td>{{branch.partner_school}}</td>
					<td>{{branch.active_hosts}}</td>
					<td>{{branch.inactive_hosts}}</td>
					<td>{{branch.prospective_hosts}}</td>
					<td>{{branch.current_student}}</td>
					<td>{{branch.student_complaints}}</td>
				</tr>
				{% endfor %}
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>

		<script>
			$.ajax({                       // initialize an AJAX request
			  url: "/charts/branches/statistics",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
			  success: function (data) {   // `data` is the return of the `load_cities` view function
			    var array = []
			    data.forEach(function(element){
			      var random_color = 'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
			      (Math.floor(Math.random() * 256)) + ',' +
			      (Math.floor(Math.random() * 256))
			      array.push(
			        {
			          label: element.branch,
			          data: element.data,
			          backgroundColor: random_color + ',0.6' + ')',
			          borderColor : random_color + ',1' + ')',
			        }
			      )
			    })
			    var ctx = document.getElementById("BranchStatisticChart");
			    var myChart = new Chart(ctx, {
			        type: 'bar',
			        data: {
			            labels: ["Partner Schools", "Active Host Families", "Inactive Host Families", "Prospective Host Families", "Current Students", "Student Complaints"],
			            datasets: array
			        },
			        options: {
			            scales: {
			                yAxes: [{
			                    ticks: {
			                        beginAtZero:true
			                    }
			                }]
			            }
			        }
			    });
			  }
			});
		</script>


		<div class="GraphgArea">
			<canvas id="BranchStatisticChart" width="636" height="300"></canvas>
		</div>
	</div><!-- MainAFrame -->
</div><!--  ContentsFrame-->
{% endblock %}
