{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="ContentsFrame">
	<div class="MainAFrame">


		<div class="MTitle">Branches List</div>
		<div class="ListSearch Aright">
			<div>
			From :
			<select class="SearchSelect">
				<option>December</option>
				<option>November</option>
				<option>October</option>
				<option>September</option>
				<option>August</option>
				<option>July</option>
				<option>June</option>
				<option>May</option>
				<option>April</option>
				<option>March</>
				<option>February</option>
				<option>January</option>
			</select>
			&nbsp;&nbsp;
			To :
			<select class="SearchSelect">
				<option>December</option>
				<option>November</option>
				<option>October</option>
				<option>September</option>
				<option>August</option>
				<option>July</option>
				<option>June</option>
				<option>May</option>
				<option>April</option>
				<option>March</>
				<option>February</option>
				<option>January</option>
			</select>
			&nbsp;&nbsp;
			<select class="SearchSelect">
				<option>2018 ~ 2019 year</option>
			</select>
			</div>
		</div>

		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>Branch</th>
					<th>Partner Schools #</th>
					<th>Prospective Partner Schools #</th>
					<th>Active Host Families #</th>
					<th>Inactive Host Families #</th>
					<th>Prospective Host Families #</th>
					<th>Current students #</th>
					<th>Student Complaints #</th>
				</tr>
				<tr>
					<td><a href="/branch/statistics">Branch A</a></td>
					<td>10</td>
					<td>4</td>
					<td>4</td>
					<td>3</td>
					<td>6</td>
					<td>6</td>
					<td>7</td>
				</tr>
				<tr>
					<td><a href="/branch/statistics">Branch B</a></td>
					<td>10</td>
					<td>4</td>
					<td>4</td>
					<td>3</td>
					<td>6</td>
					<td>6</td>
					<td>7</td>
				</tr>
				<tr>
					<td><a href="/branch/statistics">Branch C</a></td>
					<td>10</td>
					<td>4</td>
					<td>4</td>
					<td>3</td>
					<td>6</td>
					<td>6</td>
					<td>7</td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>
		<div class="GraphgArea">
		Graph
		</div>
	</div><!-- MainAFrame -->
</div><!--  ContentsFrame-->
{% endblock %}
