{% extends 'base.html' %}
{% load static templatehelpers %}
{% block content %}

<div class="ContentsFrame">

	<div class="MainAFrame" id="MainF">

		<div class="MTitle">New Students</div>
		<div class="ListSearch Aright">
			<form method="GET">
				<div>
				From :
				<select class="SearchSelect" name="start_month">
					<option value="">Select Month..</option>
					<option >Jan</option>
					<option >Feb</option>
					<option >Mar</option>
					<option >Apr</option>
					<option >May</option>
					<option >Jun</option>
					<option >Jul</option>
					<option >Aug</option>
					<option >Sep</option>
					<option >Oct</option>
					<option >Nov</option>
					<option >Dec</option>
				</select>
				&nbsp;&nbsp;
				To :
				<select class="SearchSelect" name="end_month">
					<option value="">Select Month..</option>
					<option >Jan</option>
					<option >Feb</option>
					<option >Mar</option>
					<option >Apr</option>
					<option >May</option>
					<option >Jun</option>
					<option >Jul</option>
					<option >Aug</option>
					<option >Sep</option>
					<option >Oct</option>
					<option >Nov</option>
					<option >Dec</option>
				</select>
				&nbsp;&nbsp;
				<select class="SearchSelect" name="year">
					<option value="">Select year..</option>
					{% for year in year_list %}
					<option value="{{year}}">{{year}} ~ {{year|add:1}} year</option>
					{% endfor %}
				</select>

				<select class="SearchSelect" name="program_interested">
					<option value=""> Select Program</option>
					<option value="k12">Secondary</option>
					<option value="college">College</option>
					<option value="camp">Camp</option>
					<option value="not_specified">Not specified</option>
				</select>
				</div>
				<button type="submit" class="ListSearchButton">Search<button>
			</form>
		</div>

		<div class="AgentFrameL">
			<div class="ListTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col width="180">
						<col>
					</colgroup>
					<tr>
						<th>Agent</th>
						<th>Inquired</th>
						<th>Applied</th>
						<th>Accepted</th>
						<th>Cancelled</th>
						<th>Enrolled</th>
					</tr>
					{% for head in all_agent_heads %}
					<tr>
						<td>{{head.name}}</td>
						<td>{{head.inquired}}</td>
						<td>{{head.applied}}</td>
						<td>{{head.accepted}}</td>
						<td>{{head.cancelled}}</td>
						<td>{{head.enrolled}}</td>
					</tr>
					{% endfor %}
					<tr>
						<td class="TitleColor">Total</td>
						<td class="TitleColor">{{total_inquired}}</td>
						<td class="TitleColor">{{total_applied}}</td>
						<td class="TitleColor">{{total_accepted}}</td>
						<td class="TitleColor">{{total_cancelled}}</td>
						<td class="TitleColor">{{total_enrolled}}</td>
					</tr>
				</table>
			</div><!-- ListTable -->
		</div><!-- AgentFrameL -->

		<script>
		$(document).ready(function(){

			$.ajax({                       // initialize an AJAX request
				url: "/charts/bge/statistics",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
				success: function (data) {   // `data` is the return of the `load_cities` view function
					var months = data.months;
					var result = data.data;
					var array = []
					result.forEach(function(element){
						array.push(
							{
								label: element.agent,
								data: element.data,
								fill:false,
								borderColor: [
									'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
									(Math.floor(Math.random() * 256)) + ',' +
									(Math.floor(Math.random() * 256)) + ',1' + ')',
								],
								borderWidth: 2
							}
						)
					})
					var ctx = document.getElementById("BgeStatisticChart");
					var myChart = new Chart(ctx, {
							type: 'line',
							data: {
									labels: months,
									datasets: array
							},
							options: {
									scales: {
											yAxes: [{
													ticks: {
															beginAtZero:true
													}
											}]
									}
							}
					});
				}
			});
		})
		</script>

		<div class="AgentFrameR">
			<span>Monthly Accepted Students</span>
			<canvas id="BgeStatisticChart" width="630" height="300"></canvas>
			<div id="line_top_x"></div>
		</div><!-- AgentFrameR -->


		<div class="ListTable">
			<form method="GET">
				<div class="ListSearch Aright">
					<div class="InfoTable" ><span class="AddComment">Default : {{default_start_date|date:"Y-m-d"}} ~ {{default_end_date|date:"Y-m-d"}}</span></div>

					<div>
					<select class="SearchSelect" name="new_week">
						<option value="">Week</option>
						{% for week in week_list%}
						<option value="{{week.0|date:'Y-m-d'}}">{{week.1|date:"Y-m-d"}} ~ {{week.0|date:"Y-m-d"}}</option>
						{% endfor %}
					</select>

					<select class="SearchSelect" name="new_day">
						<option value="">Day</option>
						{% for day in day_list %}
						<option>{{day|date:"Y-m-d"}}</option>
						{% endfor %}
					</select>

					<select class="SearchSelect" name="new_program">
						<option value="">Program</option>
						<option value="k12">Secondary</option>
						<option value="college">College</option>
						<option value="camp">Camp</option>
						<option value="not_specified">Not specified</option>
					</select>
					</div>
					<button type="submit" class="ListSearchButton" >Search</button>
				</div>
			</form>
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="180">
					<col>
				</colgroup>
				<tr>
					<th>Agent</th>
					<th>New Inquired</th>
					<th>New Applied</th>
					<th>New Accepted</th>
					<th>New Cancelled</th>
					<th>New Enrolled</th>
				</tr>
				{% for head in all_agent_heads %}
				<tr>
					<td>{{head.name}}</td>
					<td>{{head.new_inquired}}</td>
					<td>{{head.new_applied}}</td>
					<td>{{head.new_accepted}}</td>
					<td>{{head.new_cancelled}}</td>
					<td>{{head.new_enrolled}}</td>
				</tr>
				{% endfor %}
				<tr>
					<td class="TitleColor">Total</td>
					<td class="TitleColor">{{new_total_inquired}}</td>
					<td class="TitleColor">{{new_total_applied}}</td>
					<td class="TitleColor">{{new_total_accepted}}</td>
					<td class="TitleColor">{{new_total_cancelled}}</td>
					<td class="TitleColor">{{new_total_enrolled}}</td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>
		<div class="cdiv"></div>



		<div class="MTitle">Customer Search</div>
		<div class="ListSearch Aright">
			<form method="GET">
				<div>
				<select class="SearchSelect" name="agent_head">
					<option value="">Agent</option>
					{% for head in all_agent_heads %}
					<option value="{{head.id}}">{{head.name}}</option>
					{% endfor %}
				</select>
				<select class="SearchSelect" name="customer_program">
					<option value="">Program</option>
					<option value="k12">Secondary</option>
					<option value="college">College</option>
					<option value="college">Camp</option>
				</select>
				<select class="SearchSelect" name="customer_country">
					<option value="">Country</option>
					<option value="korea">Korea</option>
					<option value="china">China</option>
					<option value="vietnam">Vietnam</option>
				</select>
				<select class="SearchSelect" name="customer_search_type">
					<option value="name">Name</option>
					<option value="phone">Phone</option>
					<option value="email">E-mail</option>
				</select>
	        <input type="text" class="SearchInput" style="width:150px;" name="search_input"/>
	        <button type="submit" class="ListSearchButton">Search</button>
				</div>
			</form>
		</div>

		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="180">
					<col>
				</colgroup>
				<tr>
					<th>Agent</th>
					<th>Branch</th>
					<th>Counselor</th>
					<th>Student</th>
					<th>Program</th>
					<th>Country</th>
					<th>Inquired</th>
					<th>Applied</th>
					<th>Accepted</th>
					<th>Cancelled</th>
					<th>Enrolled</th>
					<th>Arrived</th>
				</tr>
				{% for counsel in counsels %}
				<tr>
					<td>{{counsel.counselor.agency.head.name}}</td>
					<td>{{counsel.counselor.agency.name}}</td>
					<td>{{counsel.counselor.user.first_name}} {{counsel.counselor.user.last_name}}</td>
					<td>{{counsel.student.name}}</td>
					<td>{{counsel.program_interested}}</td>
					<td>{{counsel.desire_country|upper}}</td>
					<td>{{counsel.created_at|date:"Y-m-d"}}</td>
					<td>{{counsel.formality.apply_at|date:"Y-m-d"}}</td>
					<td>{{counsel.acceptance_date|date:"Y-m-d"}}</td>
					<td>{{counsel.cancel_enrolment_date|date:"Y-m-d"}}</td>
					<td>{{counsel.i20_received_date|date:"Y-m-d"}}</td>
					<td>{{counsel.formality.air_arrive_date|date:"Y-m-d"}}</td>
				</tr>
				{% endfor %}
			</table>
		</div><!-- ListTable -->
		<div class="ListCounter">
      {% if counsels.has_other_pages %}
        {% for i in counsels.paginator.page_range %}
          {% if counsels.number == i %}
            <span>{{ i }}</span>
          {% else %}
            <a href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>



	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->
{% endblock %}
