{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="ContentsFrame">
	<div class="LeftFrame" id="LeftF">
		<div class="SectionTitle">Colleges</div>

		<div class="LeftTab" id="LeftTab01">
			<div class="TabTitle">
				<div OnClick="TabOpen('LeftTab01');" class="On">1~50</div>
				<div OnClick="TabOpen('LeftTab02');">51~100</div>
				<div OnClick="TabOpen('LeftTab03');">101~150</div>
				<div OnClick="TabOpen('LeftTab04');">151~200</div>
			</div><!-- TabTitle -->
			<div class="TabConternts">
				<div class="InnerTabContents">
					{% for college in first_schools %}
					<li><a href="/school/college/{{school.id}}">{{college.ranking}}. {{college.school.name}}</a></li>
					{% endfor %}
				</div><!-- InnerTabContents -->
			</div><!-- TabConternts -->
		</div><!-- LeftTab ID:LeftTab01 -->

		<div class="LeftTab" id="LeftTab02">
			<div class="TabTitle">
				<div OnClick="TabOpen('LeftTab01');">1~50</div>
				<div OnClick="TabOpen('LeftTab02');" class="On">51~100</div>
				<div OnClick="TabOpen('LeftTab03');">101~150</div>
				<div OnClick="TabOpen('LeftTab04');">151~200</div>
			</div><!-- TabTitle -->
			<div class="TabConternts">
				<div class="InnerTabContents">
					{% for college in second_schools %}
					<li><a href="/school/college/{{school.id}}">{{college.ranking}}. {{college.school.name}}</a></li>
					{% endfor %}
				</div><!-- InnerTabContents -->
			</div><!-- TabConternts -->
		</div><!-- LeftTab ID:LeftTab02 -->

		<div class="LeftTab" id="LeftTab03">
			<div class="TabTitle">
				<div OnClick="TabOpen('LeftTab01');">1~50</div>
				<div OnClick="TabOpen('LeftTab02');">51~100</div>
				<div OnClick="TabOpen('LeftTab03');" class="On">101~150</div>
				<div OnClick="TabOpen('LeftTab04');">151~200</div>
			</div><!-- TabTitle -->
			<div class="TabConternts">
				<div class="InnerTabContents">
					{% for college in third_schools %}
					<li><a href="/school/college/{{school.id}}">{{college.ranking}}. {{college.school.name}}</a></li>
					{% endfor %}

				</div><!-- InnerTabContents -->
			</div><!-- TabConternts -->
		</div><!-- LeftTab ID:LeftTab03 -->

		<div class="LeftTab" id="LeftTab04">
			<div class="TabTitle">
				<div OnClick="TabOpen('LeftTab01');">1~50</div>
				<div OnClick="TabOpen('LeftTab02');">51~100</div>
				<div OnClick="TabOpen('LeftTab03');">101~150</div>
				<div OnClick="TabOpen('LeftTab04');" class="On">151~200</div>
			</div><!-- TabTitle -->
			<div class="TabConternts">
				<div class="InnerTabContents">
					{% for college in fourth_schools %}
					<li><a href="/school/college/{{school.id}}">{{college.ranking}}. {{college.school.name}}</a></li>
					{% endfor %}
				</div><!-- InnerTabContents -->
			</div><!-- TabConternts -->
		</div><!-- LeftTab ID:LeftTab04 -->




	</div><!-- LeftFrame -->

	<style>


	#LeftTab02, #LeftTab03, #LeftTab04 {display:none;}
	</style>



	<script>
	function TabOpen(TabName) {
	document.getElementById('LeftTab01').style.display='none';
	document.getElementById('LeftTab02').style.display='none';
	document.getElementById('LeftTab03').style.display='none';
	document.getElementById('LeftTab04').style.display='none';

	document.getElementById(TabName).style.display='block';
	}


	</script>




	<div class="MainFrame" id="MainF">

		<div class="MTitle">College Search</div>
		<form method="GET">
			<input type="text" name="form_type" value="college_form" hidden>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="130">
					<col>
					<col width="85">
					<col>
				</colgroup>
				<tr>
					<th>College Type : </th>
					<td>
						<label><input type="checkbox" name="school_type" value="public" /><span></span>Public College</label>
						<label><input type="checkbox" name="school_type" value="private"/><span></span>Private College</label>
					</td>
				</tr>
				<tr>
					<th>TOEFL Requirement : </th>
					<td colspan="3">
						<label><input type="checkbox" name="toefl_requirement" value="60"/><span></span>less than 60</label>
						<label><input type="checkbox" name="toefl_requirement" value="80"/><span></span>less than 80</label>
						<label><input type="checkbox" name="toefl_requirement" value="99"/><span></span>less than 100</label>
						<label><input type="checkbox" name="toefl_requirement" value="100"/><span></span>over 100</label>
					</td>
				</tr>
				<tr>
					<th>Location : </th>
					<td>
						<label><input type="checkbox" name="state" value="ne"/><span></span>Northeast</label>
						<label><input type="checkbox" name="state" value="se"/><span></span>Southeast</label>
						<label><input type="checkbox" name="state" value="mw"/><span></span>Midwest</label>
						<label><input type="checkbox" name="state" value="w"/><span></span>West</label>
					</td>
				</tr>
				<tr>
					<th>National Universities  : </th>
					<td colspan="3">
						<label><input type="checkbox" name="national_univ" value="es" /><span></span>Top Engineering school </label>
						<label><input type="checkbox" name="national_univ" value="bs" /><span></span>Top Business school </label>
						<label><input type="checkbox" name="national_univ" value="as" /><span></span>Top Art school </label>
						<label><input type="checkbox" name="national_univ" value="ss" /><span></span>Top Science school</label>
					</td>
				</tr>
				<tr>
					<th> </th>
					<td colspan="3">
						<label><input type="checkbox" name="national_univ" value="lac" /><span></span>Liberal Arts Colleges </label>
						<label><input type="checkbox" name="national_univ" value="lc" /><span></span>Local colleges </label>
						<label><input type="checkbox" name="national_univ" value="pu" /><span></span>Pathway Universities</label>
					</td>
				</tr>
			</table>
			<button class="SchoolButton" type="submit">Search</button>
		</div><!-- InfoTable -->
		</form>
		<div class="EndPart"></div>


		<div class="MTitle">Search Result</div>
			<div class="ListSearch Aright">
				<form method="get">
					<input type="text" name="form_type" value="name_form" hidden>
					<div>
					Search by School Name :
					 <input id="school_textbox" type="text" class="SearchInput" style="width:300px;" name="school_name"/>
						<select class="SearchSelect" id="school_name" name="school_id">
							<option value="">Select School..</option>
							{% for college in all_schools %}
								<option value="{{college.id}}">{{college.school.name}}</option>
							{% endfor %}
						</select>
						<button type="submit" class="ListSearchButton">Search</button>
					</div>
				</form>

			</div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>College Name</th>
					<th>Location</th>
					<th>Website</th>
					<th>Ranking</th>
					<th>Requirements</th>
				</tr>
				{% for college in search_schools %}
				<tr>
					{% if college.school.partnership == 1 or college.school.partnership == 2 or college.school.partnership == 3 %}
					<td class="Relationship"><a href="/school/college/summary/{{college.school.id}}" target="_BLANK" style="color:orange;font-weight:700;">{{college.school.name}}</a></td>
					{% else %}
					<td class="Relationship"><a href="/school/college/summary/{{college.school.id}}" target="_BLANK">{{college.school.name}}</a></td>
					{% endif %}
					<td class="Relationship">{{college.state|upper}}</td>
					<td class="Relationship">{{college.school.web_url}}</td>
					<td class="Relationship">{{college.ranking}}</td>
					<td class="Relationship">TOEFL : {{college.toefl_requirement}} / SAT/ACT : {{college.sat_act_requirement}} / GPA : {{college.gpa_requirement}}</td>
				</tr>
				{% endfor %}

			</table>
		</div><!-- ListTable -->






	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->
<script>
function MenuOpen() {
	obj = document.getElementById('LeftF');

	if (obj.style.margin == "0px 0px 0px -229px") {
		document.getElementById('LeftF').style.margin='0px 0px 0px 0px';
		document.getElementById('MToggle').style.transform='rotate(90deg)';
		document.getElementById('MainF').style.width='calc(100% - 355px)';
	} else {
		document.getElementById('LeftF').style.margin='0px 0px 0px -229px';
		document.getElementById('MToggle').style.transform='rotate(0deg)';
		document.getElementById('MainF').style.width='calc(100% - 126px)';
	}
}
</script>

{% endblock %}
