{% extends 'base.html' %}
{% load static %}
{% block title %}{{found_school.name}}{% endblock %}
{% block content %}

<div class="ContentsFrame">
	<div class="LeftFrame" id="LeftF">
		<div class="SectionTitle">Colleges</div>

		<div class="LeftTab" id="LeftTab01">
			<div class="TabTitle">
				<div OnClick="TabOpen('LeftTab01');" class="On">1~50</div>
				<div OnClick="TabOpen('LeftTab02');">51~100</div>
				<div OnClick="TabOpen('LeftTab03');">101~150</div>
				<div OnClick="TabOpen('LeftTab04');">151~200</div>
			</div><!-- TabTitle -->
			<div class="TabConternts">
				<div class="InnerTabContents">
					{% for college in first_schools %}
					<li><a href="/school/college/update/{{college.school.id}}">{{college.ranking}}. {{college.school.name}}</a></li>
					{% endfor %}
				</div><!-- InnerTabContents -->
			</div><!-- TabConternts -->
		</div><!-- LeftTab ID:LeftTab01 -->

		<div class="LeftTab" id="LeftTab02">
			<div class="TabTitle">
				<div OnClick="TabOpen('LeftTab01');">1~50</div>
				<div OnClick="TabOpen('LeftTab02');" class="On">51~100</div>
				<div OnClick="TabOpen('LeftTab03');">101~150</div>
				<div OnClick="TabOpen('LeftTab04');">151~200</div>
			</div><!-- TabTitle -->
			<div class="TabConternts">
				<div class="InnerTabContents">
					{% for college in second_schools %}
					<li><a href="/school/college/update/{{college.school.id}}">{{college.ranking}}. {{college.school.name}}</a></li>
					{% endfor %}
				</div><!-- InnerTabContents -->
			</div><!-- TabConternts -->
		</div><!-- LeftTab ID:LeftTab02 -->

		<div class="LeftTab" id="LeftTab03">
			<div class="TabTitle">
				<div OnClick="TabOpen('LeftTab01');">1~50</div>
				<div OnClick="TabOpen('LeftTab02');">51~100</div>
				<div OnClick="TabOpen('LeftTab03');" class="On">101~150</div>
				<div OnClick="TabOpen('LeftTab04');">151~200</div>
			</div><!-- TabTitle -->
			<div class="TabConternts">
				<div class="InnerTabContents">
					{% for college in third_schools %}
					<li><a href="/school/college/update/{{college.school.id}}">{{college.ranking}}. {{college.school.name}}</a></li>
					{% endfor %}

				</div><!-- InnerTabContents -->
			</div><!-- TabConternts -->
		</div><!-- LeftTab ID:LeftTab03 -->

		<div class="LeftTab" id="LeftTab04">
			<div class="TabTitle">
				<div OnClick="TabOpen('LeftTab01');">1~50</div>
				<div OnClick="TabOpen('LeftTab02');">51~100</div>
				<div OnClick="TabOpen('LeftTab03');">101~150</div>
				<div OnClick="TabOpen('LeftTab04');" class="On">151~200</div>
			</div><!-- TabTitle -->
			<div class="TabConternts">
				<div class="InnerTabContents">
					{% for college in fourth_schools %}
					<li><a href="/school/college/update/{{college.school.id}}">{{college.ranking}}. {{college.school.name}}</a></li>
					{% endfor %}
				</div><!-- InnerTabContents -->
			</div><!-- TabConternts -->
		</div><!-- LeftTab ID:LeftTab04 -->




	</div><!-- LeftFrame -->

	<style>


	#LeftTab02, #LeftTab03, #LeftTab04 {display:none;}
	</style>



	<script>
	function TabOpen(TabName) {
	document.getElementById('LeftTab01').style.display='none';
	document.getElementById('LeftTab02').style.display='none';
	document.getElementById('LeftTab03').style.display='none';
	document.getElementById('LeftTab04').style.display='none';

	document.getElementById(TabName).style.display='block';
	}


	</script>




<div class="MainFrame" id="MainF">
    <div class="PTitle">{{found_school.name}}<span>College Profile Update</span></div>

    <!-- 등록일 경우 -->
    <!-- <div class="PTitle">School Profile Regist</div> -->

    <div class="MTitle">School Information</div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="InfoTable">
            <table cellpadding="0" cellspacing="0" border="0">
                <colgroup>
                    <col width="160">
                    <col>
                    <col width="160">
                    <col>
                </colgroup>
                <tr>
                    <th>School Name : </th>
                    <td class="InnerInputTD">
                        <input type="text" name="name" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.name}}" />
                    </td>
                    <th>Year Founded : </th>
                    <td class="InnerInputTD">
                        <input type="text" name="founded" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.founded}}" />
                    </td>
                </tr>
                <tr>
                    <th>School Main Photo  : </th>
                    <td class="InnerInputTD" colspan="3">
                        <input type="file" name="image" class="TableInnerInput"/><br />
                        {% if found_school.image %}
                            <img src="{{MEDIA_URL}}{{found_school.image}}" alt="school_main_image" width="150">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Location : </th>
                    <td>
          {% if found_school.college.state == 'ne' %}
                        <label><input name="state" type="radio" value="ne" required checked /><span></span>NE</label>
                        <label><input name="state" type="radio" value="se" /><span></span>SE</label>
                        <label><input name="state" type="radio" value="me" /><span></span>ME</label>
                        <label><input name="state" type="radio" value="w" /><span></span>W</label>
          {% elif found_school.college.state == 'se' %}
                        <label><input name="state" type="radio" value="ne" required /><span></span>NE</label>
                        <label><input name="state" type="radio" value="se" checked /><span></span>SE</label>
                        <label><input name="state" type="radio" value="me" /><span></span>ME</label>
                        <label><input name="state" type="radio" value="w" /><span></span>W</label>
          {% elif found_school.college.state == 'me' %}
                        <label><input name="state" type="radio" value="ne" required /><span></span>NE</label>
                        <label><input name="state" type="radio" value="se" /><span></span>SE</label>
                        <label><input name="state" type="radio" value="me" checked /><span></span>ME</label>
                        <label><input name="state" type="radio" value="w" /><span></span>W</label>
          {% else %}
                        <label><input name="state" type="radio" value="ne" required /><span></span>NE</label>
                        <label><input name="state" type="radio" value="se" /><span></span>SE</label>
                        <label><input name="state" type="radio" value="me" /><span></span>ME</label>
                        <label><input name="state" type="radio" value="w" checked /><span></span>W</label>
          {% endif %}
                    </td>
                    <th>Type : </th>
                    <td>
          {% if found_school.college.college_type == "private" %}
                        <label><input name="college_type" type="radio" value="private" checked /><span></span>Private</label>
                        <label><input name="college_type" type="radio" value="public"/><span></span>Public</label>
          {% else %}
                        <label><input name="college_type" type="radio" value="private" /><span></span>Private</label>
                        <label><input name="college_type" type="radio" value="public" checked /><span></span>Public</label>
          {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Ranking : </th>
                    <td class="InnerInputTD">
                        <input type="text" name="ranking" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.college.ranking}}" />
                    </td>
                    <th>Web URL : </th>
                    <td class="InnerInputTD">
                        <input type="text" name="web_url" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.web_url}}" />
                    </td>
                </tr>
                <tr>
                    <th>Setting : </th>
                    <td>
          {% if found_school.college.setting == "urban" %}
                        <label><input name="setting" type="radio" value="urban" checked /><span></span>Urban</label>
                        <label><input name="setting" type="radio" value="suburban"/><span></span>Suburban</label>
          {% else %}
                        <label><input name="setting" type="radio" value="urban" /><span></span>Urban</label>
                        <label><input name="setting" type="radio" value="suburban" checked /><span></span>Suburban</label>
          {% endif %}
                    </td>
                    <th>Acceptance % : </th>
                    <td class="InnerInputTD">
                        <input type="text" name="acceptance_percent" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.college.acceptance_percent}}" />
                    </td>
                </tr>
                <tr>
                    <th>GPA Requirement : </th>
                    <td class="InnerInputTD">
          {% if found_school.college.gpa_requirement == "1" %}
                        <label><input type="radio" name="gpa_requirement" value="1" checked/><span></span>Yes</label>
                        <label><input type="radio" name="gpa_requirement" value="0" /><span></span>No</label>
          {% else %}
                        <label><input type="radio" name="gpa_requirement" value="1" /><span></span>Yes</label>
                        <label><input type="radio" name="gpa_requirement" value="0" checked /><span></span>No</label>
          {% endif %}
                    </td>
                    <th>SAT/ACT Requirement : </th>
                    <td class="InnerInputTD">
          {% if found_school.college.sat_act_requirement == "Yes" %}
                        <label><input type="radio" name="sat_act_requirement" value="Yes" checked /><span></span>Yes</label>
                        <label><input type="radio" name="sat_act_requirement" value="No" /><span></span>No</label>
          {% else %}
                        <label><input type="radio" name="sat_act_requirement" value="Yes" /><span></span>Yes</label>
                        <label><input type="radio" name="sat_act_requirement" value="No" checked /><span></span>No</label>
          {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Tuition : </th>
                    <td class="InnerInputTD">
                        $<input type="text" name="tuition" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.college.tuition}}" pattern="\d*"/>
                    </td>
                    <th>Room & Board : </th>
                    <td class="InnerInputTD">
                        $<input type="text" name="room_and_board" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.college.room_and_board}}" pattern="\d*"/>
                    </td>
                </tr>
                <tr>
                    <th>SAT/ACT 25% : </th>
                    <td class="InnerInputTD">
                        <input type="text" name="sat_25" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.college.sat_25}}" pattern="\d*"/>
                    </td>
                    <th>SAT/ACT 75% : </th>
                    <td class="InnerInputTD">
                        <input type="text" name="sat_75" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.college.sat_75}}" pattern="\d*"/>
                    </td>
                </tr>

                <tr>
                    <th># of Students : </th>
                    <td class="InnerInputTD">
                        <input type="text" name="number_students" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.number_students}}" pattern="\d*"/>
                    </td>
                    <th>Classes Under 20 (%) : </th>
                    <td class="InnerInputTD">
                        <input type="text" name="class_under_20" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.college.class_under_20}}" pattern="\d*"/>
                    </td>
                </tr>

                <tr>
                    <th>Asian % : </th>
                    <td class="InnerInputTD">
                        <input type="text" name="asian_percent" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.college.asian_percent}}" pattern="\d*"/>
                    </td>
                    <th>High School Top 10 % : </th>
                    <td class="InnerInputTD">
                        <input type="text" name="high_school_10" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.college.high_school_10}}" pattern="\d*"/>
                    </td>
                </tr>
                <tr>
                    <th>Full Time Faculty (%) : </th>
                    <td class="InnerInputTD">
                        <input type="text" name="full_time_faculty" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.college.full_time_faculty}}" pattern="\d*"/>
                    </td>
                    <th>Student/Faculty Ratio : </th>
                    <td class="InnerInputTD">
                        <input type="text" name="student_faculty_ratio" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.college.student_faculty_ratio}}" />
                    </td>
                </tr>
                <tr>
                    <th>E/D, E/A Deadline : </th>
                    <td class="InnerInputTD">
                        <input
								type="text"
								class="TableInnerInput"
								placeholder="YYYY-MM-DD"
								name="ed_ea_deadline"
								onfocus="this.placeholder=''"
								onblur="this.placeholder='YYYY-MM-DD'"
                                style="width:calc(100% - 10px);"
								pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
								value="{{found_school.college.ed_ea_deadline|date:'Y-m-d'}}"
                        />
                    </td>
                    <th>E/D, E/A Notice Date : </th>
                    <td class="InnerInputTD">
                        <input
								type="text"
								class="TableInnerInput"
								placeholder="YYYY-MM-DD"
								name="ed_ea_noticedate"
								onfocus="this.placeholder=''"
								onblur="this.placeholder='YYYY-MM-DD'"
                                style="width:calc(100% - 10px);"
								pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                                value="{{found_school.college.ed_ea_noticedate|date:'Y-m-d'}}"
                        />
                    </td>
                </tr>
                <tr>
                    <th>Application Deadline : </th>
                    <td class="InnerInputTD">
                        <input
								type="text"
								class="TableInnerInput"
								placeholder="YYYY-MM-DD"
								name="application_deadline"
								onfocus="this.placeholder=''"
								onblur="this.placeholder='YYYY-MM-DD'"
                                style="width:calc(100% - 10px);"
								pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
								value="{{found_school.college.application_deadline|date:'Y-m-d'}}"
                        />
                    </td>
                    <th>Degrees Offered : </th>
                    <td class="InnerInputTD">
                        <input type="text" name="degree_offered" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.college.degree_offered}}" />
                    </td>
                </tr>
                <tr>
                    <th>Most Popular Majors : </th>
                    <td class="InnerInputTD" colspan="3"><input type="text" name="most_popular_majors" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.college.most_popular_majors}}" /></td>
                </tr>
            </table>
        </div><!-- InfoTable -->


        <div class="SubmitButtonLine">
            <button class="Submit" type="submit">SAVE</button>
        </div>
        <div class="EndPart"></div>
    </form>

</div><!-- MainFrame -->
</div><!--  ContentsFrame-->
{% endblock %}

<script>
function MenuOpen() {
obj = document.getElementById('LeftF');

if (obj.style.margin == "0px 0px 0px -229px") {
    document.getElementById('LeftF').style.margin='0px 0px 0px 0px';
    document.getElementById('MToggle').style.transform='rotate(90deg)';
    document.getElementById('MainF').style.width='calc(100% - 355px)';
} else {
    document.getElementById('LeftF').style.margin='0px 0px 0px -229px';
    document.getElementById('MToggle').style.transform='rotate(0deg)';
    document.getElementById('MainF').style.width='calc(100% - 126px)';
}
}
</script>
