{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="ContentsFrame">
	<div class="LeftFrame" id="LeftF">
		<div class="SectionTitle">Colleges</div>

		<div class="LeftTab" id="LeftTab01">
			<div class="TabTitle">
				<div OnClick="TabOpen('LeftTab01');" class="On">1~50</div>
				<div OnClick="TabOpen('LeftTab02');">51~100</div>
				<div OnClick="TabOpen('LeftTab03');">101~150</div>
				<div OnClick="TabOpen('LeftTab04');">151~200</div>
			</div><!-- TabTitle -->
			<div class="TabConternts">
				<div class="InnerTabContents">
					<li><a href="/school/college/school_id">1. Saint John’s College</a></li>
					<li><a href="/school/college/school_id">2. Saint Bernadette College</a></li>
					<li><a href="/school/college/school_id">3. Holy Name Catholic College</a></li>
					<li><a href="/school/college/school_id">4. Lowell Catholic College</a></li>
					<li><a href="/school/college/school_id">5. Saint Mary’s College of Worcester</a></li>
					<li><a href="/school/college/school_id">6. Whitinsville Christian College</a></li>
					<li><a href="/school/college/school_id">7. Archbishop Williams College</a></li>
					<li><a href="/school/college/school_id">8. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">9. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">10. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">11. Holy Family College</a></li>
					<li><a href="/school/college/school_id">12. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">13. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">14. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">15. Holy Family College</a></li>
					<li><a href="/school/college/school_id">16. Saint John’s College</a></li>
					<li><a href="/school/college/school_id">17. Saint Bernadette College</a></li>
					<li><a href="/school/college/school_id">18. Holy Name Catholic College</a></li>
					<li><a href="/school/college/school_id">19. Lowell Catholic College</a></li>
					<li><a href="/school/college/school_id">20. Saint Mary’s College of Worcester</a></li>
					<li><a href="/school/college/school_id">21. Whitinsville Christian College</a></li>
					<li><a href="/school/college/school_id">22. Archbishop Williams College</a></li>
					<li><a href="/school/college/school_id">23. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">24. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">25. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">26. Holy Family College</a></li>
					<li><a href="/school/college/school_id">27. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">28. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">29. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">30. Holy Family College</a></li>
					<li><a href="/school/college/school_id">31. Saint John’s College</a></li>
					<li><a href="/school/college/school_id">32. Saint Bernadette College</a></li>
					<li><a href="/school/college/school_id">33. Holy Name Catholic College</a></li>
					<li><a href="/school/college/school_id">34. Lowell Catholic College</a></li>
					<li><a href="/school/college/school_id">35. Saint Mary’s College of Worcester</a></li>
					<li><a href="/school/college/school_id">36. Whitinsville Christian College</a></li>
					<li><a href="/school/college/school_id">37. Archbishop Williams College</a></li>
					<li><a href="/school/college/school_id">38. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">39. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">40. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">41. Holy Family College</a></li>
					<li><a href="/school/college/school_id">42. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">43. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">44. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">45. Holy Family College</a></li>
					<li><a href="/school/college/school_id">46. Holy Family College</a></li>
					<li><a href="/school/college/school_id">47. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">48. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">49. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">50. Holy Family College</a></li>
				</div><!-- InnerTabContents -->
			</div><!-- TabConternts -->
		</div><!-- LeftTab ID:LeftTab01 -->

		<div class="LeftTab" id="LeftTab02">
			<div class="TabTitle">
				<div OnClick="TabOpen('LeftTab01');">1~50</div>
				<div OnClick="TabOpen('LeftTab02');" class="On">51~100</div>
				<div OnClick="TabOpen('LeftTab03');">101~150</div>
				<div OnClick="TabOpen('LeftTab04');">151~200</div>
			</div><!-- TabTitle -->
			<div class="TabConternts">
				<div class="InnerTabContents">
					<li><a href="/school/college/school_id">1. Saint John’s College</a></li>
					<li><a href="/school/college/school_id">2. Saint Bernadette College</a></li>
					<li><a href="/school/college/school_id">3. Holy Name Catholic College</a></li>
					<li><a href="/school/college/school_id">4. Lowell Catholic College</a></li>
					<li><a href="/school/college/school_id">5. Saint Mary’s College of Worcester</a></li>
					<li><a href="/school/college/school_id">6. Whitinsville Christian College</a></li>
					<li><a href="/school/college/school_id">7. Archbishop Williams College</a></li>
					<li><a href="/school/college/school_id">8. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">9. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">10. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">11. Holy Family College</a></li>
					<li><a href="/school/college/school_id">12. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">13. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">14. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">15. Holy Family College</a></li>
					<li><a href="/school/college/school_id">16. Saint John’s College</a></li>
					<li><a href="/school/college/school_id">17. Saint Bernadette College</a></li>
					<li><a href="/school/college/school_id">18. Holy Name Catholic College</a></li>
					<li><a href="/school/college/school_id">19. Lowell Catholic College</a></li>
					<li><a href="/school/college/school_id">20. Saint Mary’s College of Worcester</a></li>
					<li><a href="/school/college/school_id">21. Whitinsville Christian College</a></li>
					<li><a href="/school/college/school_id">22. Archbishop Williams College</a></li>
					<li><a href="/school/college/school_id">23. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">24. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">25. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">26. Holy Family College</a></li>
					<li><a href="/school/college/school_id">27. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">28. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">29. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">30. Holy Family College</a></li>
					<li><a href="/school/college/school_id">31. Saint John’s College</a></li>
					<li><a href="/school/college/school_id">32. Saint Bernadette College</a></li>
					<li><a href="/school/college/school_id">33. Holy Name Catholic College</a></li>
					<li><a href="/school/college/school_id">34. Lowell Catholic College</a></li>
					<li><a href="/school/college/school_id">35. Saint Mary’s College of Worcester</a></li>
					<li><a href="/school/college/school_id">36. Whitinsville Christian College</a></li>
					<li><a href="/school/college/school_id">37. Archbishop Williams College</a></li>
					<li><a href="/school/college/school_id">38. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">39. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">40. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">41. Holy Family College</a></li>
					<li><a href="/school/college/school_id">42. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">43. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">44. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">45. Holy Family College</a></li>
					<li><a href="/school/college/school_id">46. Holy Family College</a></li>
					<li><a href="/school/college/school_id">47. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">48. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">49. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">50. Holy Family College</a></li>
				</div><!-- InnerTabContents -->
			</div><!-- TabConternts -->
		</div><!-- LeftTab ID:LeftTab02 -->

		<div class="LeftTab" id="LeftTab03">
			<div class="TabTitle">
				<div OnClick="TabOpen('LeftTab01');">1~50</div>
				<div OnClick="TabOpen('LeftTab02');">51~100</div>
				<div OnClick="TabOpen('LeftTab03');" class="On">101~150</div>
				<div OnClick="TabOpen('LeftTab04');">151~200</div>
			</div><!-- TabTitle -->
			<div class="TabConternts">
				<div class="InnerTabContents">
					<li><a href="/school/college/school_id">1. Saint John’s College</a></li>
					<li><a href="/school/college/school_id">2. Saint Bernadette College</a></li>
					<li><a href="/school/college/school_id">3. Holy Name Catholic College</a></li>
					<li><a href="/school/college/school_id">4. Lowell Catholic College</a></li>
					<li><a href="/school/college/school_id">5. Saint Mary’s College of Worcester</a></li>
					<li><a href="/school/college/school_id">6. Whitinsville Christian College</a></li>
					<li><a href="/school/college/school_id">7. Archbishop Williams College</a></li>
					<li><a href="/school/college/school_id">8. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">9. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">10. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">11. Holy Family College</a></li>
					<li><a href="/school/college/school_id">12. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">13. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">14. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">15. Holy Family College</a></li>
					<li><a href="/school/college/school_id">16. Saint John’s College</a></li>
					<li><a href="/school/college/school_id">17. Saint Bernadette College</a></li>
					<li><a href="/school/college/school_id">18. Holy Name Catholic College</a></li>
					<li><a href="/school/college/school_id">19. Lowell Catholic College</a></li>
					<li><a href="/school/college/school_id">20. Saint Mary’s College of Worcester</a></li>
					<li><a href="/school/college/school_id">21. Whitinsville Christian College</a></li>
					<li><a href="/school/college/school_id">22. Archbishop Williams College</a></li>
					<li><a href="/school/college/school_id">23. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">24. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">25. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">26. Holy Family College</a></li>
					<li><a href="/school/college/school_id">27. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">28. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">29. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">30. Holy Family College</a></li>
					<li><a href="/school/college/school_id">31. Saint John’s College</a></li>
					<li><a href="/school/college/school_id">32. Saint Bernadette College</a></li>
					<li><a href="/school/college/school_id">33. Holy Name Catholic College</a></li>
					<li><a href="/school/college/school_id">34. Lowell Catholic College</a></li>
					<li><a href="/school/college/school_id">35. Saint Mary’s College of Worcester</a></li>
					<li><a href="/school/college/school_id">36. Whitinsville Christian College</a></li>
					<li><a href="/school/college/school_id">37. Archbishop Williams College</a></li>
					<li><a href="/school/college/school_id">38. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">39. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">40. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">41. Holy Family College</a></li>
					<li><a href="/school/college/school_id">42. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">43. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">44. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">45. Holy Family College</a></li>
					<li><a href="/school/college/school_id">46. Holy Family College</a></li>
					<li><a href="/school/college/school_id">47. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">48. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">49. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">50. Holy Family College</a></li>
				</div><!-- InnerTabContents -->
			</div><!-- TabConternts -->
		</div><!-- LeftTab ID:LeftTab03 -->

		<div class="LeftTab" id="LeftTab04">
			<div class="TabTitle">
				<div OnClick="TabOpen('LeftTab01');">1~50</div>
				<div OnClick="TabOpen('LeftTab02');">51~100</div>
				<div OnClick="TabOpen('LeftTab03');">101~150</div>
				<div OnClick="TabOpen('LeftTab04');" class="On">151~200</div>
			</div><!-- TabTitle -->
			<div class="TabConternts">
				<div class="InnerTabContents">
					<li><a href="/school/college/school_id">1. Saint John’s College</a></li>
					<li><a href="/school/college/school_id">2. Saint Bernadette College</a></li>
					<li><a href="/school/college/school_id">3. Holy Name Catholic College</a></li>
					<li><a href="/school/college/school_id">4. Lowell Catholic College</a></li>
					<li><a href="/school/college/school_id">5. Saint Mary’s College of Worcester</a></li>
					<li><a href="/school/college/school_id">6. Whitinsville Christian College</a></li>
					<li><a href="/school/college/school_id">7. Archbishop Williams College</a></li>
					<li><a href="/school/college/school_id">8. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">9. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">10. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">11. Holy Family College</a></li>
					<li><a href="/school/college/school_id">12. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">13. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">14. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">15. Holy Family College</a></li>
					<li><a href="/school/college/school_id">16. Saint John’s College</a></li>
					<li><a href="/school/college/school_id">17. Saint Bernadette College</a></li>
					<li><a href="/school/college/school_id">18. Holy Name Catholic College</a></li>
					<li><a href="/school/college/school_id">19. Lowell Catholic College</a></li>
					<li><a href="/school/college/school_id">20. Saint Mary’s College of Worcester</a></li>
					<li><a href="/school/college/school_id">21. Whitinsville Christian College</a></li>
					<li><a href="/school/college/school_id">22. Archbishop Williams College</a></li>
					<li><a href="/school/college/school_id">23. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">24. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">25. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">26. Holy Family College</a></li>
					<li><a href="/school/college/school_id">27. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">28. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">29. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">30. Holy Family College</a></li>
					<li><a href="/school/college/school_id">31. Saint John’s College</a></li>
					<li><a href="/school/college/school_id">32. Saint Bernadette College</a></li>
					<li><a href="/school/college/school_id">33. Holy Name Catholic College</a></li>
					<li><a href="/school/college/school_id">34. Lowell Catholic College</a></li>
					<li><a href="/school/college/school_id">35. Saint Mary’s College of Worcester</a></li>
					<li><a href="/school/college/school_id">36. Whitinsville Christian College</a></li>
					<li><a href="/school/college/school_id">37. Archbishop Williams College</a></li>
					<li><a href="/school/college/school_id">38. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">39. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">40. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">41. Holy Family College</a></li>
					<li><a href="/school/college/school_id">42. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">43. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">44. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">45. Holy Family College</a></li>
					<li><a href="/school/college/school_id">46. Holy Family College</a></li>
					<li><a href="/school/college/school_id">47. Arlington Catholic College</a></li>
					<li><a href="/school/college/school_id">48. Boston Trinity College</a></li>
					<li><a href="/school/college/school_id">49. Bradford Christian College</a></li>
					<li><a href="/school/college/school_id">50. Holy Family College</a></li>
				</div><!-- InnerTabContents -->
			</div><!-- TabConternts -->
		</div><!-- LeftTab ID:LeftTab04 -->




	</div><!-- LeftFrame -->

	<style>


	#LeftTab02, #LeftTab03, #LeftTab04 {display:none;}
	</style>



	<script>
	function TabOpen(TabName) {
	document.getElementById('LeftTab01').style.display='none';
	document.getElementById('LeftTab02').style.display='none';
	document.getElementById('LeftTab03').style.display='none';
	document.getElementById('LeftTab04').style.display='none';

	document.getElementById(TabName).style.display='block';
	}


	</script>




	<div class="MainFrame" id="MainF">

		<div class="MTitle">College search</div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="130">
					<col>
					<col width="85">
					<col>
				</colgroup>
				<tr>
					<th>College type : </th>
					<td>
						<label><input type="checkbox" checked /><span></span>Public College</label>
						<label><input type="checkbox" /><span></span>Private College</label>
					</td>
					<th>Term : </th>
					<td>
						<label><input type="checkbox" /><span></span>Fall</label>
						<label><input type="checkbox" /><span></span>Spring</label>
					</td>
				</tr>
				<tr>
					<th>Tofel Requirement : </th>
					<td colspan="3">
						<label><input type="checkbox" /><span></span>None</label>
						<label><input type="checkbox" /><span></span>55 or Less</label>
						<label><input type="checkbox" /><span></span>70 or Less</label>
						<label><input type="checkbox" /><span></span>80 or Less</label>
						<label><input type="checkbox" /><span></span>99 or Less</label>
						<label><input type="checkbox" /><span></span>100 or Over</label>
					</td>
				</tr>
				<tr>
					<th>Location : </th>
					<td>
						<label><input type="checkbox" /><span></span>Northeast</label>
						<label><input type="checkbox" /><span></span>Southeast</label>
						<label><input type="checkbox" /><span></span>Midwest</label>
						<label><input type="checkbox" /><span></span>West</label>
					</td>
					<th>Transfer : </th>
					<td>
						<label><input type="checkbox" /><span></span>Transfer student</label>
					</td>
				</tr>
				<tr>
					<th>National Universities  : </th>
					<td colspan="3">
						<label><input type="checkbox" /><span></span>Good Engineering school </label>
						<label><input type="checkbox" /><span></span>Good Business school </label>
						<label><input type="checkbox" /><span></span>Good Art school </label>
						<label><input type="checkbox" /><span></span>Good Science school</label>
					</td>
				</tr>
				<tr>
					<th> </th>
					<td colspan="3">
						<label><input type="checkbox" /><span></span>Liberal Arts Colleges </label>
						<label><input type="checkbox" /><span></span>Local colleges </label>
						<label><input type="checkbox" /><span></span>Pathway Universities</label>
					</td>
				</tr>
			</table>
			<div class="SchoolButton">Search</div>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<div class="MTitle">Search Result</div>
			<div class="ListSearch Aright">
				<div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script>
       jQuery.fn.filterByText = function(textbox, selectSingleMatch) {
        return this.each(function() {
            var select = this;
            var options = [];
            $(select).find('option').each(function() {
                options.push({value: $(this).val(), text: $(this).text()});
            });
            $(select).data('options', options);
            $(textbox).bind('change keyup', function() {
                var options = $(select).empty().data('options');
                var search = $(this).val().trim();
                var regex = new RegExp(search,"gi");

                $.each(options, function(i) {
                    var option = options[i];
                    if(option.text.match(regex) !== null) {
                        $(select).append(
                           $('<option>').text(option.text).val(option.value)
                        );
                    }
                });
                if (selectSingleMatch === true && $(select).children().length === 1) {
                    $(select).children().get(0).selected = true;
                }
            });
        });
    };

    $(function() {
        $('#college_name').filterByText($('#college_textbox'), false);
      $("select option").click(function(){
        alert(1);
      });
    });
</script>

				Search by College Name :
               <input id="college_textbox" type="text" class="SearchInput" style="width:300px;" />
				<select class="SearchSelect" id="college_name">

				<option>Saint John’s College</option>
				<option>Saint Bernadette College</option>
				<option>Holy Name Catholic College</option>
				<option>Lowell Catholic College</option>
				<option>Saint Mary’s College of Worcester</option>
				<option>Whitinsville Christian College</option>
				<option>Archbishop Williams College</option>
				<option>Arlington Catholic College</option>
				<option>Boston Trinity College</option>
				<option>Bradford Christian College</option>
				<option>Holy Family College</option>
				</select>
				</div>
			</div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>College Name</th>
					<th>Website</th>
					<th>Location</th>
					<th>Ranking</th>
					<th>Requirements</th>
					<th>Comments</th>
				</tr>
				<tr>
					<td class="Relationship"><a href="/school/college/school_id">Saint John’s College</a></td>
					<td class="Relationship">saintjohns.ac</td>
					<td class="Relationship">Shrewsbury, MA</td>
					<td class="Relationship">12</td>
					<td class="Relationship">-</td>
					<td class="Relationship">-</td>
				</tr>
				<tr>
					<td><a href="/school/college/school_id">Saint John’s College</a></td>
					<td>saintjohns.ac</td>
					<td>Shrewsbury, MA</td>
					<td>12</td>
					<td>-</td>
					<td>-</td>
				</tr>
				<tr>
					<td><a href="/school/college/school_id">Saint John’s College</a></td>
					<td>saintjohns.ac</td>
					<td>Shrewsbury, MA</td>
					<td>12</td>
					<td>-</td>
					<td>-</td>
				</tr>
				<tr>
					<td><a href="/school/college/school_id">Saint John’s College</a></td>
					<td>saintjohns.ac</td>
					<td>Shrewsbury, MA</td>
					<td>12</td>
					<td>-</td>
					<td>-</td>
				</tr>
			</table>
		</div><!-- ListTable -->






	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->
<script>
function MenuOpen() {
	obj = document.getElementById('LeftF');

	if (obj.style.margin == "0px 0px 0px -229px") {
		document.getElementById('LeftF').style.margin='0px 0px 0px 0px';
		document.getElementById('MToggle').style.transform='rotate(90deg)';
		document.getElementById('MainF').style.width='calc(100% - 355px)';
	} else {
		document.getElementById('LeftF').style.margin='0px 0px 0px -229px';
		document.getElementById('MToggle').style.transform='rotate(0deg)';
		document.getElementById('MainF').style.width='calc(100% - 126px)';
	}
}
</script>

{% endblock %}
