{% extends 'school_base.html' %}
{% load static %}
{% block content %}

<div class="ContentsFrame">
	<div class="SchoolName">
	<span>School Information</span><br />
	St. John’s High School
	</div>
	<div class="SchoolFrame">
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="150">
					<col>
				</colgroup>
				<tr>
					<th>General Impression : </th>
					<td>Very famous boy school, excellent education quality, teachers very responsible, lots of  academic pressure on students; international students who excel at this school usually have a TOEFL of 90+. </td>
				</tr>
				<tr>
					<th>Strong Advantages  : </th>
					<td>Very famous boy school, more AP courses, excellent education quality, teachers very responsible, very experienced at handling any problems that boys may have. </td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<div class="MTitle">About the school</div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="150">
					<col>
					<col width="150">
					<col>
				</colgroup>
				<tr>
					<th>Year Founded : </th>
					<td>1894</td>
					<th>Religion : </th>
					<td>Roman Catholic</td>
				</tr>
				<tr>
					<th>School Type : </th>
					<td>College Prep, day school</td>
					<th>Grades : </th>
					<td>9-12</td>
				</tr>
				<tr>
					<th>Student body : </th>
					<td>Boys</td>
					<th>Uniforms : </th>
					<td>Yes</td>
				</tr>
				<tr>
					<th>Number of Students : </th>
					<td>1006</td>
					<th>International Students : </th>
					<td>20 ( 15 Chinese )</td>
				</tr>
				<tr>
					<th>Class Size : </th>
					<td>-</td>
					<th>ESL : </th>
					<td>No</td>
				</tr>
				<tr>
					<th rowspan="2">Area : </th>
					<td rowspan="2">Located in a residential area of Shrewsbury. Easy access to major cities in MA. Boston is about 50 minutes away.</td>
					<th>Student: Teacher Ratio : </th>
					<td>14 : 1</td>
				</tr>
				<tr>
					<th>Facility : </th>
					<td>Wide campus, Academic/Fine Arts building, Library, Computer Lab, Science Labs, Theatre, Campus Ministry, Cafeteria, Weight Room, Locker Room, athletic fields.</td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<div class="MTitle">Academics</div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="150">
					<col>
				</colgroup>
				<tr>
					<th>College Acceptance Rate : </th>
					<td>96% 4 year colleges, 3% on to 2 year colleges, 1% undecided/working/military</td>
				</tr>
				<tr>
					<th>Average SAT Scores : </th>
					<td>Average = 1860 (Math = 650 | Reading = 610 | Writing = 600)</td>
				</tr>
				<tr>
					<th>Honor Courses: 29 : </th>
					<td>English I, English II, English III, English IV, Algebra I, Algebra II, Algebra II/Trigonometry, Geometry, Pre-calculus, Biology, Chemistry, Physics, Economics, U.S. History, U.S. Government and Politics, World History, World History II, Advanced Spanish I, Chinese I, Chinese II, Chinese III, Chinese IV, French I, French II, French III, French IV, Java Programming I, Java Programming II, Java Programming III.</td>
				</tr>
				<tr>
					<th>AP Courses: 24 : </th>
					<td>English Language and Composition, English Literature and Composition, Art History, Music Theory, Calculus-AB, Calculus-BC, Statistics, Biology, Chemistry, Environmental Science, Physics I, Physics C: Magnetism, and Electricity & Magnetism, Comparative Government and Politics, European History, Microeconomics, Macroeconomics, U.S. History, U.S. Government and Politics, World History, Chinese, French Language, Spanish Language, Computer Science A.</td>
				</tr>
				<tr>
					<th>Extra-curricular : </th>
					<td>-</td>
				</tr>
				<tr>
					<th>College Acceptance list : </th>
					<td>-</td>
				</tr>
				<tr>
					<th>Application : </th>
					<td>-</td>
				</tr>
				<tr>
					<th>Fee  : </th>
					<td>-</td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>



	</div>
</div><!--  ContentsFrame-->


{% endblock %}
