{% extends 'school_base.html' %}
{% load static %}
{% block content %}

<div class="ContentsFrame">
	<div class="SchoolName">
	<span>School Information</span><br />
	{{found_school.name}}
	</div>
	<div class="SchoolFrame">
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="150">
					<col>
				</colgroup>
				<tr>
					<th>General Impression : </th>
					<td>Very famous boy school, excellent education quality, teachers very responsible, lots of  academic pressure on students; international students who excel at this school usually have a TOEFL of 90+. </td>
				</tr>
				<tr>
					<th>Strong Advantages  : </th>
					<td>Very famous boy school, more AP courses, excellent education quality, teachers very responsible, very experienced at handling any problems that boys may have. </td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<div class="MTitle">About the school</div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="150">
					<col>
					<col width="150">
					<col>
				</colgroup>
				<tr>
					<th>Year Founded : </th>
					<td>{{found_school.founded}}</td>
					<th>Religion : </th>
					<td>{{found_school.religion}}</td>
				</tr>
				<tr>
					<th>School Type : </th>
					<td>
						{% for type in school_types %}
							{{type.type}},
						{% endfor %}
					</td>
					<th>Grades : </th>
					<td>{{found_school.secondary.grade_start}} - {{found_school.secondary.grade_end}}</td>
				</tr>
				<tr>
					<th>Student body : </th>
					<td>{{found_school.secondary.student_body}}</td>
					<th>Uniforms : </th>
					<td>{{found_school.secondary.uniform}}</td>
				</tr>
				<tr>
					<th>Number of Students : </th>
					<td>{{found_school.number_students}}</td>
					<th>International Students : </th>
					<td>{{found_school.secondary.international_students}}</td>
				</tr>
				<tr>
					<th>Class Size : </th>
					<td>{{found_school.secondary.class_size}}</td>
					<th>ESL : </th>
					<td>{{found_school.secondary.esl}}</td>
				</tr>
				<tr>
					<th rowspan="2">Area : </th>
					<td rowspan="2">{{found_school.area_description}}</td>
					<th>Student: Teacher Ratio : </th>
					<td>{{found_school.secondary.student_teach_ratio}}</td>
				</tr>
				<tr>
					<th>Facility : </th>
					<td>{{found_school.secondary.facilities}}</td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<div class="MTitle">Academics</div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="150">
					<col>
				</colgroup>
				<tr>
					<th>College Acceptance Rate : </th>
					<td>{{found_school.secondary.college_acceptance_rate}}</td>
				</tr>
				<tr>
					<th>Average SAT Scores : </th>
					<td>{{found_school.secondary.avg_sat}}</td>
				</tr>
				<tr>
					<th>Honor Courses: {{found_school.secondary.number_honor_courses}} : </th>
					<td>{{found_school.secondary.list_honor_courses}}</td>
				</tr>
				<tr>
					<th>AP Courses: {{found_school.secondary.number_ap_courses}} : </th>
					<td>{{found_school.secondary.list_ap_courses}}</td>
				</tr>
				<tr>
					<th>Extra-curricular : </th>
					<td>-</td>
				</tr>
				<tr>
					<th>College Acceptance list : </th>
					<td>-</td>
				</tr>
				<tr>
					<th>Application Fee: </th>
					<td>{{found_school.secondary.application_fee}}</td>
				</tr>
				<tr>
					<th>Program Fee  : </th>
					<td>{{found_school.secondary.program_fee}}</td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>



	</div>
</div><!--  ContentsFrame-->


{% endblock %}
