{% extends 'school_base.html' %}
{% load static %}
{% block title %}{{found_school.name}}{% endblock %}
{% block content %}

<div class="ContentsFrame">
	<div class="RateInfo">
		<div class="Text">Currency rate <span></span></div>
		<div><input type="text" class="Input" value="1.00" name="currency_rate"/></div>
		<div id="CurrencyRateButtonId"><input type="button" value="Apply" class="Button"/></div>
	</div>
	<div class="SchoolName">
	<span>School Information</span><br />
	{{found_school.name}}
	</div>
	<div class="SchoolFrame">

		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col width="40">
					<col width="200">
				</colgroup>
				<tr>
					<th>Detailed Information</th>
					<th>Qty</th>
					<th style="text-align:center;">Amount</th>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<div class="MTitle">Program Fees</div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col width="40">
					<col width="60">
					<col width="140">
				</colgroup>
				<tr>
					<td>
						<label>* Program Fees</label>
					</td>
					<td class="InnerInputTD"><input name="default_program_fee_qty" type="text" class="TableInnerInput" size="2" value="1" /></td>
					<td>USD</td>
					<td>$
						{% if found_school.secondary.program_fee %}
						<input name="default_program_fee" type="text" class="TableInnerInput" size="12" value="{{found_school.secondary.program_fee}}" readonly/>
						{% else %}
						<input name="default_program_fee" type="text" class="TableInnerInput" size="12" readonly/>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>
						<label>Grade - 11 * 1 Academic Year (10 months)</label>
					</td>
					<td class="InnerInputTD"><input name="other_program_fee_qty" type="text" class="TableInnerInput" size="2" value="1" /></td>
					<td>USD</td>
					<td>$ <input name="other_program_fee" type="text" class="TableInnerInput" size="12" /></td>
				</tr>
				<tr>
					<td class="TotalCount">Sub Total - Program Fees</td>
					<td class="TotalCount"></td>
					<td class="TotalCount">USD</td>
					<td class="TotalCount">$ <input name="sub_total_program_fee" type="text" class="TableInnerInput" size="12" readonly/></td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<div class="MTitle">Application Processing Fees</div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col width="40">
					<col width="60">
					<col width="140">
				</colgroup>
				<tr>
					<td>
						<label>* Application Processing Fees</label>
					</td>
					<td class="InnerInputTD"><input name="default_application_fee_qty" type="text" class="TableInnerInput" size="2" value="1" /></td>
					<td>USD</td>
					<td class="InnerInputTD">$
						{% if found_school.secondary.application_fee %}
						<input name="default_application_fee" type="text" class="TableInnerInput" size="12" value="{{found_school.secondary.application_fee}}" readonly/>
						{% else %}
						<input name="default_application_fee" type="text" class="TableInnerInput" size="12" readonly/>
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>
						<label>Additional Schools Fees</label>
					</td>
					<td class="InnerInputTD"><input name="other_application_fee_qty" type="text" class="TableInnerInput" size="2" value="1"/></td>
					<td>USD</td>
					<td class="InnerInputTD">$ <input name="other_application_fee" type="text" class="TableInnerInput" size="12" value="" /></td>
				</tr>
				<tr>
					<td class="TotalCount">Sub Total - Application Processing Fees</td>
					<td class="TotalCount"></td>
					<td class="TotalCount">USD</td>
					<td class="TotalCount">$<input name="sub_total_application_fee" type="text" class="TableInnerInput" size="12" value="" readonly/></td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<div class="MTitle">Other Fees</div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col width="40">
					<col width="60">
					<col width="140">
				</colgroup>
				<tr>
					<td>
						<label>U.S Visa Application Fees</label>
					</td>
					<td class="InnerInputTD"><input name="other_fee1_qty" type="text" class="TableInnerInput" size="2" value="1" /></td>
					<td>USD</td>
					<td>$ <input name="other_fee1" type="text" class="TableInnerInput" size="12" /></td>
				</tr>
				<tr>
					<td>
						<label>International Bank Transfer Fees</label>
					</td>
					<td class="InnerInputTD"><input name="other_fee2_qty" type="text" class="TableInnerInput" size="2" value="1" /></td>
					<td>USD</td>
					<td>$ <input name="other_fee2" type="text" class="TableInnerInput" size="12" /></td>
				</tr>
				<tr>
					<td>
						<label>Insurance Fees</label>
					</td>
					<td class="InnerInputTD"><input name="other_fee3_qty" type="text" class="TableInnerInput" size="2" value="1" /></td>
					<td>USD</td>
					<td>$ <input name="other_fee3" type="text" class="TableInnerInput" size="12" /></td>
				</tr>
				<tr>
					<td>
						<label>Others</label>
					</td>
					<td class="InnerInputTD"><input name="other_fee4_qty" type="text" class="TableInnerInput" size="2" value="1" /></td>
					<td>USD</td>
					<td>$<input name="other_fee4" type="text" class="TableInnerInput" size="12" /></td>
				</tr>
				<tr>
					<td class="TotalCount">Sub Total - Other Fees</td>
					<td class="TotalCount"></td>
					<td class="TotalCount">USD</td>
					<td class="TotalCount">$ <input name="total_other_fee" type="text" class="TableInnerInput" size="12" readonly/></td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<div class="MTitle">Total Cost</div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col width="40">
					<col width="60">
					<col width="140">
				</colgroup>
				<tr>
					<td class="TotalCount">Total Cost</td>
					<td class="TotalCount"></td>
					<td class="TotalCount">USD</td>
					<td class="TotalCount">$ <span id="total_cost"></span></td>
				</tr>
				<tr>
					<td class="TotalCount">Promotion - Application Fee Waive</td>
					<td class="TotalCount"></td>
					<td class="TotalCount">USD</td>
					<td class="TotalCount">$ <input type="text" class="TableInnerInput" size="12" name="waive_fee"/></td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<div class="MTitle">
			<div class="MTitleButton">
			{% if found_school.program_file %}
			<a href="{{MEDIA_URL}}{{found_school.program_file}}" download>Program PDF Download</a>
			{% else %}
			<p>No Program PDF File</p>
			{% endif %}
			</div>
			Memo
		</div>
		<div class="TextAreaForm">
			<textarea>{{found_school.secondary.fee_memo}}</textarea>
			<div class="SchoolButton" id="ModifyButtonId" >Modify</div>
		</div><!-- TextAreaForm -->
		<div class="EndPart"></div>

		<div class="TotalEstimate">
			<div class="Total"><span>Total Estimate Cost</span>$ <span class="total_estimate_fee"></span></div>
			<div class="Button">
				<div class="EstimatePDFClass" onclick="window.print()">Print</div>
			</div>
		</div><!-- TotalEstimate -->
		<div class="EndPart"></div>


	</div>
</div><!--  ContentsFrame-->


{% endblock %}
