{% extends 'school_base.html' %}
{% load static %}
{% block content %}

<div class="ContentsFrame">
	<div class="SchoolName">
	<span>School Information</span><br />
	{{found_school.name}}
	</div>
	<div class="SchoolFrame">
		<div class="MTitle">School Photos</div>
		<div class="MediaList">
			<div class="MediaSet BOX04">
				<div class="Image" style="background-image:url('{% static 'imgsrc/school.jpg' %}');"></div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>

			<div class="MediaSet BOX04">
				<div class="Image" style="background-image:url('{% static 'imgsrc/school.jpg' %}');"></div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>

			<div class="MediaSet BOX04">
				<div class="Image" style="background-image:url('{% static 'imgsrc/school.jpg' %}');"></div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>

			<div class="MediaSet BOX04E">
				<div class="Image" style="background-image:url('{% static 'imgsrc/school.jpg' %}');"></div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>
			<div class="cdiv"></div>
			<div class="MediaSet BOX04">
				<div class="Image" style="background-image:url('{% static 'imgsrc/school.jpg' %}');"></div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>

			<div class="MediaSet BOX04">
				<div class="Image" style="background-image:url('{% static 'imgsrc/school.jpg' %}');"></div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>

			<div class="MediaSet BOX04">
				<div class="Image" style="background-image:url('{% static 'imgsrc/school.jpg' %}');"></div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>

			<div class="MediaSet BOX04E">
				<div class="Image" style="background-image:url('{% static 'imgsrc/school.jpg' %}');"></div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>
			<div class="cdiv"></div>
		</div><!-- MediaList -->
		<div class="EndPart"></div>



		<div class="MTitle">Videos</div>
		<div class="MediaList">
			<div class="MediaSet BOX04">
				<div class="Media">
					<iframe src="https://www.youtube.com/embed/XJFrMuvTPUo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>

			<div class="MediaSet BOX04">
				<div class="Media">
					<iframe src="https://www.youtube.com/embed/XJFrMuvTPUo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>

			<div class="MediaSet BOX04">
				<div class="Media">
					<iframe src="https://www.youtube.com/embed/XJFrMuvTPUo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>

			<div class="MediaSet BOX04E">
				<div class="Media">
					<iframe src="https://www.youtube.com/embed/XJFrMuvTPUo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>
			<div class="cdiv"></div>
			<div class="MediaSet BOX04">
				<div class="Media">
					<iframe src="https://www.youtube.com/embed/XJFrMuvTPUo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>

			<div class="MediaSet BOX04">
				<div class="Media">
					<iframe src="https://www.youtube.com/embed/XJFrMuvTPUo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>

			<div class="MediaSet BOX04">
				<div class="Media">
					<iframe src="https://www.youtube.com/embed/XJFrMuvTPUo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>

			<div class="MediaSet BOX04E">
				<div class="Media">
					<iframe src="https://www.youtube.com/embed/XJFrMuvTPUo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
				<div class="Title">세계의 교육현장 - Global Education Issue_꿈의 아이비리그, 그곳에 가다_#002</div>
			</div>
			<div class="cdiv"></div>
		</div><!-- MediaList -->
		<div class="EndPart"></div>



	</div>
</div><!--  ContentsFrame-->


{% endblock %}
