{% extends 'school_base.html' %}
{% load static %}
{% block content %}

<div class="ContentsFrame">
	<div class="SchoolName">
	<span>School Information</span><br />
	{{found_school.name}}
	</div>
	<div class="SchoolFrame">
		<div class="BOX02">
			<div class="MTitle">Current Student’s review</div>

			<!-- 학교리뷰보기 -->
			<div class="ReviewTop">
				<li class="Name">Yixun “Patrick” Bu</li>
				<li class="Info">
					<span>Grade : <b>10th</b></span>
					<span>School : <b>St John’s High School</b></span>
					<span>Home city in China : <b>Jinan, Shandong</b></span>
				</li>
				<li class="Contents">
				I have been with BGE since I was in eighth grade and they were very helpful in preparing me for high school in the United States. ey sat down with me one on one and helped me map out where I needed to improve academically and provided me with TOEFL tutoring after school. Because of BGE's excellent guidance, I was able to get into my dream high school, St John's High School.
				</li>
			</div><!-- ReviewTop -->
			<div class="EndPart"></div>
			<!-- 학교리뷰보기 끝 -->

			<!-- 학교리뷰목록 -->
			<div class="ListTable">
				<div class="ListSearch Aright">
					<div>
						<select class="SearchSelect">
							<option>Name</option>
							<option>Grade</option>
							<option>School</option>
							<option>Home City</option>
						</select>
					</div>
					<div><input type="text" class="SearchInput" /></div>
					<div><input type="submit" value="Search" class="ListSearchButton" /></div>
				</div>
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col>
					</colgroup>
					<tr>
						<th>No</th>
						<th>Name</th>
						<th>Grade</th>
						<th>School</th>
						<th>Home city</th>
					</tr>
					<tr>
						<td>124</td>
						<td><a href="">Yixun “Patrick” Bu</a></td>
						<td>10th</td>
						<td>St John’s High School</td>
						<td>Jinan, Shandong, China</td>
					</tr>
					<tr>
						<td>124</td>
						<td><a href="">Yixun “Patrick” Bu</a></td>
						<td>10th</td>
						<td>St John’s High School</td>
						<td>Jinan, Shandong, China</td>
					</tr>
					<tr>
						<td>124</td>
						<td><a href="">Yixun “Patrick” Bu</a></td>
						<td>10th</td>
						<td>St John’s High School</td>
						<td>Jinan, Shandong, China</td>
					</tr>
					<tr>
						<td>124</td>
						<td><a href="">Yixun “Patrick” Bu</a></td>
						<td>10th</td>
						<td>St John’s High School</td>
						<td>Jinan, Shandong, China</td>
					</tr>
					<tr>
						<td>124</td>
						<td><a href="">Yixun “Patrick” Bu</a></td>
						<td>10th</td>
						<td>St John’s High School</td>
						<td>Jinan, Shandong, China</td>
					</tr>
					<tr>
						<td>124</td>
						<td><a href="">Yixun “Patrick” Bu</a></td>
						<td>10th</td>
						<td>St John’s High School</td>
						<td>Jinan, Shandong, China</td>
					</tr>
				</table>

				<div class="ListCounter">
					<a href="">◀</a>
					<a>...</a>
					<a href="">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a href="">5</a>
					<a>...</a>
					<a href="">128</a>
					<a href="">▶</a>
				</div>


			</div><!-- ListTable -->
			<!-- 학교리뷰목록 끝 -->


			<div class="EndPart"></div>
		</div><!-- BOX02 -->

		<div class="BOX02E">
			<div class="MTitle">Graduated Student’s review</div>

			<!-- 학교리뷰보기 -->
			<div class="ReviewTop">
				<li class="Name">Yixun “Patrick” Bu</li>
				<li class="Info">
					<span>Years Attended : <b>3years</b></span>
					<span>College : <b>St John’s Univ.</b></span>
					<span>Initial English : <b>-.</b></span><br />
					<span>GPA in China : <b>Jinan, Shandong</b></span>
					<span>TOEFL : <b>-</b></span>
					<span>GPA : <b>-</b></span>
					<span>SAT / ACT : <b>-</b></span>
					<span>Activities : <b>-</b></span>
					<span>College : <b>-</b></span>
					<span>Major : <b>-</b></span>
				</li>
				<li class="Contents">
				I have been with BGE since I was in eighth grade and they were very helpful in preparing me for high school in the United States. ey sat down with me one on one and helped me map out where I needed to improve academically and provided me with TOEFL tutoring after school. Because of BGE's excellent guidance, I was able to get into my dream high school, St John's High School.
				</li>
			</div><!-- ReviewTop -->
			<div class="EndPart"></div>
			<!-- 학교리뷰보기 끝 -->

			<!-- 학교리뷰목록 -->
			<div class="ListTable">
				<div class="ListSearch Aright">
					<div>
						<select class="SearchSelect">
							<option>Name</option>
							<option>Years Attended</option>
							<option>College</option>
							<option>GPA in China</option>
						</select>
					</div>
					<div><input type="text" class="SearchInput" /></div>
					<div><input type="submit" value="Search" class="ListSearchButton" /></div>
				</div>
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col>
					</colgroup>
					<tr>
						<th>No</th>
						<th>Name</th>
						<th>Years Attended</th>
						<th>College</th>
						<th>GPA in China</th>
					</tr>
					<tr>
						<td>124</td>
						<td><a href="">Yixun “Patrick” Bu</a></td>
						<td>10th</td>
						<td>St John’s High School</td>
						<td>Jinan, Shandong, China</td>
					</tr>
					<tr>
						<td>124</td>
						<td><a href="">Yixun “Patrick” Bu</a></td>
						<td>10th</td>
						<td>St John’s High School</td>
						<td>Jinan, Shandong, China</td>
					</tr>
					<tr>
						<td>124</td>
						<td><a href="">Yixun “Patrick” Bu</a></td>
						<td>10th</td>
						<td>St John’s High School</td>
						<td>Jinan, Shandong, China</td>
					</tr>
					<tr>
						<td>124</td>
						<td><a href="">Yixun “Patrick” Bu</a></td>
						<td>10th</td>
						<td>St John’s High School</td>
						<td>Jinan, Shandong, China</td>
					</tr>
					<tr>
						<td>124</td>
						<td><a href="">Yixun “Patrick” Bu</a></td>
						<td>10th</td>
						<td>St John’s High School</td>
						<td>Jinan, Shandong, China</td>
					</tr>
					<tr>
						<td>124</td>
						<td><a href="">Yixun “Patrick” Bu</a></td>
						<td>10th</td>
						<td>St John’s High School</td>
						<td>Jinan, Shandong, China</td>
					</tr>
				</table>

				<div class="ListCounter">
					<a href="">◀</a>
					<a>...</a>
					<a href="">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a href="">5</a>
					<a>...</a>
					<a href="">128</a>
					<a href="">▶</a>
				</div>


			</div><!-- ListTable -->
			<!-- 학교리뷰목록 끝 -->
		</div><!-- BOX02E -->
		<div class="EndPart"></div>



	</div>
</div><!--  ContentsFrame-->


{% endblock %}
