{% extends 'school_base.html' %}
{% load static %}
{% block content %}

<div class="ContentsFrame">
	<div class="SchoolName">
	<span>School Information</span><br />
	{{found_school.name}}
	</div>
	<div class="SchoolFrame">
		<div class="MTitle">BGE Services and Benefits </div>
		<div class="MediaList">
			{% for video in all_videos %}
			<div class="MediaSet BOX04">
					<video controls>
						<source src="{{MEDIA_URL}}{{video.video}}" type="video/mp4">
					</video>
				<div class="Title">{{video.video}}</div>
			</div>
			{% endfor %}

			<div class="cdiv"></div>
		</div><!-- MediaList -->
		<div class="EndPart"></div>



	</div>
</div><!--  ContentsFrame-->


{% endblock %}
