{% extends 'school_base.html' %}
{% load static %}
{% block title %}{{found_school.name}}{% endblock %}
{% block content %}

<div class="ContentsFrame">
	<div class="SchoolVisual" style="background-image:url('{{MEDIA_URL}}{{found_school.image}}');">
		<div class="Cover">
			<div class="Name">
			<span>School Information</span><br />
			{{found_school.name}}
			</div>
			<div class="InfoSet">

				<form method="POST">
					{% csrf_token %}
					{% if selling_point %}
					<input type="text" name="counselling_point_id" value="{{selling_point.id}}" hidden>
					{% else %}
					<input type="text" name="counselling_point_id" value="" hidden>
					{% endif %}
					<div class="MTitle">Counselor's Selling Points</div>
					<div class="ListTable">
						<table cellpadding="0" cellspacing="0" border="0">
							<colgroup>
								<col width="150">
								<col width="100">
								<col width="100">
								<col>
							</colgroup>
							<tr>
								<th>Classification</th>
								<th>Information</th>
								<th>Evaluation</th>
								<th>Comment</th>
							</tr>
							<tr>
								<td>Location</td>
								<td class="InnerInputTD">
									<input type="text" value="{{found_school.secondary.state|upper}}" style="width:calc(100% - 8px);" class="TableInnerInput" disabled/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.location_ev}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="location_ev"/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.location_cm}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="location_cm" />
								</td>
							</tr>
							<tr>
								<td>Admission Requirement Information</td>
								<td class="InnerInputTD" colspan="3" height="80">
									<textarea rows="5" style="width:calc(100% - 8px);" cols="100" disabled>{{found_school.secondary.admission_requirements}}</textarea>
								</td>
							</tr>
							<tr>
								<td>Admission Requirement</td>
								<td class="InnerInputTD">
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.admission_requirement_ev}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="admission_requirement_ev"/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.admission_requirement_cm}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="admission_requirement_cm" placeholder="Input full url ex) https://example.com"/>
									{% if selling_point.admission_requirement_cm %}
									<a href="{{selling_point.admission_requirement_cm}}">{{selling_point.admission_requirement_cm}}</a>
									{% endif %}
								</td>
							</tr>
							<tr>
								<td>Accepted College</td>
								<td class="InnerInputTD" colspan="3">
									<textarea rows="5" style="width:calc(100% - 8px);" cols="100" disabled>{{found_school.secondary.college_acceptance_list}}</textarea>
								</td>
							</tr>
							<tr>
								<td>Campus</td>
								<td class="InnerInputTD" colspan="3">
									<input type="text" value="{{selling_point.campus}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="campus"/>
								</td>
							</tr>
							<tr>
								<td>Agent Location</td>
								<td class="InnerInputTD" colspan="3">
									<input type="text" value="{{selling_point.agent_location}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="agent_location"/>
								</td>
							</tr>
							<tr>
								<td># of Students</td>
								<td class="InnerInputTD">
									<input type="text" value="{{found_school.number_students}}" style="width:calc(100% - 8px);" class="TableInnerInput" disabled />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.student_number_ev}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="student_number_ev"/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.student_number_cm}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="student_number_cm" />
								</td>
							</tr>
							<tr>
								<td># of Intl. Students</td>
								<td class="InnerInputTD">
									<input type="text" value="{{found_school.secondary.international_students}}" style="width:calc(100% - 8px);" class="TableInnerInput" disabled/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.intl_student_number_ev}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="intl_student_number_ev"/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.intl_student_number_cm}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="intl_student_number_cm"/>
								</td>
							</tr>
							<tr>
								<td>ESL</td>
								<td class="InnerInputTD">
									{% if found_school.secondary.esl %}
									<input type="text" value="Yes" style="width:calc(100% - 8px);" class="TableInnerInput" disabled/>
									{% else %}
									<input type="text" value="No" style="width:calc(100% - 8px);" class="TableInnerInput" disabled/>
									{% endif %}
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.esl_ev}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="esl_ev"/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.esl_cm}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="esl_cm"/>
								</td>
							</tr>
							<tr>
								<td>Student : Teacher</td>
								<td class="InnerInputTD">
									<input type="text" value="{{found_school.secondary.student_teach_ratio}}" style="width:calc(100% - 8px);" class="TableInnerInput" disabled/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.student_teacher_ratio_ev}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="student_teacher_ratio_ev"/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.student_teacher_ratio_cm}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="student_teacher_ratio_cm"/>
								</td>
							</tr>
							<tr>
								<td>Program Fee</td>
								<td class="InnerInputTD">
									<input type="text" value="${{found_school.secondary.program_fee}}" style="width:calc(100% - 8px);" class="TableInnerInput" disabled/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.program_fee_ev}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="program_fee_ev"/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.program_fee_cm}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="program_fee_cm"/>
								</td>
							</tr>
							<tr>
								<td>Application Fee</td>
								<td class="InnerInputTD">
									<input type="text" value="${{found_school.secondary.application_fee}}" style="width:calc(100% - 8px);" class="TableInnerInput" disabled/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.application_fee_ev}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="application_fee_ev"/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.application_fee_cm}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="application_fee_cm"/>
								</td>
							</tr>
							<tr>
								<td>AP</td>
								<td class="InnerInputTD">
									<input type="text" value="{{found_school.secondary.number_ap_courses}}" style="width:calc(100% - 8px);" class="TableInnerInput" disabled/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.ap_ev}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="ap_ev"/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.ap_cm}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="ap_cm"/>
								</td>
							</tr>
							<tr>
								<td>Honors</td>
								<td class="InnerInputTD">
									<input type="text" value="{{found_school.secondary.number_honor_courses}}" style="width:calc(100% - 8px);" class="TableInnerInput" disabled/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.honor_ev}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="honor_ev"/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.honor_cm}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="honor_cm"/>
								</td>
							</tr>
							<tr>
								<td>Art</td>
								<td class="InnerInputTD" colspan="3">
									<input type="text" value="{{selling_point.art}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="art"/>
								</td>
							</tr>
							<tr>
								<td>Music</td>
								<td class="InnerInputTD" colspan="3">
									<input type="text" value="{{selling_point.music}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="music"/>
								</td>
							</tr>
							<tr>
								<td>Clubs</td>
								<td class="InnerInputTD">
									<input type="text" value="{{found_school.secondary.number_clubs}}" style="width:calc(100% - 8px);" class="TableInnerInput" disabled/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.clubs_ev}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="clubs_ev"/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.clubs_cm}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="clubs_cm"/>
								</td>
							</tr>
							<tr>
								<td>Sports</td>
								<td class="InnerInputTD">
									<input type="text" value="{{found_school.secondary.number_sports}}" style="width:calc(100% - 8px);" class="TableInnerInput" disabled/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.sports_ev}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="sports_ev"/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="{{selling_point.sports_cm}}" style="width:calc(100% - 8px);" class="TableInnerInput" name="sports_cm"/>
								</td>
							</tr>
							<tr>
								<td>Special Comment</td>
								<td class="InnerInputTD" colspan="3" height="80">
									<textarea rows="5" style="width:calc(100% - 8px);" cols="100" disabled>{{found_school.secondary.selling_point}}</textarea>
								</td>
							</tr>
						</table>
					</div><!-- InfoTable -->
					<div class="cdiv"></div>
					<button class="SubmitButtonLine" type="submit"><div>Save</div></button>
				</form>
			</div>
		</div>
	</div><!-- SchoolVisual -->
	<div class="SchoolMFrame">

		<div class="InfoSet">
				<div>
					<div class="Value">{{found_school.secondary.number_ap_courses}}</div>
					<div class="Title">AP</div>
				</div>

				<div>
					<div class="Value">{{found_school.secondary.number_honor_courses}}</div>
					<div class="Title">Honors</div>
				</div>

				<div>
					<div class="Value">{{found_school.secondary.number_clubs}}</div>
					<div class="Title">Clubs</div>
				</div>

				<div>
					<div class="Value">{{found_school.secondary.number_sports}}</div>
					<div class="Title">Sports</div>
				</div>
		</div>
		<br />
		<div class="MTitle">School Information</div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="130">
					<col>
					<col width="130">
					<col>
				</colgroup>
				<tr>
					<th>Location : </th>
					<td>{{found_school.secondary.state|upper}}</td>
					<th>Year Founded : </th>
					<td>{{found_school.founded}}</td>
				</tr>
				<tr>
					<th># of Students : </th>
					<td>{{found_school.number_students}}</td>
					<th># of Intl. Students : </th>
					<td>{{found_school.secondary.international_students}}</td>
				</tr>
				<tr>
					<th>Grades : </th>
					<td colspan="3">{{found_school.secondary.grade_start}} ~ {{found_school.secondary.grade_end}}</td>
				</tr>
				<tr>
					<th>Program Fee : </th>
					<td>$ {{found_school.secondary.program_fee}}</td>
					<th>Application Fee : </th>
					<td>$ {{found_school.secondary.application_fee}}</td>
				</tr>
				<tr>
					<th>Entry Requirement : </th>
					<td colspan="3">{{found_school.secondary.admission_requirements}}</td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="cdiv"></div>
		<div class="EndPart"></div>


		<!-- div class="BOX03">
			<div class="MTitle">Selling point</div>
			<div class="MTextBox">
				<li>Very famous boy school, more AP courses, excellent education quality, teachers are responsible, very experienced at handling any problems that boys may have.</li>
				<li><b>Recent College Acceptance</b> : Amherst, Yale, Stanford, MIT, Georgetown, Johns Hopkins, Virginia Tech…</li>
				<li><b>College Acceptance Rate</b> : 96%</li>
			</div><!-- MTextBox -->
		<!-- /div -->

		<div class="BOX02">
			<div class="MTitle">About BGE</div>
			<div class="MTextBox">
				<li>Click to see How we care students when they arrive in the U. S. </li>
				<a class="MMore" href="/school/secondary/service/{{found_school.id}}">+ See More</a>
			</div><!-- MTextBox -->
		</div>

		<div class="BOX02E">
			<div class="MTitle">Student’s Review</div>
			<div class="MTextBox">
				<a class="MMore" href="/school/secondary/review/{{found_school.id}}">+ See More</a>
			</div><!-- MTextBox -->
		</div>
		<div class="cdiv"></div>
		<div class="EndPart"></div>


		<div class="MTitle">Location& Contacts</div>
		<div class="Location">
			<div class="Info">
				<li>{{found_school.address}}</li>
				<li>{{found_school.phone}}</li>
				<li><a href="{{found_school.web_url}}" target="_BLANK">{{found_school.web_url}}</a></li>
			</div>
		</div><!-- Location -->
		<div class="cdiv"></div>
		<div class="EndPart"></div>


	</div><!-- SchoolMFrame -->
</div><!--  ContentsFrame-->



{% endblock %}
