{% extends 'school_base.html' %}
{% load static %}
{% block content %}

<div class="ContentsFrame">
	<div class="SchoolVisual" style="background-image:url('{% static 'imgsrc/school.jpg'%}');">
		<div class="Cover">
			<div class="Name">
			<span>School Information</span><br />
			{{found_school.name}}
			</div>
			<div class="InfoSet">

				<form method="POST">
					{% csrf_token %}
					<div class="MTitle">Counselor's Selling Points</div>
					<div class="ListTable">
						<table cellpadding="0" cellspacing="0" border="0">
							<colgroup>
								<col width="60">
								<col width="150">
								<col width="100">
								<col width="100">
								<col>
							</colgroup>
							<tr>
								<th>Emphasis</th>
								<th>Classification</th>
								<th>Information</th>
								<th>Evaluation</th>
								<th>Comment</th>
							</tr>
							<tr>
								<td><label><input type="checkbox" name="location_emp"/><span></span></label></td>
								<td>Location</td>
								<td class="InnerInputTD">
									<input type="text" value="{{found_school.secondary.state|upper}}" style="width:calc(100% - 8px);" class="TableInnerInput" disabled/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="Safe and Clean, 40 minutes to Boston" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" name="admission_requirements_emp"/><span></span></label></td>
								<td>Admission Requirment</td>
								<td class="InnerInputTD">
									<input type="text" value="{{found_school.secondary.admission_requirements}}" style="width:calc(100% - 8px);" class="TableInnerInput" disabled/>
								</td>
								<td class="InnerInputTD">
									<input type="text" value="TOEFL Required" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" /><span></span></label></td>
								<td>Campus</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" /><span></span></label></td>
								<td>Agent Location</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="Be Near" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" /><span></span></label></td>
								<td>#of Students</td>
								<td class="InnerInputTD">
									<input type="text" value="1006" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="Very Good" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" /><span></span></label></td>
								<td>#of Intl. Students</td>
								<td class="InnerInputTD">
									<input type="text" value="20" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="Very Good" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" /><span></span></label></td>
								<td>ESL</td>
								<td class="InnerInputTD">
									<input type="text" value="None" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" /><span></span></label></td>
								<td>Student : Teachet</td>
								<td class="InnerInputTD">
									<input type="text" value="14 : 01" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="Very Good" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="Must TOEFL" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" /><span></span></label></td>
								<td>fee Total</td>
								<td class="InnerInputTD">
									<input type="text" value="$43,130" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="Very Good" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="Lower than average" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" /><span></span></label></td>
								<td>AP</td>
								<td class="InnerInputTD">
									<input type="text" value="24" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="Very Good" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="Higher than everage" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" /><span></span></label></td>
								<td>Honor</td>
								<td class="InnerInputTD">
									<input type="text" value="29" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="Very Good" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" /><span></span></label></td>
								<td>Art</td>
								<td class="InnerInputTD">
									<input type="text" value="Hard" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="TOEFL Required" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" /><span></span></label></td>
								<td>Music</td>
								<td class="InnerInputTD">
									<input type="text" value="Hard" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="TOEFL Required" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" /><span></span></label></td>
								<td>Clubs</td>
								<td class="InnerInputTD">
									<input type="text" value="39" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="Very Good" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="STEM 강조" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" /><span></span></label></td>
								<td>Sports</td>
								<td class="InnerInputTD">
									<input type="text" value="16" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="Very Good" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="Varies" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
							<tr>
								<td><label><input type="checkbox" /><span></span></label></td>
								<td>Special Comment</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
								<td class="InnerInputTD">
									<input type="text" value="" style="width:calc(100% - 8px);" class="TableInnerInput" />
								</td>
							</tr>
						</table>
					</div><!-- InfoTable -->
					<div class="cdiv"></div>
					<button class="SubmitButtonLine" type="submit"><div>Save</div></button>
				</form>
			</div>
		</div>
	</div><!-- SchoolVisual -->
	<div class="SchoolMFrame">

		<div class="InfoSet">
				<div>
					<div class="Value">{{found_school.secondary.number_ap_courses}}</div>
					<div class="Title">AP</div>
				</div>

				<div>
					<div class="Value">{{found_school.secondary.number_honor_courses}}</div>
					<div class="Title">Honors</div>
				</div>

				<div>
					<div class="Value">{{found_school.secondary.number_clubs}}</div>
					<div class="Title">Clubs</div>
				</div>

				<div>
					<div class="Value">{{found_school.secondary.number_sports}}</div>
					<div class="Title">Sports</div>
				</div>
		</div>
		<br />
		<div class="MTitle">School Information</div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="130">
					<col>
					<col width="130">
					<col>
				</colgroup>
				<tr>
					<th>Location : </th>
					<td>{{found_school.secondary.state|upper}}</td>
					<th>Year Founded : </th>
					<td>{{found_school.founded}}</td>
				</tr>
				<tr>
					<th># of Students : </th>
					<td>{{found_school.number_students}}</td>
					<th># of Intl. Students : </th>
					<td>{{found_school.secondary.international_students}}</td>
				</tr>
				<tr>
					<th>Grades : </th>
					<td>{{found_school.secondary.grade_start}} ~ {{found_school.secondary.grade_end}}</td>
					<th>Fee total : </th>
					<td>$43,130</td>
				</tr>
				<tr>
					<th>Entry Requirement : </th>
					<td>{{found_school.secondary.admission_requirements}}</td>
					<th></th>
					<td></td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="cdiv"></div>
		<div class="EndPart"></div>


		<!-- div class="BOX03">
			<div class="MTitle">Selling point</div>
			<div class="MTextBox">
				<li>Very famous boy school, more AP courses, excellent education quality, teachers are responsible, very experienced at handling any problems that boys may have.</li>
				<li><b>Recent College Acceptance</b> : Amherst, Yale, Stanford, MIT, Georgetown, Johns Hopkins, Virginia Tech…</li>
				<li><b>College Acceptance Rate</b> : 96%</li>
			</div><!-- MTextBox -->
		<!-- /div -->

		<div class="BOX02">
			<div class="MTitle">About BGE</div>
			<div class="MTextBox">
				<li>Click to see How we care students when they arrive in the U. S. </li>
				<div class="MMore">+ See More</div>
			</div><!-- MTextBox -->
		</div>

		<div class="BOX02E">
			<div class="MTitle">Student’s Review</div>
			<div class="MTextBox">
				<div class="MMore">+ See More</div>
			</div><!-- MTextBox -->
		</div>
		<div class="cdiv"></div>
		<div class="EndPart"></div>


		<div class="MTitle">Location& Contacts</div>
		<div class="Location">
			<div class="Info">
				<li>{{found_school.address}}</li>
				<li>{{found_school.phone}}</li>
				<li>{{found_school.web_url}}</li>
			</div>
		</div><!-- Location -->
		<div class="cdiv"></div>
		<div class="EndPart"></div>


	</div><!-- SchoolMFrame -->
</div><!--  ContentsFrame-->



{% endblock %}
