{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
#PopRegistReview {display:none;}
</style>
<div class="PopCover" id="PopRegistReview">
	<div class="Popup">
		<div class="TitleSet">
			<div class="Close">X</div>
			<div class="Title">Review Regist</div>
		</div>
		<div class="Contents">

			<form action="/school/current/review" method="post">
				{% csrf_token %}
				<input type="text" name="school_id" value="{{found_school.id}}" hidden>
				<input type="text" name="review_id" value="" hidden>
				<div class="InfoTable">
					<table cellpadding="0" cellspacing="0" border="0">
						<colgroup>
							<col width="110">
							<col>
						</colgroup>
						<tr>
							<th>Name : </th>
							<td class="InnerInputTD">
								<input type="text" class="TableInnerInput" size="24" name="student" />
							</td>
						</tr>
						<tr>
							<th>Grade : </th>
							<td class="InnerInputTD">
								<input type="text" class="TableInnerInput" size="10" name="grade" />
							</td>
						</tr>
						<tr>
							<th>School : </th>
							<td class="InnerInputTD">
								<input type="text" class="TableInnerInput" size="10" value="{{found_school.name}}" disabled readonly/>
							</td>
						</tr>
						<tr>
							<th>Home City : </th>
							<td class="InnerInputTD">
								<input type="text" class="TableInnerInput" size="10" name="homecity"/>
							</td>
						</tr>
						<tr>
							<th>Comment : </th>
							<td class="InnerInputTD">
								<textarea class="TableInnerTextarea" name="comment"></textarea>
							</td>
						</tr>
					</table>
				</div><!-- InfoTable -->


				<div class="PopButtonLine">
					<button class="Submit" type="submit">SAVE</button>
				</div>
			</form>
		</div>
	</div>
</div>



<style>
#PopRegistGraduateProfile {display:none;}
</style>
<div class="PopCover" id="PopRegistGraduateProfile">
	<div class="Popup">
		<div class="TitleSet">
			<div class="Close" OnClick="document.getElementById('PopRegistGraduateProfile').style.display='none';">X</div>
			<div class="Title">Regist Graduate Profile</div>
		</div>
		<div class="Contents">

			<form action="/school/graduate/review" method="post">
				{% csrf_token %}
				<input type="text" name="school_id" value="{{found_school.id}}" hidden>
				<input type="text" name="profile_id" value="" hidden>
				<div class="InfoTable">
					<table cellpadding="0" cellspacing="0" border="0">
						<colgroup>
							<col width="110">
							<col>
							<col width="110">
							<col>
						</colgroup>
						<tr>
							<th>Name : </th>
							<td class="InnerInputTD">
								<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="student" />
							</td>
							<th>Years Attended : </th>
							<td class="InnerInputTD">
								<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="attended" />
							</td>
						</tr>
						<tr>
							<th>Initial English : </th>
							<td class="InnerInputTD">
								<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="init_eng" />
							</td>
							<th>GPA in China : </th>
							<td class="InnerInputTD">
								<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="gpa_china" />
							</td>
						</tr>
						<tr>
							<th>TOEFL : </th>
							<td class="InnerInputTD">
								<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="toefl" />
							</td>
							<th>GPA : </th>
							<td class="InnerInputTD">
								<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="gpa" />
							</td>
						</tr>
						<tr>
							<th>SAT / ACT : </th>
							<td class="InnerInputTD">
								<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="sat_act" />
							</td>
							<th>Activities : </th>
							<td class="InnerInputTD">
								<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="activities" />
							</td>
						</tr>
						<tr>
							<th>College : </th>
							<td class="InnerInputTD">
								<input type="text" class="TableInnerInput" style="width:calc(100% - 10px);" name="college" />
							</td>
							<th>Major : </th>
							<td class="InnerInputTD">
								<input type="text" class="TableInnerInput"  style="width:calc(100% - 10px);" name="major" />
							</td>
						</tr>
					</table>
				</div><!-- InfoTable -->


				<div class="PopButtonLine">
					<button class="Submit" type="submit">SAVE</button>
				</div>
			</form>


		</div>
	</div>
</div>


<div class="LeftFrame" id="LeftF">
	<div class="SectionTitle">Secondary Schools</div>
	<div class="LeftTab" id="LeftTab01">
		<div class="TabConternts" id="InnerTab0101">
			<div class="InnerTab">
				<div OnClick="InnerTabOpen01('InnerTab0101');" class="AreaColorMA OnMA">MA</div>
				<div OnClick="InnerTabOpen01('InnerTab0102');" class="AreaColorCT">CT</div>
				<div OnClick="InnerTabOpen01('InnerTab0103');" class="AreaColorNJ">NJ</div>
				<div OnClick="InnerTabOpen01('InnerTab0104');" class="AreaColorFA">FA</div>
				<div OnClick="InnerTabOpen01('InnerTab0105');" class="AreaColorDC">DC</div>
				<div OnClick="InnerTabOpen01('InnerTab0106');" class="AreaColorCA">CA</div>
				<div OnClick="InnerTabOpen01('InnerTab0107');" class="AreaColorFL">FL</div>
				<div OnClick="InnerTabOpen01('InnerTab0108');" class="AreaColorTX">TX</div>
				<div OnClick="InnerTabOpen01('InnerTab0109');" class="AreaColorETC">OTHERS</div>
			</div><!-- InnerTab -->
			<div class="InnerTabContents">
				{% for secondary in secondaries %}
					{% if secondary.state == 'ma' %}
						<li><a href="/school/secondary/update/{{secondary.school.id}}" target="_BLANK">{{secondary.school}}</a></li>
					{% endif %}
				{% endfor %}
			</div><!-- InnerTabContents -->
		</div><!-- TabConternts ID:InnerTab0101 -->

		<div class="TabConternts" id="InnerTab0102">
			<div class="InnerTab">
				<div OnClick="InnerTabOpen01('InnerTab0101');" class="AreaColorMA">MA</div>
				<div OnClick="InnerTabOpen01('InnerTab0102');" class="AreaColorCT OnCT">CT</div>
				<div OnClick="InnerTabOpen01('InnerTab0103');" class="AreaColorNJ">NJ</div>
				<div OnClick="InnerTabOpen01('InnerTab0104');" class="AreaColorFA">FA</div>
				<div OnClick="InnerTabOpen01('InnerTab0105');" class="AreaColorDC">DC</div>
				<div OnClick="InnerTabOpen01('InnerTab0106');" class="AreaColorCA">CA</div>
				<div OnClick="InnerTabOpen01('InnerTab0107');" class="AreaColorFL">FL</div>
				<div OnClick="InnerTabOpen01('InnerTab0108');" class="AreaColorTX">TX</div>
				<div OnClick="InnerTabOpen01('InnerTab0109');" class="AreaColorETC">OTHERS</div>
			</div><!-- InnerTab -->
			<div class="InnerTabContents">
				{% for secondary in secondaries %}
					{% if secondary.state == 'ct' %}
						<li><a href="/school/secondary/update/{{secondary.school.id}}" target="_BLANK">{{secondary.school}}</a></li>
					{% endif %}
				{% endfor %}
			</div><!-- InnerTabContents -->
		</div><!-- TabConternts ID:InnerTab0102 -->

		<div class="TabConternts" id="InnerTab0103">
			<div class="InnerTab">
				<div OnClick="InnerTabOpen01('InnerTab0101');" class="AreaColorMA">MA</div>
				<div OnClick="InnerTabOpen01('InnerTab0102');" class="AreaColorCT">CT</div>
				<div OnClick="InnerTabOpen01('InnerTab0103');" class="AreaColorNJ OnNJ">NJ</div>
				<div OnClick="InnerTabOpen01('InnerTab0104');" class="AreaColorFA">FA</div>
				<div OnClick="InnerTabOpen01('InnerTab0105');" class="AreaColorDC">DC</div>
				<div OnClick="InnerTabOpen01('InnerTab0106');" class="AreaColorCA">CA</div>
				<div OnClick="InnerTabOpen01('InnerTab0107');" class="AreaColorFL">FL</div>
				<div OnClick="InnerTabOpen01('InnerTab0108');" class="AreaColorTX">TX</div>
				<div OnClick="InnerTabOpen01('InnerTab0109');" class="AreaColorETC">OTHERS</div>
			</div><!-- InnerTab -->
			<div class="InnerTabContents">
				{% for secondary in secondaries %}
					{% if secondary.state == 'nj' %}
						<li><a href="/school/secondary/update/{{secondary.school.id}}" target="_BLANK">{{secondary.school}}</a></li>
					{% endif %}
				{% endfor %}
			</div><!-- InnerTabContents -->
		</div><!-- TabConternts ID:InnerTab0103 -->

		<div class="TabConternts" id="InnerTab0104">
			<div class="InnerTab">
				<div OnClick="InnerTabOpen01('InnerTab0101');" class="AreaColorMA">MA</div>
				<div OnClick="InnerTabOpen01('InnerTab0102');" class="AreaColorCT">CT</div>
				<div OnClick="InnerTabOpen01('InnerTab0103');" class="AreaColorNJ">NJ</div>
				<div OnClick="InnerTabOpen01('InnerTab0104');" class="AreaColorFA OnFA">FA</div>
				<div OnClick="InnerTabOpen01('InnerTab0105');" class="AreaColorDC">DC</div>
				<div OnClick="InnerTabOpen01('InnerTab0106');" class="AreaColorCA">CA</div>
				<div OnClick="InnerTabOpen01('InnerTab0107');" class="AreaColorFL">FL</div>
				<div OnClick="InnerTabOpen01('InnerTab0108');" class="AreaColorTX">TX</div>
				<div OnClick="InnerTabOpen01('InnerTab0109');" class="AreaColorETC">OTHERS</div>
			</div><!-- InnerTab -->
			<div class="InnerTabContents">
				{% for secondary in secondaries %}
					{% if secondary.state == 'fa' %}
						<li><a href="/school/secondary/update/{{secondary.school.id}}" target="_BLANK">{{secondary.school}}</a></li>
					{% endif %}
				{% endfor %}
			</div><!-- InnerTabContents -->
		</div><!-- TabConternts ID:InnerTab0104 -->

		<div class="TabConternts" id="InnerTab0105">
			<div class="InnerTab">
				<div OnClick="InnerTabOpen01('InnerTab0101');" class="AreaColorMA">MA</div>
				<div OnClick="InnerTabOpen01('InnerTab0102');" class="AreaColorCT">CT</div>
				<div OnClick="InnerTabOpen01('InnerTab0103');" class="AreaColorNJ">NJ</div>
				<div OnClick="InnerTabOpen01('InnerTab0104');" class="AreaColorFA">FA</div>
				<div OnClick="InnerTabOpen01('InnerTab0105');" class="AreaColorDC OnDC">DC</div>
				<div OnClick="InnerTabOpen01('InnerTab0106');" class="AreaColorCA">CA</div>
				<div OnClick="InnerTabOpen01('InnerTab0107');" class="AreaColorFL">FL</div>
				<div OnClick="InnerTabOpen01('InnerTab0108');" class="AreaColorTX">TX</div>
				<div OnClick="InnerTabOpen01('InnerTab0109');" class="AreaColorETC">OTHERS</div>
			</div><!-- InnerTab -->
			<div class="InnerTabContents">
				{% for secondary in secondaries %}
					{% if secondary.state == 'dc' %}
						<li><a href="/school/secondary/update/{{secondary.school.id}}" target="_BLANK">{{secondary.school}}</a></li>
					{% endif %}
				{% endfor %}
			</div><!-- InnerTabContents -->
		</div><!-- TabConternts ID:InnerTab0105 -->

		<div class="TabConternts" id="InnerTab0106">
			<div class="InnerTab">
				<div OnClick="InnerTabOpen01('InnerTab0101');" class="AreaColorMA">MA</div>
				<div OnClick="InnerTabOpen01('InnerTab0102');" class="AreaColorCT">CT</div>
				<div OnClick="InnerTabOpen01('InnerTab0103');" class="AreaColorNJ">NJ</div>
				<div OnClick="InnerTabOpen01('InnerTab0104');" class="AreaColorFA">FA</div>
				<div OnClick="InnerTabOpen01('InnerTab0105');" class="AreaColorDC">DC</div>
				<div OnClick="InnerTabOpen01('InnerTab0106');" class="AreaColorCA OnCA">CA</div>
				<div OnClick="InnerTabOpen01('InnerTab0107');" class="AreaColorFL">FL</div>
				<div OnClick="InnerTabOpen01('InnerTab0108');" class="AreaColorTX">TX</div>
				<div OnClick="InnerTabOpen01('InnerTab0109');" class="AreaColorETC">OTHERS</div>
			</div><!-- InnerTab -->
			<div class="InnerTabContents">
				{% for secondary in secondaries %}
					{% if secondary.state == 'ca' %}
						<li><a href="/school/secondary/update/{{secondary.school.id}}" target="_BLANK">{{secondary.school}}</a></li>
					{% endif %}
				{% endfor %}
			</div><!-- InnerTabContents -->
		</div><!-- TabConternts ID:InnerTab0106 -->

		<div class="TabConternts" id="InnerTab0107">
			<div class="InnerTab">
				<div OnClick="InnerTabOpen01('InnerTab0101');" class="AreaColorMA">MA</div>
				<div OnClick="InnerTabOpen01('InnerTab0102');" class="AreaColorCT">CT</div>
				<div OnClick="InnerTabOpen01('InnerTab0103');" class="AreaColorNJ">NJ</div>
				<div OnClick="InnerTabOpen01('InnerTab0104');" class="AreaColorFA">FA</div>
				<div OnClick="InnerTabOpen01('InnerTab0105');" class="AreaColorDC">DC</div>
				<div OnClick="InnerTabOpen01('InnerTab0106');" class="AreaColorCA">CA</div>
				<div OnClick="InnerTabOpen01('InnerTab0107');" class="AreaColorFL OnFL">FL</div>
				<div OnClick="InnerTabOpen01('InnerTab0108');" class="AreaColorTX">TX</div>
				<div OnClick="InnerTabOpen01('InnerTab0109');" class="AreaColorETC">OTHERS</div>
			</div><!-- InnerTab -->
			<div class="InnerTabContents">
				{% for secondary in secondaries %}
					{% if secondary.state == 'fl' %}
						<li><a href="/school/secondary/update/{{secondary.school.id}}" target="_BLANK">{{secondary.school}}</a></li>
					{% endif %}
				{% endfor %}
			</div><!-- InnerTabContents -->
		</div><!-- TabConternts ID:InnerTab0107 -->

		<div class="TabConternts" id="InnerTab0108">
			<div class="InnerTab">
				<div OnClick="InnerTabOpen01('InnerTab0101');" class="AreaColorMA">MA</div>
				<div OnClick="InnerTabOpen01('InnerTab0102');" class="AreaColorCT">CT</div>
				<div OnClick="InnerTabOpen01('InnerTab0103');" class="AreaColorNJ">NJ</div>
				<div OnClick="InnerTabOpen01('InnerTab0104');" class="AreaColorFA">FA</div>
				<div OnClick="InnerTabOpen01('InnerTab0105');" class="AreaColorDC">DC</div>
				<div OnClick="InnerTabOpen01('InnerTab0106');" class="AreaColorCA">CA</div>
				<div OnClick="InnerTabOpen01('InnerTab0107');" class="AreaColorFL">FL</div>
				<div OnClick="InnerTabOpen01('InnerTab0108');" class="AreaColorTX OnTX">TX</div>
				<div OnClick="InnerTabOpen01('InnerTab0109');" class="AreaColorETC">OTHERS</div>
			</div><!-- InnerTab -->
			<div class="InnerTabContents">
				{% for secondary in secondaries %}
					{% if secondary.state == 'tx' %}
						<li><a href="/school/secondary/update/{{secondary.school.id}}" target="_BLANK">{{secondary.school}}</a></li>
					{% endif %}
				{% endfor %}
			</div><!-- InnerTabContents -->
		</div><!-- TabConternts ID:InnerTab0108 -->

		<div class="TabConternts" id="InnerTab0109">
			<div class="InnerTab">
				<div OnClick="InnerTabOpen01('InnerTab0101');" class="AreaColorMA">MA</div>
				<div OnClick="InnerTabOpen01('InnerTab0102');" class="AreaColorCT">CT</div>
				<div OnClick="InnerTabOpen01('InnerTab0103');" class="AreaColorNJ">NJ</div>
				<div OnClick="InnerTabOpen01('InnerTab0104');" class="AreaColorFA">FA</div>
				<div OnClick="InnerTabOpen01('InnerTab0105');" class="AreaColorDC">DC</div>
				<div OnClick="InnerTabOpen01('InnerTab0106');" class="AreaColorCA">CA</div>
				<div OnClick="InnerTabOpen01('InnerTab0107');" class="AreaColorFL">FL</div>
				<div OnClick="InnerTabOpen01('InnerTab0108');" class="AreaColorTX">TX</div>
				<div OnClick="InnerTabOpen01('InnerTab0109');" class="AreaColorETC OnETC">OTHERS</div>
			</div><!-- InnerTab -->
			<div class="InnerTabContents">
				{% for secondary in secondaries %}
					{% if secondary.state == 'others' %}
						<li><a href="/school/secondary/update/{{secondary.school.id}}" target="_BLANK">{{secondary.school}}</a></li>
					{% endif %}
				{% endfor %}
			</div><!-- InnerTabContents -->
		</div><!-- TabConternts ID:InnerTab0109 -->
		<br />
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/school/secondary/create" class="IsolationButton">+ &nbsp; Add New School</a>
	</div><!-- LeftTab ID:LeftTab01 -->


</div><!-- LeftFrame -->

<style>

#CollegeTab,

#LeftTab02,
#InnerTab0102, #InnerTab0103, #InnerTab0104, #InnerTab0105, #InnerTab0106, #InnerTab0107, #InnerTab0108, #InnerTab0109,
#InnerTab0202, #InnerTab0203, #InnerTab0204, #InnerTab0205, #InnerTab0206, #InnerTab0207, #InnerTab0208, #InnerTab0209 {display:none;}
</style>

<script>




function TabOpen(TabName) {
document.getElementById('LeftTab01').style.display='none';
document.getElementById('LeftTab02').style.display='none';

document.getElementById(TabName).style.display='block';
}

function PageOpen(PageName) {
document.getElementById('CollegeTab').style.display='none';
document.getElementById('SchoolTab').style.display='none';

document.getElementById(PageName).style.display='block';
}



function InnerTabOpen01(TabName) {
document.getElementById('InnerTab0101').style.display='none';
document.getElementById('InnerTab0102').style.display='none';
document.getElementById('InnerTab0103').style.display='none';
document.getElementById('InnerTab0104').style.display='none';
document.getElementById('InnerTab0105').style.display='none';
document.getElementById('InnerTab0106').style.display='none';
document.getElementById('InnerTab0107').style.display='none';
document.getElementById('InnerTab0108').style.display='none';
document.getElementById('InnerTab0109').style.display='none';

document.getElementById(TabName).style.display='block';
}


function InnerTabOpen02(TabName) {
document.getElementById('InnerTab0201').style.display='none';
document.getElementById('InnerTab0202').style.display='none';
document.getElementById('InnerTab0203').style.display='none';
document.getElementById('InnerTab0204').style.display='none';

document.getElementById(TabName).style.display='block';
}


</script>







	<div class="MainFrame" id="MainF">
		<div class="PTitle">{{found_school.name}}<span>School Profile Update</span></div>

		<!-- 등록일 경우 -->
		<!-- <div class="PTitle">School Profile Regist</div> -->


		<div class="MTitle">School information</div>
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="InfoTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<colgroup>
						<col width="160">
						<col>
						<col width="160">
						<col>
					</colgroup>
					<tr>
						<th>School Name : </th>
						<td class="InnerInputTD" colspan="3"><input type="text" name="name" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.name}}"/></td>
					</tr>
					<tr>
						<th>School Main Photo  : </th>
						<td class="InnerInputTD" colspan="3"><input type="file" name="image" class="TableInnerInput"/><br /></td>
					</tr>
					<tr>
						<th>Additional Photos  : </th>
						<td class="InnerInputTD" colspan="3"><input type="file" name="photo" class="TableInnerInput" multiple/><br /></td>
					</tr>
					<tr>
						<th>Partnership : </th>
						<td>
              {% if found_school.partnership == 1%}
							<label><input name="partnership" type="radio" value="1" required checked/><span></span>1</label>
							<label><input name="partnership" type="radio" value="2" /><span></span>2</label>
							<label><input name="partnership" type="radio" value="3" /><span></span>3</label>
							<label><input name="partnership" type="radio" value="4" /><span></span>4</label>
							<label><input name="partnership" type="radio" value="5" /><span></span>5</label>
              {% elif found_school.partnership == 2%}
              <label><input name="partnership" type="radio" value="1" required/><span></span>1</label>
							<label><input name="partnership" type="radio" value="2" checked/><span></span>2</label>
							<label><input name="partnership" type="radio" value="3" /><span></span>3</label>
							<label><input name="partnership" type="radio" value="4" /><span></span>4</label>
							<label><input name="partnership" type="radio" value="5" /><span></span>5</label>
              {% elif found_school.partnership == 3%}
              <label><input name="partnership" type="radio" value="1" required/><span></span>1</label>
							<label><input name="partnership" type="radio" value="2" /><span></span>2</label>
							<label><input name="partnership" type="radio" value="3" checked/><span></span>3</label>
							<label><input name="partnership" type="radio" value="4" /><span></span>4</label>
							<label><input name="partnership" type="radio" value="5" /><span></span>5</label>
              {% elif found_school.partnership == 4%}
              <label><input name="partnership" type="radio" value="1" required/><span></span>1</label>
							<label><input name="partnership" type="radio" value="2" /><span></span>2</label>
							<label><input name="partnership" type="radio" value="3" /><span></span>3</label>
							<label><input name="partnership" type="radio" value="4" checked/><span></span>4</label>
							<label><input name="partnership" type="radio" value="5" /><span></span>5</label>
              {% elif found_school.partnership == 5%}
              <label><input name="partnership" type="radio" value="1" required/><span></span>1</label>
							<label><input name="partnership" type="radio" value="2" /><span></span>2</label>
							<label><input name="partnership" type="radio" value="3" /><span></span>3</label>
							<label><input name="partnership" type="radio" value="4" /><span></span>4</label>
							<label><input name="partnership" type="radio" value="5" checked/><span></span>5</label>
              {% else %}
              <label><input name="partnership" type="radio" value="1" required/><span></span>1</label>
							<label><input name="partnership" type="radio" value="2" /><span></span>2</label>
							<label><input name="partnership" type="radio" value="3" /><span></span>3</label>
							<label><input name="partnership" type="radio" value="4" /><span></span>4</label>
							<label><input name="partnership" type="radio" value="5" /><span></span>5</label>
              {% endif %}
						</td>
						<th>Provider : </th>
						<td>
              {% if found_school.provider == "bge" %}
							<label><input name="provider" type="radio" value="bge" checked/><span></span>BGE</label>
							<label><input name="provider" type="radio" value="other_providers"/><span></span>Other Providers</label>
              {% elif found_school.provider == "other_providers" %}
              <label><input name="provider" type="radio" value="bge"/><span></span>BGE</label>
							<label><input name="provider" type="radio" value="other_providers" checked/><span></span>Other Providers</label>
              {% else %}
              <label><input name="provider" type="radio" value="bge"/><span></span>BGE</label>
							<label><input name="provider" type="radio" value="other_providers"/><span></span>Other Providers</label>
              {% endif %}
						</td>
					</tr>
					<tr>
						<th>Provider Branch : </th>
						<td class="InnerInputTD" colspan="3">
							<select id="Provider_Branch_textbox" class="TableInnerInput" name="provider_branch">
								<option value="">Select Provider Branch..</option>
                {% for branch in provider_branches %}
                  {% if branch.id == found_school.provider_branch.id %}
                    <option value="{{branch.id}}" selected>{{branch.name}}</option>
                  {% else %}
                    <option value="{{branch.id}}">{{branch.name}}</option>
                  {% endif %}
                {% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<th>Admission Coordinator  : </th>
						<td class="InnerInputTD" colspan="3">
							<select id="Admission_Coordinator_textbox" class="TableInnerInput" name="admission_coordi">
								<option value="">Select Admission Coordinator..</option>
                {% for coordi in admission_coordi %}
                  {% if coordi.user.id == found_school.admission_coordi.user.id %}
                  <option value="{{coordi.user.id}}" selected>{{coordi.user.first_name}} {{coordi.user.last_name}}</option>
                  {% else %}
                  <option value="{{coordi.user.id}}">{{coordi.user.first_name}} {{coordi.user.last_name}}</option>
                  {% endif %}
                {% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<th>School Coordinator  : </th>
						<td class="InnerInputTD" colspan="3">
							<select id="School_Coordinator_textbox" class="TableInnerInput" name="school_coordi">
								<option value="">Select School Coordinator..</option>
                {% for coordi in school_coordi %}
                  {% if coordi.user.id == found_school.school_coordi.user.id %}
                    <option value="{{coordi.user.id}}" selected>{{coordi.user.first_name}} {{coordi.user.last_name}}</option>
                  {% else %}
                    <option value="{{coordi.user.id}}">{{coordi.user.first_name}} {{coordi.user.last_name}}</option>
                  {% endif %}
                {% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<th>(Enroll) Term  : </th>
						<td>
              {% if found_school.term == 'fall' %}
							<label><input type="radio" name="term" value="fall" checked/><span></span>Fall</label>
							<label><input type="radio" name="term" value="spring" /><span></span>Spring</label>
              {% elif found_school.term == 'spring' %}
              <label><input type="radio" name="term" value="fall" /><span></span>Fall</label>
							<label><input type="radio" name="term" value="spring" checked/><span></span>Spring</label>
              {% else %}
              <label><input type="radio" name="term" value="fall" /><span></span>Fall</label>
							<label><input type="radio" name="term" value="spring" /><span></span>Spring</label>
              {% endif %}
						</td>
						<th>(Accepting) Transfer  : </th>
						<td>
              {% if found_school.transfer %}
							<label><input type="radio" name="transfer" value="yes" checked/><span></span>Yes</label>
							<label><input type="radio" name="transfer" value="" /><span></span>No</label>
              {% else %}
              <label><input type="radio" name="transfer" value="yes"/><span></span>Yes</label>
							<label><input type="radio" name="transfer" value="" checked/><span></span>No</label>
              {% endif %}
						</td>
					</tr>
					<tr>
						<th>Serving Start Grades  : </th>
						<td class="InnerInputTD">
              {% if found_school.secondary.grade_start %}
              <input type="text" name="grade_start" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.grade_start}}" pattern="\d*"/>
              {% else %}
              <input type="text" name="grade_start" class="TableInnerInput" style="width:calc(100% - 10px);"pattern="\d*"/>
              {% endif %}
            </td>
						<th>Serving End Grades  : </th>
            <td class="InnerInputTD">
              {% if found_school.secondary.grade_end %}
              <input type="text" name="grade_end" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.grade_end}}" pattern="\d*"/>
              {% else %}
              <input type="text" name="grade_end" class="TableInnerInput" style="width:calc(100% - 10px);" pattern="\d*"/>
              {% endif %}
          </td>
					</tr>
					<tr>
						<th>Accepting 12th Grade  : </th>
						<td>
              {% if found_school.secondary.accept_12_grade %}
							<label><input type="radio" name="accept_12_grade" value="yes" checked/><span></span>Yes</label>
							<label><input type="radio" name="accept_12_grade" value="" /><span></span>No</label>
              {% else %}
              <label><input type="radio" name="accept_12_grade" value="yes"/><span></span>Yes</label>
							<label><input type="radio" name="accept_12_grade" value="" checked/><span></span>No</label>
              {% endif %}
						</td>
						<th>Toefl Requirement  : </th>
						<td>
							{% if found_school.secondary.toefl_requirement %}
							<label><input type="text" name="toefl_requirement" placeholder="Please Enter Only Numbers.."pattern="\d*" value="{{found_school.secondary.toefl_requirement}}"/><span></span></label>
							{% else %}
							<label><input type="text" name="toefl_requirement" placeholder="Please Enter Only Numbers.."pattern="\d*"/><span></span></label>
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Application Fee : </th>
						<td class="InnerInputTD">
							{% if found_school.secondary.application_fee %}
              <input type="text" name="application_fee" class="TableInnerInput" style="width:calc(100% - 10px);" placeholder="Please Enter Only Numbers.." value="{{found_school.secondary.application_fee}}" pattern="\d*"/>
							{% else %}
							<input type="text" name="application_fee" class="TableInnerInput" style="width:calc(100% - 10px);" placeholder="Please Enter Only Numbers.." pattern="\d*"/>
							{% endif %}
            </td>
						<th>Program Fee  : </th>
						<td class="InnerInputTD">
							{% if found_school.secondary.program_fee %}
							<input type="text" name="program_fee" class="TableInnerInput" style="width:calc(100% - 10px);" placeholder="Please Enter Only Numbers.." value="{{found_school.secondary.program_fee}}" pattern="\d*"/>
							{% else %}
							<input type="text" name="program_fee" class="TableInnerInput" style="width:calc(100% - 10px);" placeholder="Please Enter Only Numbers.." pattern="\d*"/>
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Admission Requirements : </th>
						<td class="InnerInputTD" colspan="3">
							{% if found_school.secondary.admission_requirements %}
							<input type="text" name="admission_requirements" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.admission_requirements}}"/></td>
							{% else%}
							<input type="text" name="admission_requirements" class="TableInnerInput" style="width:calc(100% - 10px);"/></td>
							{% endif %}
					</tr>
					<tr>
						<th>Admission DocumentsList : </th>
						<td class="InnerInputTD" colspan="3">
							{% if found_school.secondary.admission_documents %}
							<input type="text" name="admission_documents" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.admission_documents}}"/></td>
							{% else %}
							<input type="text" name="admission_documents" class="TableInnerInput" style="width:calc(100% - 10px);"/></td>
							{% endif %}
					</tr>
					<tr>
						<th>Selling Points(Both English & Chinese) : </th>
						<td class="InnerInputTD" colspan="3">
							{% if found_school.secondary.selling_point %}
							<input type="text" name="selling_point" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.selling_point}}"/>
							{% else %}
							<input type="text" name="selling_point" class="TableInnerInput" style="width:calc(100% - 10px);"/>
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>Country : </th>
						<td class="InnerInputTD">
							<select name="country" class="TableInnerInput" required>
								<option disabled value="">Select Country..</option>
                {% if found_school.country == 'us'%}
								<option value="us" selected>US</option>
								<option value="ca">CA</option>
								<option value="uk">UK</option>
								<option value="au">AU</option>
								<option value="nz">NZ</option>
                {% elif found_school.country == 'ca'%}
                <option value="us">US</option>
								<option value="ca" selected>CA</option>
								<option value="uk">UK</option>
								<option value="au">AU</option>
								<option value="nz">NZ</option>
                {% elif found_school.country == 'uk'%}
                <option value="us">US</option>
								<option value="ca">CA</option>
								<option value="uk" selected>UK</option>
								<option value="au">AU</option>
								<option value="nz">NZ</option>
                {% elif found_school.country == 'au'%}
                <option value="us">US</option>
								<option value="ca">CA</option>
								<option value="uk">UK</option>
								<option value="au" selected>AU</option>
								<option value="nz">NZ</option>
                {% elif found_school.country == 'nz'%}
                <option value="us">US</option>
								<option value="ca">CA</option>
								<option value="uk">UK</option>
								<option value="au">AU</option>
								<option value="nz" selected>NZ</option>
                {% else %}
                <option value="us">US</option>
								<option value="ca">CA</option>
								<option value="uk">UK</option>
								<option value="au">AU</option>
								<option value="nz">NZ</option>
                {% endif %}
							</select>
						</td>
						<th>Location : </th>
						<td class="InnerInputTD">
              {% if found_school.secondary.state == 'ma' %}
              <label><input type="radio" name="state" value="ma" required checked/><span></span>MA</label>
							<label><input type="radio" name="state" value="ct" /><span></span>CT</label>
							<label><input type="radio" name="state" value="nj" /><span></span>NJ</label>
							<label><input type="radio" name="state" value="pa" /><span></span>PA</label>
							<label><input type="radio" name="state" value="dc" /><span></span>DC</label>
							<label><input type="radio" name="state" value="fl" /><span></span>FL</label>
							<label><input type="radio" name="state" value="tx" /><span></span>TX</label>
							<label><input type="radio" name="state" value="others" /><span></span>Others</label>
              {% elif found_school.secondary.state == 'ct' %}
              <label><input type="radio" name="state" value="ma" required /><span></span>MA</label>
							<label><input type="radio" name="state" value="ct" checked/><span></span>CT</label>
							<label><input type="radio" name="state" value="nj" /><span></span>NJ</label>
							<label><input type="radio" name="state" value="pa" /><span></span>PA</label>
							<label><input type="radio" name="state" value="dc" /><span></span>DC</label>
							<label><input type="radio" name="state" value="fl" /><span></span>FL</label>
							<label><input type="radio" name="state" value="tx" /><span></span>TX</label>
							<label><input type="radio" name="state" value="others" /><span></span>Others</label>
              {% elif found_school.secondary.state == 'nj' %}
              <label><input type="radio" name="state" value="ma" required /><span></span>MA</label>
							<label><input type="radio" name="state" value="ct" /><span></span>CT</label>
							<label><input type="radio" name="state" value="nj" checked/><span></span>NJ</label>
							<label><input type="radio" name="state" value="pa" /><span></span>PA</label>
							<label><input type="radio" name="state" value="dc" /><span></span>DC</label>
							<label><input type="radio" name="state" value="fl" /><span></span>FL</label>
							<label><input type="radio" name="state" value="tx" /><span></span>TX</label>
							<label><input type="radio" name="state" value="others" /><span></span>Others</label>
              {% elif found_school.secondary.state == 'pa' %}
              <label><input type="radio" name="state" value="ma" required /><span></span>MA</label>
							<label><input type="radio" name="state" value="ct" /><span></span>CT</label>
							<label><input type="radio" name="state" value="nj" /><span></span>NJ</label>
							<label><input type="radio" name="state" value="pa" checked/><span></span>PA</label>
							<label><input type="radio" name="state" value="dc" /><span></span>DC</label>
							<label><input type="radio" name="state" value="fl" /><span></span>FL</label>
							<label><input type="radio" name="state" value="tx" /><span></span>TX</label>
							<label><input type="radio" name="state" value="others" /><span></span>Others</label>
              {% elif found_school.secondary.state == 'dc' %}
              <label><input type="radio" name="state" value="ma" required /><span></span>MA</label>
							<label><input type="radio" name="state" value="ct" /><span></span>CT</label>
							<label><input type="radio" name="state" value="nj" /><span></span>NJ</label>
							<label><input type="radio" name="state" value="pa" /><span></span>PA</label>
							<label><input type="radio" name="state" value="dc" checked/><span></span>DC</label>
							<label><input type="radio" name="state" value="fl" /><span></span>FL</label>
							<label><input type="radio" name="state" value="tx" /><span></span>TX</label>
							<label><input type="radio" name="state" value="others" /><span></span>Others</label>
              {% elif found_school.secondary.state == 'fl' %}
              <label><input type="radio" name="state" value="ma" required /><span></span>MA</label>
							<label><input type="radio" name="state" value="ct" /><span></span>CT</label>
							<label><input type="radio" name="state" value="nj" /><span></span>NJ</label>
							<label><input type="radio" name="state" value="pa" /><span></span>PA</label>
							<label><input type="radio" name="state" value="dc" /><span></span>DC</label>
							<label><input type="radio" name="state" value="fl" checked/><span></span>FL</label>
							<label><input type="radio" name="state" value="tx" /><span></span>TX</label>
							<label><input type="radio" name="state" value="others" /><span></span>Others</label>
              {% elif found_school.secondary.state == 'tx' %}
              <label><input type="radio" name="state" value="ma" required /><span></span>MA</label>
							<label><input type="radio" name="state" value="ct" /><span></span>CT</label>
							<label><input type="radio" name="state" value="nj" /><span></span>NJ</label>
							<label><input type="radio" name="state" value="pa" /><span></span>PA</label>
							<label><input type="radio" name="state" value="dc" /><span></span>DC</label>
							<label><input type="radio" name="state" value="fl" /><span></span>FL</label>
							<label><input type="radio" name="state" value="tx" checked/><span></span>TX</label>
							<label><input type="radio" name="state" value="others" /><span></span>Others</label>
              {% elif found_school.secondary.state == 'others' %}
              <label><input type="radio" name="state" value="ma" required /><span></span>MA</label>
							<label><input type="radio" name="state" value="ct" /><span></span>CT</label>
							<label><input type="radio" name="state" value="nj" /><span></span>NJ</label>
							<label><input type="radio" name="state" value="pa" /><span></span>PA</label>
							<label><input type="radio" name="state" value="dc" /><span></span>DC</label>
							<label><input type="radio" name="state" value="fl" /><span></span>FL</label>
							<label><input type="radio" name="state" value="tx" /><span></span>TX</label>
							<label><input type="radio" name="state" value="others" checked/><span></span>Others</label>
              {% else %}
							<label><input type="radio" name="state" value="ma" required /><span></span>MA</label>
							<label><input type="radio" name="state" value="ct" /><span></span>CT</label>
							<label><input type="radio" name="state" value="nj" /><span></span>NJ</label>
							<label><input type="radio" name="state" value="pa" /><span></span>PA</label>
							<label><input type="radio" name="state" value="dc" /><span></span>DC</label>
							<label><input type="radio" name="state" value="fl" /><span></span>FL</label>
							<label><input type="radio" name="state" value="tx" /><span></span>TX</label>
							<label><input type="radio" name="state" value="others" /><span></span>Others</label>
              {% endif %}
						</td>
					</tr>
					<tr>
						<th>Address : </th>
						<td class="InnerInputTD" colspan="3"><input type="text" name="address" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.address}}"/></td>
					</tr>
					<tr>
						<th>Area Description : </th>
						<td class="InnerInputTD" colspan="3"><input type="text" name="area_description" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.area_description}}"/></td>
					</tr>
					<tr>
						<th>Phone # : </th>
						<td class="InnerInputTD"><input type="text" name="phone" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.phone}}" /></td>
						<th>Website URL : </th>
						<td class="InnerInputTD"><input type="text" name="web_url" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.web_url}}" /></td>
					</tr>
					<tr>
						<th>Year Founded : </th>
						<td class="InnerInputTD"><input type="text" name="founded" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.founded}}" /></td>
						<th>School Type : </th>
						<td>
            {% if "college_prep" in school_type_list %}
            <label><input type="checkbox" name="school_type" value="college_prep" checked/><span></span>College Prep</label>
            {% else %}
            <label><input type="checkbox" name="school_type" value="college_prep" /><span></span>College Prep</label>
            {% endif %}
            {% if "day" in school_type_list %}
            <label><input type="checkbox" name="school_type" value="day" checked/><span></span>Day</label>
            {% else %}
            <label><input type="checkbox" name="school_type" value="day" /><span></span>Day</label>
            {% endif %}
            {% if "boarding" in school_type_list %}
            <label><input type="checkbox" name="school_type" value="boarding" checked/><span></span>Boarding</label>
            {% else %}
            <label><input type="checkbox" name="school_type" value="boarding" /><span></span>Boarding</label>
            {% endif %}
						</td>
					</tr>
					<tr>
						<th>Student Body : </th>
						<td class="InnerInputTD">
              {% if found_school.secondary.student_body == 'boys'%}
							<label><input type="radio" name="student_body" value="boys" checked/><span></span>Boys</label>
							<label><input type="radio" name="student_body" value="girls" /><span></span>Girls</label>
							<label><input type="radio" name="student_body" value="coed" /><span></span>Coed</label>
              {% elif found_school.secondary.student_body == 'girls'%}
              <label><input type="radio" name="student_body" value="boys"/><span></span>Boys</label>
							<label><input type="radio" name="student_body" value="girls" checked/><span></span>Girls</label>
							<label><input type="radio" name="student_body" value="coed" /><span></span>Coed</label>
              {% elif found_school.secondary.student_body == 'coed'%}
              <label><input type="radio" name="student_body" value="boys"/><span></span>Boys</label>
							<label><input type="radio" name="student_body" value="girls" /><span></span>Girls</label>
							<label><input type="radio" name="student_body" value="coed" checked/><span></span>Coed</label>
              {% else %}
              <label><input type="radio" name="student_body" value="boys"/><span></span>Boys</label>
              <label><input type="radio" name="student_body" value="girls" /><span></span>Girls</label>
              <label><input type="radio" name="student_body" value="coed" /><span></span>Coed</label>
              {% endif %}
						</td class="InnerInputTD">
						<th>Religion : </th>
						<td class="InnerInputTD">
              {% if found_school.religion == 'catholic' %}
							<label><input type="radio" name="religion" value="catholic" checked/><span></span>Catholic</label>
							<label><input type="radio" name="religion" value="christian" /><span></span>Christian</label>
							<label><input type="radio" name="religion" value="na" /><span></span>NA</label>
              {% elif found_school.religion == 'christian'%}
              <label><input type="radio" name="religion" value="catholic"/><span></span>Catholic</label>
							<label><input type="radio" name="religion" value="christian" checked/><span></span>Christian</label>
							<label><input type="radio" name="religion" value="na" /><span></span>NA</label>
              {% elif found_school.religion == 'na'%}
              <label><input type="radio" name="religion" value="catholic"/><span></span>Catholic</label>
							<label><input type="radio" name="religion" value="christian" /><span></span>Christian</label>
							<label><input type="radio" name="religion" value="na" checked/><span></span>NA</label>
              {% else %}
              <label><input type="radio" name="religion" value="catholic"/><span></span>Catholic</label>
							<label><input type="radio" name="religion" value="christian" /><span></span>Christian</label>
							<label><input type="radio" name="religion" value="na" /><span></span>NA</label>
              {% endif %}
						</td>
					</tr>
					<tr>
						<th>Students # : </th>
						<td class="InnerInputTD">
              {% if found_school.number_students%}
              <input type="text" name="number_students" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.number_students}}" pattern="\d*"/>
              {% else %}
              <input type="text" name="number_students" class="TableInnerInput" style="width:calc(100% - 10px);" pattern="\d*"/>
              {% endif %}
            </td>
						<th>International Students : </th>
						<td class="InnerInputTD">
              {% if found_school.secondary.international_students %}
              <input type="text" name="international_students" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.international_students}}" pattern="\d*"/>
              {% else %}
              <input type="text" name="international_students" class="TableInnerInput" style="width:calc(100% - 10px);" pattern="\d*"/>
              {% endif %}
            </td>
					</tr>
					<tr>
						<th>ESL : </th>
						<td class="InnerInputTD">
              {% if found_school.secondary.esl%}
							<label><input type="radio" name="esl" value="yes" checked/><span></span>Yes</label>
							<label><input type="radio" name="esl" value="no" /><span></span>No</label>
              {% else %}
              <label><input type="radio" name="esl" value="yes" /><span></span>Yes</label>
							<label><input type="radio" name="esl" value="no" checked/><span></span>No</label>
              {% endif %}
						</td>
						<th>Student: Teach Ratio : </th>
						<td class="InnerInputTD">
              {% if found_school.secondary.student_teach_ratio %}
              <input type="text" name="student_teach_ratio" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.student_teach_ratio}}" />
              {% else %}
              <input type="text" name="student_teach_ratio" class="TableInnerInput" style="width:calc(100% - 10px);" />
              {% endif %}
            </td>
					</tr>
					<tr>
						<th>Class Size : </th>
						<td class="InnerInputTD"><input type="text" name="class_size" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.class_size}}" /></td>
						<th>Uniform : </th>
						<td class="InnerInputTD">
              {% if found_school.secondary.uniform %}
							<label><input type="radio" name="uniform" value="yes" checked/><span></span>Yes</label>
							<label><input type="radio" name="uniform" value="no" /><span></span>No</label>
              {% else %}
              <label><input type="radio" name="uniform" value="yes"/><span></span>Yes</label>
							<label><input type="radio" name="uniform" value="no" checked/><span></span>No</label>
              {% endif %}
						</td>
					</tr>
					<tr>
						<th>College Acceptance Rate : </th>
						<td class="InnerInputTD"><input type="text" name="college_acceptance_rate" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.college_acceptance_rate}}" /></td>
						<th>Average SAT : </th>
						<td class="InnerInputTD"><input type="text" name="avg_sat" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.avg_sat}}" /></td>
					</tr>
					<tr>
						<th>Honor Courses # : </th>
						<td class="InnerInputTD" colspan="3"><input type="text" name="number_honor_courses" class="TableInnerInput" size="10" value="{{found_school.secondary.number_honor_courses}}" /></td>
					</tr>
					<tr>
						<th>Honor Courses List : </th>
						<td class="InnerInputTD" colspan="3"><input type="text" name="list_honor_courses" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.list_honor_courses}}" /></td>
					</tr>
					<tr>
						<th>AP Courses # : </th>
						<td class="InnerInputTD" colspan="3"><input type="text" name="number_ap_courses" class="TableInnerInput" size="10" value="{{found_school.secondary.number_ap_courses}}" /></td>
					</tr>
					<tr>
						<th>AP Courses List : </th>
						<td class="InnerInputTD" colspan="3"><input type="text" name="list_ap_courses" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.list_ap_courses}}" /></td>
					</tr>

					<tr>
						<th>Clubs # : </th>
						<td class="InnerInputTD"><input type="text" name="number_clubs" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.number_clubs}}" /></td>
						<th>Sports # : </th>
						<td class="InnerInputTD"><input type="text" name="number_sports" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.number_sports}}" /></td>
					</tr>

					<tr>
						<th>Facilities : </th>
						<td class="InnerInputTD" colspan="3"><input type="text" name="facilities" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_school.secondary.facilities}}" /></td>
					</tr>
				</table>
			</div><!-- InfoTable -->


			<div class="SubmitButtonLine">
				<button class="Submit" type="submit">SAVE</button>
			</div>
			<div class="EndPart"></div>
		</form>


		<div class="MTitle">Current Student Review</div>
		<div class="ListSearch Aright">
			<a href="Javascript:void(0);" class="IsolationButton" OnClick="document.getElementById('PopRegistReview').style.display='block';">+ &nbsp; Regist Review</a>
		</div>
		<div class="cdiv"></div>
		<!-- 학교리뷰목록 -->
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>No</th>
					<th>Name</th>
					<th>Grade</th>
					<th>School</th>
					<th>Home city</th>
				</tr>
				{% for review in current_student_reviews %}
				<tr>
					<td>{{review.id}}</td>
					<td><p class="CurrentStudentReviewClass" id="CurrentStudentReview{{review.id}}" style="color:blue;margin-bottom:0;cursor:pointer;">{{review.student}}</p></td>
					<td>{{review.grade}}</td>
					<td>{{review.school.name}}</td>
					<td>{{review.homecity}}</td>
				</tr>
				{% endfor %}
			</table>
		</div><!-- ListTable -->
		<!-- 학교리뷰목록 끝 -->
		<div class="EndPart"></div>

		<div class="MTitle">Graduate Profile</div>
		<div class="ListSearch Aright">
			<a href="Javascript:void(0);" class="IsolationButton" OnClick="document.getElementById('PopRegistGraduateProfile').style.display='block';">+ &nbsp; Regist Graduate Profile</a>
		</div>
		<div class="cdiv"></div>
		<!-- 학교리뷰목록 -->
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>No</th>
					<th>Name</th>
					<th>Years Attended</th>
					<th>Initial English</th>
					<th>GPA in China</th>
					<th>TOEFL</th>
					<th>GPA</th>
					<th>SAT / ACT</th>
					<th>Activities</th>
					<th>College</th>
					<th>Major</th>
				</tr>
				{% for profile in graduate_profiles %}
				<tr>
					<td>{{profile.id}}</td>
					<td><p class="GraduateStudentReviewClass" id="GraduateStudentReview{{profile.id}}" style="color:blue;margin-bottom:0;cursor:pointer;">{{profile.student}}</p></td>
					<td>{{profile.attended}}</td>
					<td>{{profile.init_eng}}</td>
					<td>{{profile.gpa_china}}</td>
					<td>{{profile.toefl}}</td>
					<td>{{profile.gpa}}</td>
					<td>{{profile.sat_act}}</td>
					<td>{{profile.activities}}</td>
					<td>{{profile.college}}</td>
					<td>{{profile.major}}</td>
				</tr>
				{% endfor %}
			</table>
		</div><!-- ListTable -->
		<!-- 학교리뷰목록 끝 -->
		<div class="EndPart"></div>

	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->
{% endblock %}

<script>
function MenuOpen() {
	obj = document.getElementById('LeftF');

	if (obj.style.margin == "0px 0px 0px -229px") {
		document.getElementById('LeftF').style.margin='0px 0px 0px 0px';
		document.getElementById('MToggle').style.transform='rotate(90deg)';
		document.getElementById('MainF').style.width='calc(100% - 355px)';
	} else {
		document.getElementById('LeftF').style.margin='0px 0px 0px -229px';
		document.getElementById('MToggle').style.transform='rotate(0deg)';
		document.getElementById('MainF').style.width='calc(100% - 126px)';
	}
}
</script>
