{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="ContentsFrame">
	<div class="MainAFrame">

		<div class="MTitle">New Students</div>
		<div class="ListSearch Aright">
			<div>
			From :
			<select class="SearchSelect">
				<option>December</option>
				<option>November</option>
				<option>October</option>
				<option>September</option>
				<option>August</option>
				<option>July</option>
				<option>June</option>
				<option>May</option>
				<option>April</option>
				<option>March</>
				<option>February</option>
				<option>January</option>
			</select>
			&nbsp;&nbsp;
			To :
			<select class="SearchSelect">
				<option>December</option>
				<option>November</option>
				<option>October</option>
				<option>September</option>
				<option>August</option>
				<option>July</option>
				<option>June</option>
				<option>May</option>
				<option>April</option>
				<option>March</>
				<option>February</option>
				<option>January</option>
			</select>
			&nbsp;&nbsp;
			<select class="SearchSelect">
				<option>2018 ~ 2019 year</option>
			</select>

			<select class="SearchSelect">
				<option>Program</option>
				<option>New Secondary</option>
				<option>Transferred</option>
				<option>College</option>
				<option>Camp</option>
			</select>
			</div>
		</div>

		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="180">
					<col>
				</colgroup>
				<tr>
					<th>agent</th>
					<th>inquired</th>
					<th>Applied</th>
					<th>Accepted</th>
					<th>Cancelled</th>
					<th>Enrolled</th>
				</tr>
				<tr>
					<td>Meten</td>
					<td>21</td>
					<td>15</td>
					<td>13</td>
					<td>-</td>
					<td>10</td>
				</tr>
				<tr>
					<td>BGE-Yanzhou</td>
					<td>21</td>
					<td>15</td>
					<td>13</td>
					<td>-</td>
					<td>10</td>
				</tr>
				<tr>
					<td>AaisUS</td>
					<td>21</td>
					<td>15</td>
					<td>13</td>
					<td>-</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Other(BGE Staff)</td>
					<td>21</td>
					<td>15</td>
					<td>13</td>
					<td>-</td>
					<td>10</td>
				</tr>
				<tr>
					<td class="TitleColor">Total</td>
					<td class="TitleColor">108</td>
					<td class="TitleColor">51</td>
					<td class="TitleColor">47%</td>
					<td class="TitleColor">-</td>
					<td class="TitleColor">24</td>
				</tr>
			</table>
		</div><!-- ListTable -->


		<div class="ListTable">
			<div class="ListSearch Aright">
				<div>
				<select class="SearchSelect">
					<option>Week</option>
					<option>03.26 ~ 03.31</option>
					<option>03.26 ~ 03.31</option>
					<option>03.26 ~ 03.31</option>
					<option>03.26 ~ 03.31</option>
					<option>03.26 ~ 03.31</option>
				</select>

				<select class="SearchSelect">
					<option>Day</option>
					<option>03.27</option>
					<option>03.28</option>
					<option>03.29</option>
					<option>03.30</option>
					<option>03.31</option>
				</select>

				<select class="SearchSelect">
					<option>Program</option>
					<option>New Secondary</option>
					<option>Transferred</option>
					<option>College</option>
					<option>Camp</option>
				</select>
				</div>
			</div>
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="180">
					<col>
				</colgroup>
				<tr>
					<th>agent</th>
					<th>new inquired</th>
					<th>new Applied</th>
					<th>new Accepted</th>
					<th>new Cancelled</th>
					<th>new Enrolled</th>
				</tr>
				<tr>
					<td>Meten</td>
					<td>21</td>
					<td>15</td>
					<td>13</td>
					<td>-</td>
					<td>10</td>
				</tr>
				<tr>
					<td>BGE-Yanzhou</td>
					<td>21</td>
					<td>15</td>
					<td>13</td>
					<td>-</td>
					<td>10</td>
				</tr>
				<tr>
					<td>AaisUS</td>
					<td>21</td>
					<td>15</td>
					<td>13</td>
					<td>-</td>
					<td>10</td>
				</tr>
				<tr>
					<td>Other(BGE Staff)</td>
					<td>21</td>
					<td>15</td>
					<td>13</td>
					<td>-</td>
					<td>10</td>
				</tr>
				<tr>
					<td class="TitleColor">Total</td>
					<td class="TitleColor">108</td>
					<td class="TitleColor">51</td>
					<td class="TitleColor">47%</td>
					<td class="TitleColor">-</td>
					<td class="TitleColor">24</td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>
		<div class="EndPart"></div>




		<div class="MTitle">Customer Search</div>
		<div class="ListSearch Aright">
			<div>
			<select class="SearchSelect">
				<option>Agent</option>
			</select>
			<select class="SearchSelect">
				<option>Program</option>
				<option>New Secondary</option>
				<option>Transferred</option>
				<option>College</option>
				<option>Camp</option>
			</select>
			<select class="SearchSelect">
				<option>Country</option>
				<option>Korea</option>
				<option>China</option>
				<option>Vietnam</option>
			</select>
			<select class="SearchSelect">
				<option>Name</option>
				<option>CP</option>
				<option>Mail</option>
			</select>
            <input type="text" class="SearchInput" style="width:150px;" />
            <input type="button" class="ListSearchButton" value="Search" />



			</div>
		</div>

		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="180">
					<col>
				</colgroup>
				<tr>
					<th>agent</th>
					<th>상담원</th>
					<th>고객명</th>
					<th>구분</th>
					<th>국가</th>
					<th>Inquired</th>
					<th>Applied</th>
					<th>Accepted</th>
					<th>Decision due date </th>
					<th>Cancelled</th>
					<th>Enrolled</th>
					<th>입국</th>
				</tr>
				<tr>
					<td>BJ</td>
					<td>James</td>
					<td>김현정</td>
					<td>K-12</td>
					<td>US</td>
					<td>2018.03.02</td>
					<td>2018.03.05</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>2018.04.25</td>
					<td>-</td>
				</tr>
				<tr>
					<td>BJ</td>
					<td>James</td>
					<td>김현정</td>
					<td>K-12</td>
					<td>US</td>
					<td>2018.03.02</td>
					<td>2018.03.05</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>2018.04.25</td>
					<td>-</td>
				</tr>
				<tr>
					<td>BJ</td>
					<td>James</td>
					<td>김현정</td>
					<td>K-12</td>
					<td>US</td>
					<td>2018.03.02</td>
					<td>2018.03.05</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>2018.04.25</td>
					<td>-</td>
				</tr>
				<tr>
					<td>BJ</td>
					<td>James</td>
					<td>김현정</td>
					<td>K-12</td>
					<td>US</td>
					<td>2018.03.02</td>
					<td>2018.03.05</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>2018.04.25</td>
					<td>-</td>
				</tr>
				<tr>
					<td>BJ</td>
					<td>James</td>
					<td>김현정</td>
					<td>K-12</td>
					<td>US</td>
					<td>2018.03.02</td>
					<td>2018.03.05</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>2018.04.25</td>
					<td>-</td>
				</tr>
				<tr>
					<td>BJ</td>
					<td>James</td>
					<td>김현정</td>
					<td>K-12</td>
					<td>US</td>
					<td>2018.03.02</td>
					<td>2018.03.05</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>2018.04.25</td>
					<td>-</td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="ListCounter">
			<a>1</a>
			<a>2</a>
			<a>3</a>
			<a>4</a>
			<a>5</a>
			....
			<a>105</a>
		</div>


	</div><!-- MainAFrame -->
</div><!--  ContentsFrame-->

{% endblock %}
