{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'img/left_corner.png'%}"/>
  <title>Boston Global Education</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.1/jspdf.debug.js"></script>
</head>
<body>
  {% include "subpages/_school_nav.html" %}
  {% block content %}
  {% endblock %}
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/review.js' %}"></script>
<script type="text/javascript" src="{% static 'js/estimate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/nav_color.js' %}"></script>
