{% load static %}
<div class="TopMenuSet">
  {% if request.path == '/pncstar/main/' or request.path == '/pncstar/process/' %}
	<div class="LeftOnMenu" id="MToggle" OnClick="MenuOpen();"><img src="{% static 'img/m_menu.png' %}"/></div>
  {% else %}
  <div class="LeftOffMenu" ><img src="{% static 'img/m_menu.png' %}"/></div>
  {% endif %}
	<div class="Logo"><img src="{% static 'img/m_logo.png' %}"/></div>
	<div class="Menu">
    {% if user.type == 'bge_admin'%}
    <a href="/statistics">BGE Statistics</a>
    <a href="/branches">Branches</a>
    <a href="/agent/prospective">Prospective Students</a>
    <a href="/agent/process">Application Process</a>
    <a href="/agents">Agents</a>
    <a href="/school/secondary">Secondary Schools</a>
    <a href="/colleges">College</a>
    <a href="/accounting">Accounting</a>
    <a href="/branch/resources">Resources</a>
    {% endif %}
    {% if user.type == "bge_team" %}
    <a href="/statistics">BGE Statistics</a>
    <a href="/agent/prospective">Prospective Students</a>
    <a href="/agent/process">Application Process</a>
    <a href="/school/secondary">Secondary Schools</a>
    <a href="/colleges">College</a>
    <a href="/branch/resources">Resources</a>
    {% endif %}
    {% if user.type == 'bge_branch_admin' %}
    <a href="/branch/statistics">Branch Statistics</a>
    <a href="/school/secondary">Secondary School</a>
    <a href="/branch/students">Students</a>
    <a href="/branch/hosts">Host Families</a>
    <a href="/branch/resources">Resources</a>
    {% endif %}
		<!-- Agent President-->
    {% if user.type == 'agency_admin' %}
		<a href="/agent/statistics">Agent Statistics</a>
    <a href="/agent/counsel">Counseling</a>
    <a href="/agent/prospective">Prospective Students</a>
    <a href="/agent/process">Application Process</a>
    <a href="/student/current">Current Students</a>
    {% endif %}
    <!-- Agent Branch Manager -->
    {% if user.type == 'agency_branch_admin' %}
		<a href="/agent/statistics">Agent Statistics</a>
    <a href="/agent/counsel">Counseling</a>
    <a href="/agent/prospective">Prospective Students</a>
    <a href="/agent/process">Application Process</a>
    <a href="/student/current">Current Students</a>
    {% endif %}
		<!-- Counseler-->
    {% if user.type == 'counselor' %}
  		<a href="/agent/counsel">Counseling</a>
  		<a href="/agent/prospective">Prospective Students</a>
  		<a href="/agent/process">Application Process</a>
  		<a href="/student/current">Current Students</a>
    {% endif %}
	</div>
	<div OnClick="document.location.href='../mypage/';" class="Info" >
    {% if user.image %}
		  <div class="FaceOn" style="background-image:url('/media/{{ user.image }}');">&nbsp;</div>
    {% else %}
      <div class="FaceOn" style="background-image:url('{% static 'img/no_user.png' %}');">&nbsp;</div>
    {% endif %}
    <div class="NameSet">
			<li class="Name">{{ user.first_name }} {{ user.last_name }} ( {{user.type|capfirst}} )</li>
      {% if user.type == 'counselor' %}
			<li class="Rank">{{ user.counselor.agency.name }} / {{ user.counselor.agency.branch }}</li>
      {% elif user.type == 'agency_admin' %}
      <li class="Rank">{{ user.agency_admin.agency.name }} / {{ user.agency_admin.agency.branch }}</li>
      {% endif %}
		</div>
	</div>
	<div class="Logout" OnClick="document.location.href='/accounts/logout';"><img src="{% static 'img/ico_logout.png' %}"/></div>
</div><!-- TopMenuSet -->
