{% load static %}
<div class="TopMenuSet">
	<div class="SchoolName"><img src="{% static 'img/m_logo.png' %}" /></div>
	<div class="SchoolMenu">
		<a href="/school/secondary/summary/{{found_school.id}}">Summary</a>
		<a href="/school/secondary/detail/{{found_school.id}}">Detailed Info</a>
		<a href="/school/secondary/service/{{found_school.id}}">BGE Services & Benefits</a>
		<a href="/school/secondary/review/{{found_school.id}}">Review</a>
		<a href="/school/secondary/estimate/{{found_school.id}}">Estimate</a>
		<a href="/school/secondary/photo/{{found_school.id}}">Photo</a>
	</div>
	<div class="ButtonLine">
		<div class="SchoolButton"><a href="/school/secondary/detail/{{found_school.id}}/pdf">School Info. PDF Print</a></div>
	</div>
</div><!-- TopMenuSet -->
