{% load static %}
<div class="TopMenuSet">
	<div class="SchoolName"><img src="{% static 'img/m_logo.png' %}" /></div>
	<div class="SchoolMenu">
		<a href="/school/secondary/summary/{{found_school.id}}">Summary</a>
		<a href="/school/secondary/detail/{{found_school.id}}">Detailed Info</a>
		<a href="/school/secondary/service/{{found_school.id}}">BGE Services & Benefits</a>
		<a href="/school/secondary/review/{{found_school.id}}">Review</a>
		<a href="/school/secondary/estimate/{{found_school.id}}">Estimate</a>
		<a href="/school/secondary/photo/{{found_school.id}}">Photo</a>
	</div>
	<div class="ButtonLine">
		<div class="SchoolButton">
			{% if found_school.school_file %}
			<a href="{{MEDIA_URL}}{{found_school.school_file}}" download>School Info. PDF Download</a>
			{% else %}
			<p>No School Info. PDF</p>
			{% endif %}
		</div>
	</div>
</div><!-- TopMenuSet -->
