{% load static %}
<div class="TopMenuSet">
	<div class="SchoolName"><img src="{% static 'img/m_logo.png' %}" /></div>
	<div class="SchoolMenu">
		<a href="/school/secondary/summary/{{found_school.id}}" class="On">Summary</a>
		<a href="/school/secondary/detail/{{found_school.id}}" class="">Detailed Info.</a>
		<a href="/school/secondary/service/{{found_school.id}}" class="">BGE Services & Benefits</a>
		<a href="/school/secondary/review/{{found_school.id}}" class="">Review</a>
		<a href="/school/secondary/estimate/{{found_school.id}}" class="">Estimate</a>
		<a href="/school/secondary/photo/{{found_school.id}}" class="">Photo</a>
	</div>
	<div class="ButtonLine">
		<div class="SchoolButton">Inquiry</div>
		<div class="SchoolButton">School Info. PDF Print</div>
	</div>
</div><!-- TopMenuSet -->
