<div class="MTitle">Application Info</div>
<div class="cdiv"></div>


<div id="ChoiceSet1" class="ChoiceSet">
  <div class="TitleIcon">1st<br />Choice</div>
  <div class="Information">
    <div class="InfoTable">
      <table cellpadding="0" cellspacing="0" border="0">
        <colgroup>
          <col>
          <col width="80">
          <col width="120">
          <col width="60">
          <col width="140">
        </colgroup>
        <tr>
          <td class="InnerInputTD" colspan="5">
            <select class="TableInnerInput">
              <option selected value="">Country Select..</option>
              {% for country in countries %}
              <option value="{{ country }}">{{ country }}</option>
              {% endfor %}
            </select>
            <select class="TableInnerInput">
              <option>State Select..</option>
              <option selected>MA</option>
            </select>
            <select class="TableInnerInput">
              <option>School Select..</option>
              <option selected>St. John’s High School</option>
            </select>
          </td>
          <th>Start Date : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="10" value="2018-08-25" />
          </td>
          <th>Course : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="12"value="Year 9" />
          </td>
        </tr>
      </table>
    </div><!-- InfoTable -->
  </div><!-- Information -->
  <div id="showDiv2" class="AddIcon" onclick="showDiv(2)">
    <div>Add</div>
  </div>
  <div id="showDiv2" class="AddIcon" onclick="showDiv(2)">
    <div>Add</div>
  </div>
</div><!-- ChoiceSet -->


<div id="ChoiceSet2" class="ChoiceSet" style="display:none;">
  <div class="TitleIcon">2nd<br />Choice</div>
  <div class="Information">
    <div class="InfoTable">
      <table cellpadding="0" cellspacing="0" border="0">
        <colgroup>
          <col>
          <col width="80">
          <col width="120">
          <col width="60">
          <col width="140">
        </colgroup>
        <tr>
          <td class="InnerInputTD" colspan="5">
            <select class="TableInnerInput">
              <option selected value="">Country Select..</option>
              {% for country in countries %}
              <option value="{{ country }}">{{ country }}</option>
              {% endfor %}
            </select>
            <select class="TableInnerInput">
              <option>State Select..</option>
              <option selected>MA</option>
            </select>
            <select class="TableInnerInput">
              <option>School Select..</option>
              <option selected>St. John’s High School</option>
            </select>
          </td>
          <th>Start Date : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="10" value="2018-08-25" />
          </td>
          <th>Course : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="12"value="Year 9" />
          </td>
        </tr>
      </table>
    </div><!-- InfoTable -->
  </div><!-- Information -->
  <div class="AddIcon" onclick="showDiv(3)">
    <div>Add</div>
  </div>
</div><!-- ChoiceSet -->


<div id="ChoiceSet3" class="ChoiceSet" style="display:none;">
  <div class="TitleIcon">3rd<br />Choice</div>
  <div class="Information">
    <div class="InfoTable">
      <table cellpadding="0" cellspacing="0" border="0">
        <colgroup>
          <col>
          <col width="80">
          <col width="120">
          <col width="60">
          <col width="140">
        </colgroup>
        <tr>
          <td class="InnerInputTD" colspan="5">
            <select class="TableInnerInput">
              <option selected value="">Country Select..</option>
              {% for country in countries %}
              <option value="{{ country }}">{{ country }}</option>
              {% endfor %}
            </select>
            <select class="TableInnerInput">
              <option>State Select..</option>
              <option selected>MA</option>
            </select>
            <select class="TableInnerInput">
              <option>School Select..</option>
              <option selected>St. John’s High School</option>
            </select>
          </td>
          <th>Start Date : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="10" value="2018-08-25" />
          </td>
          <th>Course : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="12"value="Year 9" />
          </td>
        </tr>
      </table>
    </div><!-- InfoTable -->
  </div><!-- Information -->
  <div class="AddIcon" onclick="showDiv(4)">
    <div>Add</div>
  </div>
</div><!-- ChoiceSet -->


<div id="ChoiceSet4" class="ChoiceSet" style="display:none;">
  <div class="TitleIcon">4th<br />Choice</div>
  <div class="Information">
    <div class="InfoTable">
      <table cellpadding="0" cellspacing="0" border="0">
        <colgroup>
          <col>
          <col width="80">
          <col width="120">
          <col width="60">
          <col width="140">
        </colgroup>
        <tr>
          <td class="InnerInputTD" colspan="5">
            <select class="TableInnerInput">
              <option selected value="">Country Select..</option>
              {% for country in countries %}
              <option value="{{ country }}">{{ country }}</option>
              {% endfor %}
            </select>
            <select class="TableInnerInput">
              <option>State Select..</option>
              <option selected>MA</option>
            </select>
            <select class="TableInnerInput">
              <option>School Select..</option>
              <option selected>St. John’s High School</option>
            </select>
          </td>
          <th>Start Date : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="10" value="2018-08-25" />
          </td>
          <th>Course : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="12"value="Year 9" />
          </td>
        </tr>
      </table>
    </div><!-- InfoTable -->
  </div><!-- Information -->
  <div class="AddIcon" onclick="showDiv(5)">
    <div>Add</div>
  </div>
</div><!-- ChoiceSet -->


<div id="ChoiceSet5" class="ChoiceSet" style="display:none;">
  <div class="TitleIcon">5th<br />Choice</div>
  <div class="Information">
    <div class="InfoTable">
      <table cellpadding="0" cellspacing="0" border="0">
        <colgroup>
          <col>
          <col width="80">
          <col width="120">
          <col width="60">
          <col width="140">
        </colgroup>
        <tr>
          <td class="InnerInputTD" colspan="5">
            <select class="TableInnerInput">
              <option selected value="">Country Select..</option>
              {% for country in countries %}
              <option value="{{ country }}">{{ country }}</option>
              {% endfor %}
            </select>
            <select class="TableInnerInput">
              <option>State Select..</option>
              <option selected>MA</option>
            </select>
            <select class="TableInnerInput">
              <option>School Select..</option>
              <option selected>St. John’s High School</option>
            </select>
          </td>
          <th>Start Date : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="10" value="2018-08-25" />
          </td>
          <th>Course : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="12"value="Year 9" />
          </td>
        </tr>
      </table>
    </div><!-- InfoTable -->
  </div><!-- Information -->
  <div class="AddIcon" onclick="showDiv(6)">
    <div>Add</div>
  </div>
</div><!-- ChoiceSet -->


<div id="ChoiceSet6" class="ChoiceSet" style="display:none;">
  <div class="TitleIcon">6th<br />Choice</div>
  <div class="Information">
    <div class="InfoTable">
      <table cellpadding="0" cellspacing="0" border="0">
        <colgroup>
          <col>
          <col width="80">
          <col width="120">
          <col width="60">
          <col width="140">
        </colgroup>
        <tr>
          <td class="InnerInputTD" colspan="5">
            <select class="TableInnerInput">
              <option selected value="">Country Select..</option>
              {% for country in countries %}
              <option value="{{ country }}">{{ country }}</option>
              {% endfor %}
            </select>
            <select class="TableInnerInput">
              <option>State Select..</option>
              <option selected>MA</option>
            </select>
            <select class="TableInnerInput">
              <option>School Select..</option>
              <option selected>St. John’s High School</option>
            </select>
          </td>
          <th>Start Date : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="10" value="2018-08-25" />
          </td>
          <th>Course : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="12"value="Year 9" />
          </td>
        </tr>
      </table>
    </div><!-- InfoTable -->
  </div><!-- Information -->
  <div class="AddIcon" onclick="showDiv(7)">
    <div>Add</div>
  </div>
</div><!-- ChoiceSet -->


<div id="ChoiceSet7" class="ChoiceSet" style="display:none;">
  <div class="TitleIcon">7th<br />Choice</div>
  <div class="Information">
    <div class="InfoTable">
      <table cellpadding="0" cellspacing="0" border="0">
        <colgroup>
          <col>
          <col width="80">
          <col width="120">
          <col width="60">
          <col width="140">
        </colgroup>
        <tr>
          <td class="InnerInputTD" colspan="5">
            <select class="TableInnerInput">
              <option selected value="">Country Select..</option>
              {% for country in countries %}
              <option value="{{ country }}">{{ country }}</option>
              {% endfor %}
            </select>
            <select class="TableInnerInput">
              <option>State Select..</option>
              <option selected>MA</option>
            </select>
            <select class="TableInnerInput">
              <option>School Select..</option>
              <option selected>St. John’s High School</option>
            </select>
          </td>
          <th>Start Date : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="10" value="2018-08-25" />
          </td>
          <th>Course : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="12"value="Year 9" />
          </td>
        </tr>
      </table>
    </div><!-- InfoTable -->
  </div><!-- Information -->
  <div class="AddIcon" onclick="showDiv(8)">
    <div>Add</div>
  </div>
</div><!-- ChoiceSet -->


<div id="ChoiceSet8" class="ChoiceSet" style="display:none;">
  <div class="TitleIcon">8th<br />Choice</div>
  <div class="Information">
    <div class="InfoTable">
      <table cellpadding="0" cellspacing="0" border="0">
        <colgroup>
          <col>
          <col width="80">
          <col width="120">
          <col width="60">
          <col width="140">
        </colgroup>
        <tr>
          <td class="InnerInputTD" colspan="5">
            <select class="TableInnerInput">
              <option selected value="">Country Select..</option>
              {% for country in countries %}
              <option value="{{ country }}">{{ country }}</option>
              {% endfor %}
            </select>
            <select class="TableInnerInput">
              <option>State Select..</option>
              <option selected>MA</option>
            </select>
            <select class="TableInnerInput">
              <option>School Select..</option>
              <option selected>St. John’s High School</option>
            </select>
          </td>
          <th>Start Date : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="10" value="2018-08-25" />
          </td>
          <th>Course : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="12"value="Year 9" />
          </td>
        </tr>
      </table>
    </div><!-- InfoTable -->
  </div><!-- Information -->
  <div class="AddIcon" onclick="showDiv(9)">
    <div>Add</div>
  </div>
</div><!-- ChoiceSet -->


<div id="ChoiceSet9" class="ChoiceSet" style="display:none;">
  <div class="TitleIcon">9th<br />Choice</div>
  <div class="Information">
    <div class="InfoTable">
      <table cellpadding="0" cellspacing="0" border="0">
        <colgroup>
          <col>
          <col width="80">
          <col width="120">
          <col width="60">
          <col width="140">
        </colgroup>
        <tr>
          <td class="InnerInputTD" colspan="5">
            <select class="TableInnerInput">
              <option selected value="">Country Select..</option>
              {% for country in countries %}
              <option value="{{ country }}">{{ country }}</option>
              {% endfor %}
            </select>
            <select class="TableInnerInput">
              <option>State Select..</option>
              <option selected>MA</option>
            </select>
            <select class="TableInnerInput">
              <option>School Select..</option>
              <option selected>St. John’s High School</option>
            </select>
          </td>
          <th>Start Date : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="10" value="2018-08-25" />
          </td>
          <th>Course : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="12"value="Year 9" />
          </td>
        </tr>
      </table>
    </div><!-- InfoTable -->
  </div><!-- Information -->
  <div class="AddIcon" onclick="showDiv(10)">
    <div>Add</div>
  </div>
</div><!-- ChoiceSet -->


<div id="ChoiceSet10" class="ChoiceSet" style="display:none;">
  <div class="TitleIcon">10th<br />Choice</div>
  <div class="Information">
    <div class="InfoTable">
      <table cellpadding="0" cellspacing="0" border="0">
        <colgroup>
          <col>
          <col width="80">
          <col width="120">
          <col width="60">
          <col width="140">
        </colgroup>
        <tr>
          <td class="InnerInputTD" colspan="5">
            <select class="TableInnerInput">
              <option selected value="">Country Select..</option>
              {% for country in countries %}
              <option value="{{ country }}">{{ country }}</option>
              {% endfor %}
            </select>
            <select class="TableInnerInput">
              <option>State Select..</option>
              <option selected>MA</option>
            </select>
            <select class="TableInnerInput">
              <option>School Select..</option>
              <option selected>St. John’s High School</option>
            </select>
          </td>
          <th>Start Date : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="10" value="2018-08-25" />
          </td>
          <th>Course : </th>
          <td class="InnerInputTD">
            <input type="text" class="TableInnerInput" size="12"value="Year 9" />
          </td>
        </tr>
      </table>
    </div><!-- InfoTable -->
  </div><!-- Information -->
</div><!-- ChoiceSet -->


<div class="EndPart"></div>
