{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="ContentsFrame">
	<div class="MainAFrame">
		<div class="MTitle">Customer Search</div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="170">
					<col>
					<col width="80">
					<col>
				</colgroup>
				<tr>
					<th>Name, Phone, E-mail Search :</th>
					<td class="InnerInputTD">
						<input type="text" class="TableInnerInput" size="36" />
						<label><input type="radio" checked /><span></span>Registered</label>
						<label><input type="radio" /><span></span>No Registered</label>
					</td>
					<th>Possibility : </th>
					<td>
						<label><input type="radio" checked /><span></span>A</label>
						<label><input type="radio" /><span></span>B</label>
						<label><input type="radio" /><span></span>C</label>
						<label><input type="radio" /><span></span>T</label>
					</td>
				</tr>
				<tr>
					<th>Expected departure :</th>
					<td class="InnerInputTD">
						<select class="TableInnerInput">
							<option>Within 3months</option>
						</select>
						<label><input type="radio" checked /><span></span>US</label>
						<label><input type="radio" /><span></span>CA</label>
						<label><input type="radio" /><span></span>UK</label>
						<label><input type="radio" /><span></span>AU</label>
						<label><input type="radio" /><span></span>NZ</label>
					</td>
					<th>Type : </th>
					<td>
						<label><input type="radio" checked /><span></span>K-12</label>
						<label><input type="radio" /><span></span>College</label>
						<label><input type="radio" /><span></span>Camp</label>
					</td>
				</tr>
			</table>
			<div class="SchoolButton">Search</div>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>



		<div class="MTitle">Customer List</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="20">
					<col>
					<col>
					<col>
					<col>
					<col width="60">
					<col>
					<col>
					<col>
					<col>
					<col width="250">
					<col width="40">
					<col width="40">
					<col width="40">
					<col>
				</colgroup>
				<tr>
					<th rowspan="2">No.</th>
					<th rowspan="2">Date</th>
					<th rowspan="2">Name</th>
					<th rowspan="2">Status</th>
					<th rowspan="2">Possibility</th>
					<th rowspan="2">Expected Departure</th>
					<th rowspan="2">Program</th>
					<th rowspan="2">Country</th>
					<th rowspan="2">Cell Phone</th>
					<th rowspan="2">We Chat ID</th>
					<th rowspan="2">Counseling details</th>
					<th colspan="3" class="row2">Contact history</th>
					<th rowspan="2">Registration</th>
				</tr>
				<tr>
					<th class="row2">1st</th>
					<th class="row2">2nd</th>
					<th class="row2">3rd</th>
				</tr>
        {% for i in data %}
				<tr>
					<td>{{ i.id }}</td>
					<td>{{ i.counseling_date.year }}-{{ i.counseling_date.month }}-{{ i.counseling_date.day }}</td>
					<td><a href="customer/{{i.id}}/register">{{ i.student }}</a></td>
					<td>{{ i.status }}</td>
					<td>{{ i.possibility }}</td>
					<td>{{ i.expected_departure.year }}-{{ i.expected_departure.month }}-{{ i.expected_departure.day }}</td>
					<td>{{ i.program_interested|capfirst }}</td>
					<td>{{ i.desire_country|upper }}</td>
					<td>{{ i.student.phone }}</td>
					<td>{{ i.student.wechat }}</td>
					<td>{{ i.detail }}</td>
					<td>{{ i.contact_first }}</td>
					<td>{{ i.contact_second }}</td>
					<td>{{ i.contact_third }}</td>
					<td class="InnerInputTD">
						<a class="Button" href="application/{{ i.id }}/register" target="_BLANK">Register..</a>
					</td>
				</tr>
        {% endfor %}
			</table>
		</div><!-- ListTable -->
    <div class="ListCounter">
      {% if data.has_other_pages %}
        {% if data.has_previous %}
          <a href="?page={{ data.previous_page_number }}">&laquo;</a>
        {% endif %}

        {% for i in data.paginator.page_range %}
          {% if data.number == i %}
            <span>{{ i }}</span>
          {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
          {% endif %}
        {% endfor %}

        {% if data.has_next %}
          <a href="?page={{ data.next_page_number }}">&raquo;</a>
        {% endif %}
      {% endif %}
    </div>

    <!-- <div class="pagination">
    <span class="step-links">
        {% if data.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ data.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ data.number }} of {{ data.paginator.num_pages }}.
        </span>

        {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}">next</a>
            <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span> -->
</div>
	</div><!-- MainFrame -->
</div><!--  ContentsFrame-->
</body>
</html>
{% endblock %}
