{% extends 'base2.html' %}
{% load static %}
{% block content %}

{% if found_report %}
<div class="ContentsFrame">


	<div class="MainFrame" id="MainF">
		<form method="POST">
			{% csrf_token %}
			<input type="text" name="report_id" value="{{found_report.id}}" hidden>
		<div class="PTitle">Student Academic Report</div>
		<div class="MTitle" style="width:100%;">
			<div class="MTitleForm">
				<select class="MTitleInput" onchange="location=this.value;">
          <option value="">Select Reports..</option>
					{% for report in all_reports %}
					<option value="/student/current/report/{{report.id}}">{{report.send_to_agent_date|date:"Y-m-d"}}</option>
          {% endfor %}
				</select>
			</div>
			Student Information
		</div>

		<div class="cdiv"></div>
		<div class="InformationSet">
			{% if found_report.student.image %}
			<div class="Picture" style="background-image:url('{{MEDIA_URL}}{{found_report.student.image}}');">&nbsp;</div>
			{% else %}
			<div class="Picture" style="background-image:url('{% static 'img/no_user.png' %}');">&nbsp;</div>
			{% endif %}
			<div class="Information">
				<div class="InfoTable">
					<table cellpadding="0" cellspacing="0" border="0">
						<colgroup>
							<col width="90">
							<col width="100">
							<col width="60">
							<col width="">
							<col width="150">
							<col width="100">
						</colgroup>
						<tr>
							<th>Name : </th>
							<td colspan="3" class="InnerInputTD">{{found_report.student.name}}</td>
							<th>Counseling Date : </th>
							<td class="InnerInputTD"><input name="counseling_date" type="text" class="TableInnerInput" style="width:120px;" value="{{found_report.counseling_date}}" disabled /></td>
						</tr>
						<tr>
							<th>School : </th>
							<td colspan="3" class="InnerInputTD">{{found_report.student.school.name}}</td>
							<th style="color:red;">* Agent Confirm Date (Fill and Save to Confirm): </th>
							<td class="InnerInputTD">
                {% if found_report.agent_confirmed %}
                <input
                  name="agent_confirmed"
                  type="text"
                  class="TableInnerInput"
                  style="width:120px;"
                  pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                  placeholder="YYYY-MM-DD"
                  value="{{found_report.agent_confirmed|date:'Y-m-d'}}" />
                {% else %}
                <input
                  name="agent_confirmed"
                  type="text"
                  class="TableInnerInput"
                  style="width:120px;"
                  pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                  placeholder="YYYY-MM-DD"/>
                {% endif %}
              </td>
						</tr>
						<tr>
							<th>School Year : </th>
							<td class="InnerInputTD"><input name="school_year" type="text" class="TableInnerInput" style="width:100px;" value="{{found_report.school_year}}" disabled/></td>
							<th>Grade : </th>
							<td class="InnerInputTD"><input name="grade" type="text" class="TableInnerInput" style="width:100px;" value="{{found_report.grade}}" disabled/></td>
							<th style="color:red;">* Report to Parent Date : </th>
							<td class="InnerInputTD">
                {% if found_report.report_to_parent %}
                <input
                  name="report_to_parent"
                  type="text"
                  class="TableInnerInput"
                  style="width:120px;"
                  pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                  placeholder="YYYY-MM-DD"
                  value="{{found_report.report_to_parent|date:'Y-m-d'}}" />
                {% else %}
                <input
                  name="report_to_parent"
                  type="text"
                  class="TableInnerInput"
                  style="width:120px;"
                  pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
                  placeholder="YYYY-MM-DD"/>
                {% endif %}
              </td>
						</tr>
					</table>
				</div><!-- InfoTable -->
			</div><!-- Information -->

            <label class="HButton" style="background-color:#bdbebd">Photo</label>
			<div class="Information">
				<div class="InfoTable">
					<table cellpadding="0" cellspacing="0" border="0">
						<colgroup>
							<col width="90">
							<col>
						</colgroup>
						<tr>
							<th>College Plan : </th>
							<td class="InnerInputTD"><input name="college_plan" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.college_plan}}" disabled/></td>
						</tr>
					</table>
				</div><!-- InfoTable -->
			</div><!-- Information -->
		</div><!-- InformationSet -->
		<div class="EndPart"></div>

		<div class="MTitle">Academic Record and Review</div>
		<div class="cdiv"></div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>Subject</th>
					{% for record in academic_records %}
						{% if record.subject %}
							<td class="InnerInputTD"><input name="subject{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.subject }}" readonly /></td>
						{% else %}
						<td class="InnerInputTD"><input name="subject{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" readonly /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="subject{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" readonly /></td>
					{% endfor %}
					<td>Quater GPA</td>
				</tr>
				<tr>
					<th>Level</th>
					{% for record in academic_records %}
						{% if record.level %}
						<td class="InnerInputTD"><input name="level{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.level }}" readonly /></td>
						{% else %}
						<td class="InnerInputTD"><input name="level{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" readonly /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="level{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" readonly /></td>
					{% endfor %}
					<td class="InnerInputTD"></td>
				</tr>
				<tr>
					<th>Target</th>
					{% for record in academic_records %}
						{% if record.target %}
						<td class="InnerInputTD"><input name="target{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.target }}" readonly /></td>
						{% else %}
						<td class="InnerInputTD"><input name="target{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" readonly /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="target{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" readonly /></td>
					{% endfor %}
					<td class="InnerInputTD"></td>
				</tr>
				<tr>
					<th>Current</th>
					{% for record in academic_records %}
						{% if record.current %}
						<td class="InnerInputTD"><input name="current{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.current }}" readonly /></td>
						{% else %}
						<td class="InnerInputTD"><input name="current{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" readonly /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="current{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" readonly /></td>
					{% endfor %}
					<td class="InnerInputTD"></td>
				</tr>
				<tr>
					<th>Current Grade</th>
					{% for record in academic_records %}
						{% if record.current_grade %}
						<td class="InnerInputTD"><input name="current_grade{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="{{ record.current_grade }}" readonly /></td>
						{% else %}
						<td class="InnerInputTD"><input name="current_grade{{record.subject_number}}" type="text" class="TableInnerInput" style="width:100px;" value="" readonly /></td>
						{% endif %}
					{% endfor %}
					{% for num in academic_range %}
						<td class="InnerInputTD"><input name="current_grade{{num}}" type="text" class="TableInnerInput" style="width:100px;" value="" readonly /></td>
					{% endfor %}
					{% if found_report.quater_gpa %}
					<td class="InnerInputTD"><input name="quater_gpa" type="text" class="TableInnerInput" style="width:100px;" value="{{found_report.quater_gpa}}" readonly /></td>
					{% else %}
					<td class="InnerInputTD"><input name="quater_gpa" type="text" class="TableInnerInput" style="width:100px;" value="" readonly /></td>
					{% endif %}
				</tr>
				<tr>
					<th>Comment</th>
					<td colspan="9" class="InnerInputTD">
					<textarea class="TableInnerTextarea" style="height:100px;width:calc(100% - 10px);" name="comment" readonly>{{found_report.comment}}</textarea>
					</td>
				</tr>
				<tr>
					<th>Target GPA</th>
					<td colspan="9" class="InnerInputTD">
					<textarea class="TableInnerTextarea" style="height:100px;width:calc(100% - 10px);" name="target_gpa" readonly>{{found_report.target_gpa}}</textarea>
					</td>
				</tr>
				<tr>
					<th>To see current Transcript</th>
					<td colspan="9" class="InnerInputTD">
					<textarea class="TableInnerTextarea" style="height:100px;width:calc(100% - 10px);" name="transcript" readonly>{{found_report.transcript}}</textarea>
					<a href="{{found_report.transcript}}">{{found_report.transcript}}</a>
					</td>
				</tr>
			</table>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>



		<div class="MTitle">English Skills / TOEFL</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<textarea class="TableInnerTextarea" style="height:100px;" name="eng_skill" readonly>{{found_report.eng_skill}}</textarea>
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col width="100">
				</colgroup>
				<tr>
					<th>TOEFL</th>
					<th>Reading</th>
					<th>Listening</th>
					<th>Speaking</th>
					<th>Writing</th>
					<th>Total</th>
					<th>Target</th>
					<th>Next Test Date</th>
				</tr>
				{% for toefl in all_toefl %}
					<tr>
						<input type="text" name="toefl_id" value="{{toefl.id}}" hidden>
						<td class="InnerInputTD">
							<input
								name="toefl_date{{toefl.id}}"
								type="text"
								class="TableInnerInput"
								style="width:100px;"
								pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
								placeholder="YYYY-MM-DD"
								value="{{toefl.toefl_date|date:'Y-m-d'}}" readonly />
						</td>
						<td class="InnerInputTD"><input name="toefl_reading{{toefl.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{toefl.reading}}" readonly /></td>
						<td class="InnerInputTD"><input name="toefl_listening{{toefl.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{toefl.listening}}" readonly /></td>
						<td class="InnerInputTD"><input name="toefl_speaking{{toefl.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{toefl.speaking}}" readonly /></td>
						<td class="InnerInputTD"><input name="toefl_writing{{toefl.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{toefl.writing}}" readonly /></td>
						<td class="InnerInputTD"><input name="toefl_total{{toefl.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{toefl.total}}" readonly /></td>
						<td class="InnerInputTD"><input name="toefl_target{{toefl.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{toefl.target}}" readonly /></td>
						<td class="InnerInputTD"><input name="toefl_next_test_date{{toefl.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{toefl.next_test_date}}" readonly /></td>
					</tr>
				{% endfor %}
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>



		<div class="MTitle">SAT/ACT Test Scores</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col width="100">
				</colgroup>
				<tr>
					<th>SAT(PSAT)</th>
					<th>Evidence-based Reading & Writing</th>
					<th>Math</th>
					<th>Total</th>
					<th>Target</th>
					<th>Next Test Date</th>
				</tr>
				{% for sat in all_sat %}
					<tr>
						<input type="text" name="sat_id" value="{{sat.id}}" hidden>
						<td class="InnerInputTD">
							<input
								name="sat_date{{sat.id}}"
								type="text"
								class="TableInnerInput"
								style="width:100px;"
								pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
								placeholder="YYYY-MM-DD"
								value="{{sat.sat_date|date:'Y-m-d'}}" readonly />
						</td>
						<td class="InnerInputTD"><input name="sat_eb_reading_writing{{sat.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{sat.eb_reading_writing}}" readonly /></td>
						<td class="InnerInputTD"><input name="sat_math{{sat.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{sat.math}}" readonly /></td>
						<td class="InnerInputTD"><input name="sat_total{{sat.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{sat.total}}" readonly /></td>
						<td class="InnerInputTD"><input name="sat_target{{sat.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{sat.target}}" readonly /></td>
						<td class="InnerInputTD"><input name="sat_next_test_date{{sat.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{sat.next_test_date}}" readonly /></td>
					</tr>
				{% endfor %}
			</table>
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col>
					<col width="100">
				</colgroup>
				<tr>
					<th>ACT</th>
					<th>English</th>
					<th>Math</th>
					<th>Reading</th>
					<th>Science</th>
					<th>Composite Score</th>
					<th>Target</th>
					<th>Next Test Date</th>
				</tr>
				{% for act in all_act %}
					<tr>
						<input type="text" name="act_id" value="{{act.id}}" hidden>
						<td class="InnerInputTD">
							<input
								name="act_date{{act.id}}"
								type="text"
								class="TableInnerInput"
								style="width:100px;"
								pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
								placeholder="YYYY-MM-DD"
								value="{{act.act_date|date:'Y-m-d'}}" readonly />
						</td>
						<td class="InnerInputTD"><input name="act_eng{{act.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{act.eng}}" readonly /></td>
						<td class="InnerInputTD"><input name="act_math{{act.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{act.math}}" readonly /></td>
						<td class="InnerInputTD"><input name="act_reading{{act.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{act.reading}}" readonly /></td>
						<td class="InnerInputTD"><input name="act_science{{act.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{act.science}}" readonly /></td>
						<td class="InnerInputTD"><input name="act_cp_score{{act.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{act.cp_score}}" readonly /></td>
						<td class="InnerInputTD"><input name="act_target{{act.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{act.target}}" readonly /></td>
						<td class="InnerInputTD"><input name="act_next_test_date{{act.id}}" type="text" class="TableInnerInput" style="width:100px;" value="{{act.next_test_date}}" readonly /></td>
					</tr>
				{% endfor %}
		</table>
		</div><!-- ListTable -->
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="100">
					<col>
				</colgroup>
				<tr>
					<th>AP Tests</th>
					<td class="InnerInputTD"><textarea name="ap_tests" class="TableInnerTextarea" style="height:100px;" readonly>{{found_report.ap_tests}}</textarea></td>
				</tr>
				<tr>
					<th>SAT Subject Tests</th>
					<td class="InnerInputTD"><textarea name="sat_subjects_tests" class="TableInnerTextarea" style="height:100px;" readonly>{{found_report.sat_subjects_tests}}</textarea></td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>

		<div class="MTitle">Consulting for Test Preparation</div>
		<div class="cdiv"></div>
		<div class="ListTable">
		<textarea name="test_prep" class="TableInnerTextarea" style="height:100px;" readonly>{{found_report.test_prep}}</textarea>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>


		<script>
		$(document).ready(function(){

			$.ajax({                       // initialize an AJAX request
				url: "/student/transcript/statistics/{{found_report.student.id}}",                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
				success: function (data) {   // `data` is the return of the `load_cities` view function
					var sat_date = data.sat_date;
					var act_date = data.act_date;
					var toefl_date = data.toefl_date;
					var months = data.months
					var gpa = data.gpa;

					var ctx = document.getElementById("SatStatisticChart");
					var ctx2 = document.getElementById("ActStatisticChart");
					var ctx3 = document.getElementById("ToeflStatisticChart");
					var ctx4 = document.getElementById("GpaStatisticChart");
					var myChart = new Chart(ctx, {
							type: 'line',
							data: {
									labels: sat_date,
									datasets: [
										{
											label:"SAT",
											data: data.sat_score,
											fill:false,
											borderColor: [
												'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',1' + ')',
											],
											borderWidth: 2
										},
									],
							},
							options: {
									title: {
										display:false,
										text: "SAT"
									},
									scales: {
											yAxes: [{
													ticks: {
															beginAtZero:true
													}
											}]
									}
							}
					});

					var myChart2 = new Chart(ctx2, {
							type: 'line',
							data: {
									labels: act_date,
									datasets: [
										{
											label:"ACT",
											data: data.act_score,
											fill:false,
											borderColor: [
												'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',1' + ')',
											],
											borderWidth: 2
										},
									],
							},
							options: {
									title: {
										display:false,
										text: "ACT"
									},
									scales: {
											yAxes: [{
													ticks: {
															beginAtZero:true
													}
											}]
									}
							}
					});

					var myChart3 = new Chart(ctx3, {
							type: 'line',
							data: {
									labels: toefl_date,
									datasets: [
										{
											label:"TOEFL",
											data: data.toefl_score,
											fill:false,
											borderColor: [
												'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',1' + ')',
											],
											borderWidth: 2
										},
									],
							},
							options: {
									title: {
										display:false,
										text: "TOEFL"
									},
									scales: {
											yAxes: [{
													ticks: {
															beginAtZero:true
													}
											}]
									}
							}
					});

					var myChart4 = new Chart(ctx4, {
							type: 'line',
							data: {
									labels: months,
									datasets: [
										{
											label:"GPA",
											data: data.gpa,
											fill:false,
											borderColor: [
												'rgb(' + (Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',' +
												(Math.floor(Math.random() * 256)) + ',1' + ')',
											],
											borderWidth: 2
										},
									],
							},
							options: {
									title: {
										display:false,
										text: "GPA"
									},
									scales: {
											yAxes: [{
													ticks: {
															beginAtZero:true
													}
											}]
									}
							}
					});

				}
			});
		})
		</script>

		<div class="MTitle">Graph for GPA, TOEFL, SAT, ACT</div>
		<div class="cdiv"></div>
		<div class="Layout_2-1">
		<div class="GraphgArea">
			<canvas id="SatStatisticChart" width="636" height="300"></canvas>
		</div>
		</div><!-- Layout_2-1 -->
		<div class="Layout_2-1">
		<div class="GraphgArea">
			<canvas id="ActStatisticChart" width="636" height="300"></canvas>
		</div>
		</div><!-- Layout_2-1 -->
		<div class="EndPart"></div>
		<div class="cdiv"></div>

		<div class="cdiv"></div>
		<div class="Layout_2-1">
		<div class="GraphgArea">
			<canvas id="ToeflStatisticChart" width="636" height="300"></canvas>
		</div>
		</div><!-- Layout_2-1 -->
		<div class="Layout_2-1">
		<div class="GraphgArea">
			<canvas id="GpaStatisticChart" width="636" height="300"></canvas>
		</div>
		</div><!-- Layout_2-1 -->
		<div class="EndPart"></div>
		<div class="cdiv"></div>


		<div class="EndPart"></div>

		<div class="MTitle">Activities</div>
		<div class="cdiv"></div>
		<div class="ListTable">
		<textarea name="activities" class="TableInnerTextarea" style="height:100px;" readonly>{{found_report.activities}}</textarea>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>

		<div class="MTitle">Community Services</div>
		<div class="cdiv"></div>
		<div class="ListTable">
		<textarea name="community_services" class="TableInnerTextarea" style="height:100px;" readonly>{{found_report.community_services}}</textarea>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>

		<div class="MTitle">Objective / Assignment for Next Report</div>
		<div class="cdiv"></div>
		<div class="ListTable">
		<textarea name="objective_assignment" class="TableInnerTextarea" style="height:100px;" readonly>{{found_report.objective_assignment}}</textarea>
		</div><!-- InfoTable -->
		<div class="EndPart"></div>

		<div class="MTitle">Payment & Invoice</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col>
				</colgroup>
				<tr>
					<th>Description</th>
					<th>Expense</th>
					<th>Due Date</th>
					<th>Payment</th>
					<th>Paid Date</th>
					<th>Balance</th>
					<th>Invoice Attachment</th>
				</tr>
				<tr>
					<td class="InnerInputTD"><input name="payment_desc" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.payment_desc}}" readonly/></td>
					<td class="InnerInputTD"><input name="payment_expense" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.payment_expense}}" readonly/></td>
					<td class="InnerInputTD"><input name="payment_due_date" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.payment_due_date}}" readonly/></td>
					<td class="InnerInputTD"><input name="payment_payment" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.payment_payment}}" readonly/></td>
					<td class="InnerInputTD"><input name="payment_paid_date" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.payment_paid_date}}" readonly/></td>
					<td class="InnerInputTD"><input name="payment_balance" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.payment_balance}}" readonly/></td>
					<td class="InnerInputTD"><input name="payment_invoice" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{found_report.payment_invoice}}" readonly/></td>
				</tr>
			</table>
		</div><!-- ListTable -->
		<div class="EndPart"></div>


        <div class="MTitle">Communication Log</div>
        <div class="cdiv"></div>
        <div class="ListTable">
            <table cellpadding="0" cellspacing="0" border="0">
                <colgroup>
                    <col>
                </colgroup>
                <tr>
                    <th>Updated</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>Comment</th>
                    <th>Writer</th>
                </tr>
                <tr>
					{% for log in all_logs %}
						<tr>
							<td class="InnerInputTD"><input name="log_updated_at" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{log.updated_at}}" readonly /></td>
							<td class="InnerInputTD"><input name="log_category" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{log.category}}" readonly /></td>
							<td class="InnerInputTD"><input name="log_priority}" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{log.priority}}" readonly /></td>
							<td class="InnerInputTD"><input name="log_comment" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{log.comment}}" readonly /></td>
							<td class="InnerInputTD"><input name="log_writer" type="text" class="TableInnerInput" style="width:calc(100% - 10px);" value="{{log.writer}}" readonly /></td>
						</tr>
					{% endfor %}
                </tr>
            </table>
        </div><!-- ListTable -->
        <div class="EndPart"></div>



    <div class="MTitle">Host Family Monthly Report</div>
		<div class="cdiv"></div>
		<div class="InfoTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<colgroup>
					<col width="150">
					<col>
					<col>
				</colgroup>
				<tr>
					<th>Host Family Name : </th>
					<td colspan="2" class="InnerInputTD">{{found_report.host_report.host.name}}</td>
				</tr>
				<tr>
					<th>Host Family Address : </th>
					<td colspan="2" class="InnerInputTD">{{found_report.host_report.host.address}}</td>
				</tr>
				<tr>
					<th>Host Family Contact Info : </th>
					<td colspan="2" class="InnerInputTD">{{found_report.host_report.host.phone}} / {{found_report.host_report.host.email}}</td>
				</tr>
				<tr>
					<th>Rate </th>
					<td class="InnerInputTD">{{found_report.host_report.rate|capfirst}}</td>
					<td class="InnerInputTD">Improvement :  {{found_report.host_report.improvement|capfirst}}</td>
				</tr>
        <tr>
					<th>Cultural Fluency : </th>
					<td colspan="2" class="InnerInputTD">{{found_report.host_report.cultural_fluency}}</td>
				</tr>
				<tr>
					<th>House Rules & Attitude</th>
					<td colspan="2" class="InnerInputTD">{{found_report.host_report.house_rule_attitude}}</td>
				</tr>
				<tr>
					<th>Responsibility</th>
          <td colspan="2" class="InnerInputTD">{{found_report.host_report.responsibility}}</td>
				</tr>
				<tr>
					<th>Communication</th>
          <td colspan="2" class="InnerInputTD">{{found_report.host_report.communication}}</td>
				</tr>
				<tr>
					<th>Sleeping Habits</th>
          <td colspan="2" class="InnerInputTD">{{found_report.host_report.sleeping_habits}}</td>
				</tr>
				<tr>
					<th>School Attendance</th>
          <td colspan="2" class="InnerInputTD">{{found_report.host_report.school_attendance}}</td>
				</tr>
				<tr>
					<td colspan="3" class="InnerInputTD">
					<textarea class="TableInnerTextarea" style="height:100px;" readonly>{{found_report.host_report.comment}}</textarea>
					</td>
				</tr>
				{% if found_host_report.photos.all %}
				<tr>
					<th>Photos</th>
					<td colspan="3" class="InnerInputTD">
						{% for photo in found_host_report.photos.all %}
						<img src="{{MEDIA_URL}}{{photo.photo}}" width="400px" alt="">
						<span style="margin-right:10px;"></span>
						{% endfor %}
						<span id="HostReportHostPhoto" style="margin-right:10px;"></span>
					</td>
				</tr>
				{% endif %}
				{% if found_host_report.files.all %}
				<tr>
					<th>Files</th>
					<td colspan="3" class="InnerInputTD">
						{% for file in found_host_report.files.all %}
						<a href="{{MEDIA_URL}}{{file.file}}">{{file.file}}</a><br>
						{% endfor %}
						<span id="HostReportHostFile"></span>
					</td>
				</tr>
				{% endif %}
			</table>
		</div><!-- ListTable -->
        <div class="EndPart"></div>


        <div class="MTitle">Status</div>
		<div class="cdiv"></div>
		<div class="ListTable">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<th>Report Status : </th>
					<td>
            {% if found_report.send_to_agent_date and not found_report.agent_confirmed and not found_report.report_to_parent %}
            Send to Agent  :  {{found_report.send_to_agent_date|date:"Y-m-d"}}
            {% elif found_report.agent_confirmed and not found_report.report_to_parent %}
            Send to Agent  :  {{found_report.send_to_agent_date|date:"Y-m-d"}} / Agent Confirmed  :  {{found_report.agent_confirmed|date:"Y-m-d"}}
            {% elif found_report.report_to_parent %}
            Send to Agent  :  {{found_report.send_to_agent_date|date:"Y-m-d"}} / Agent Confirmed  :  {{found_report.agent_confirmed|date:"Y-m-d"}} / Report to parent : {{found_report.report_to_parent|date:"Y-m-d"}}
            {% endif %}
					</td>
				</tr>
			</table>
		</div><!-- ListTable -->
        <div class="EndPart"></div>


        <div class="SubmitButtonLine">
			<button class="Submit" type="submit">SAVE</button>
		</div>
		</form>
		<div class="EndPart"></div>


    <div class="EndPart"></div>
{% else %}
<div style="display:flex;justify-content:center;">
	<div style="margin-top:300px;font-size:50px;">No Report Found</div>
</div>
{% endif %}

{% endblock %}
